<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Настройка интернета на Windows 8</h1>
<p><b>Пошаговая инструкция по настройке доступа в интернет на компьютере с Windows 8.</b></p>

<p>Если вам требуется настроить интернет на компьютере с Windows 8, вы можете воспользоваться услугами наших специалистов. Оставить заявку вы можете на сайте, или позвонив по телефону 646-01-26.</p>

<p class="h2">Чем мы можем помочь?</p>
<ol>
<li>Установим драйвер сетевого адаптера (если необходимо);</li>
<li>Настроим интернет, независимо от того, к какому провайдеру вы подключены.</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>590</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>
 
<h2>Установка драйвера сетевого адаптера</h2>
<p>Чтобы понять, требуется ли вам установка сетевого драйвера, нужно открыть <b>Сетевые подключения</b> и убедиться, что сетевой адаптер, который вы хотите использовать для подключения, есть в списке.</p>
<p>Пуск – Панель управления – Сеть и подключения к Интернету – Сетевые подключения.</p>

<div class="guru g1">
<p>Рассмотрим пример, когда вам нужно подключить Windows 8 к Интернету через Wi-Fi</p>
<p><img src="http://static.akvi.ru/i/wifi/windows/8.png" alt=""/></p>
<p>В данном примере можно видеть, что подключение по локальной сети доступно, а беспроводного подключения в списке нет. Это значит, что для подключения интернета <b>по Wi-Fi</b> вам потребуется <u>установить драйвер Wi-Fi</u> адаптера, а подключение <b>по локальной сети</b> установлено, и его можно использовать для выхода в Интернет.</p>
<p><b>NB!</b> Часто на ноутбуках (Acer, Asus и других) есть комбинация клавиш, которая отключает Wi-Fi антенну для экономии заряда аккумулятора. В этом случае беспроводное подключение тоже будет отсутствовать в списке, и вам потребуется нажать некоторую комбинацию клавиш, чтобы включить его. Обычно это клавиши Fn+F3 (или та, что с пиктограммой антенны), или на корпусе ноутбука для этого может быть специальная клавиша или переключатель.</p>
<p>Если же требуемое подключение есть в списке, то можно переходить непосредственно к настройкам Интернета.</p>
</div>


<h2>Настройка Интернета напрямую к провайдеру</h2>

<p>Итак, допустим, сетевой адаптер есть в списке, и вы хотите подключить компьютер с Windows 8 к Интернету напрямую (без роутера). Поскольку у каждого провайдера все устроено по-своему, мы не будем давать абстрактных общих рецептов по настройке Интернета на Windows 8, а сразу посоветуем перейти <a href="/wifi/nastroika/computer/">к статье</a>, где расписаны настройки подключения к основным провайдерам Москвы и даны ссылки на сайты технической поддержки этих провайдеров. Там можно найти и распечатать необходимые инструкции.</p>
<p>Далее, вам потребуется найти договор с вашим провайдером, который оставили вам монтажники при подключении компьютера к интернету. В договоре, как правило, содержатся адреса, логины, пароли и другие данные, которые потребуются в процессе настройки интернета.</p>
<p>Имея на руках распечатанную инструкцию вашего провайдера по настройке интернета на Windows 8 и данные из договора, вам остается только выполнить указанные действия.</p>
<p>Обычно процедура проходит гладко, и настройка интернета на Windows 8 не занимает более 10 минут, даже если вы делаете это в первый раз. Однако бывают ситуации, когда какие-то неправильные настройки, сбитые/неправильно установленные драйвера, или действия вирусов мешают нормальной работе интернета. В такой ситуации рекомендуем обратиться к нам за консультацией по телефону 646-01-26, или оставить заявку на выезд мастера.</p>

<h2>Настройка интернета на Windows 8 через домашнюю сеть</h2>

<p>Если вы подключаетесь к интернету через роутер, который уже настроен на работу с вашим провайдером, то процедура настройки Windows 8 существенно упрощается. Нужно всего лишь подключиться к роутеру по Wi-Fi сети, или воткнуть сетевой кабель в разъем Ethernet.</p>
<p>Вся дальнейшая настройка интернета произойдет автоматически: Windows 8 получит сетевой адрес по DHCP, и вы сможете выходить в интернет. Если же у вас на роутере настроено статическое распределение адресов, то вам потребуется прописать эти данные вручную. Последовательность действий вы можете посмотреть в коротком обучающем видео. Имейте в виду, что для успешной настройки интернета на Windows 8, вам потребуется вписать именно ваши значения IP-адресов шлюзов и DNS серверов.</p>
<!--ВИДЕО-->
<p><code>Здесь будет видео по настройке статической адресации</code><br/>Настройка статической IP-адресации на компьютере с Windows 8.</p>
<p>На видео приведен пример настройки статической адресации для проводного соединения, но ровно так же делается это и для беспроводного. Имейте в виду, что для успешной настройки интернета на Windows 8, вам потребуется вписать именно ваши значения IP-адресов шлюзов и DNS серверов.</p>
<!--Помогло видео? Нажмите «мне нравится» - нам будет приятно!  +1ки-->




<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>