<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка интернета на Windows</h1>
<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Какие шаги обычно требуется выполнить, чтобы настроить Windows для работы в Интернете.</p>
</div>







<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Настроим интернет на компьютере или ноутбуке.</b> Независимо от типа подключения Интернета, будь то локальная сеть, или WiFi, мы настроим.</li>
<li><b>Проведем антивирусную профилактику</b>, если интернет не работает по причине вредоносных действий вирусов.</li>
<li><b>Установим драйвер</b> сетевой карты или WiFi-адаптера, если текущий поврежден или отсутствует в системе.</li>
<li><b>Найдем решение любой проблемы с работой Интернета!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)</td><td>390</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>










<p>Все, описанные в этой статье, способы настройки интернета в системе Windows применимы в первую очередь в случаях, когда компьютер ранее не использовался для доступа в интернет через требуемое подключение. Если интернет на Windows ранее уже был настроен и работал, то рекомендуем провести <a href="http://www.akvi.ru/wifi/nastroika/index.html">диагностику</a>.</p>
<p>Вот основные случаи, когда может потребоваться настройка интернета на Windows:</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<p><b>Вы купили новый компьютер</b></p>
<p>На новом компьютере требуется настроить Windows на работу с вашим Интернет-провайдером. Процедура настройки немного отличается в различных версиях Windows, но общие принципы, описанные ниже в этой статье, одинаковы.</p>
<p><b>Совет</b>: если новый компьютер не единственный в вашей квартире, возможно, стоит задуматься об организации домашней сети через роутер.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<p><b>Вы переустановили Windows</b></p>
<p>Довольно часто после переустановки Windows в системе отсутствуют драйверы сетевых устройств, без которых настроить интернет на компьютере невозможно. Вам потребуется найти, скачать и установить драйвер.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<p><b>Компьютер требуется подключить к сети, в которой он раньше не работал</b></p>
<p>Потребуется внести сетевые настройки того провайдера, к которому вы собираетесь подключиться.</p>
</div>

<p class="h2">Чем мы можем помочь:</p>
<ol>
<li>Установим драйвер сетевого адаптера;</li>
<li>Настроим интернет, независимо от того, к какому провайдеру вы подключены.</li>
</ol>

<p>Если вы убедились, что на лицевом счете достаточно средств, и интернет не находится в состоянии блокировки, вы можете воспользоваться услугами наших специалистов, которые настроят интернет на вашем компьютере, независимо от версии Windows и провайдера. Оставить заявку вы можете на сайте, или позвонив по телефону 646-01-26.</p>
<!--*** квалификация мгу ***-->



<!--*** выжимка из прайс-листа с кнопками заказать ***
*** Вставка блока про выезд за 2 часа и заказ ***-->


<h2>Установка драйвера сетевого адаптера</h2>
<p>Самая большая проблема при установке сетевого драйвера обычно заключается в том, что чтобы его скачать и установить – нужен интернет, а чтобы был интернет – нужно сначала установить драйвер. Если вы попали в такую тупиковую ситуацию, и у вас под рукой нет ни другого компьютера с интернетом, ни диска с драйвером, рекомендуем обратиться за помощью к нашим специалистам. За многие годы работы у нас накопилась база драйверов практически для любых сетевых карт и Wi-Fi модулей, поэтому специалисту будет достаточно 10 минут, чтобы решить эту проблему.</p>
<!--*** прайс из 2 строчек (wifi и eth) и кнопка заказать ***-->

<h2>Настройка TCP/IP</h2>
<p>Настройка TCP/IP – это процедура присваивания компьютеру сетевого адреса и указания шлюза и DNS-сервера, которые необходимы компьютера для выхода в интернет. Большинство крупных провайдеров используют технологию автоматической раздачи адресов (DHCP), и такая настройка в этом случае не требуется. По этому принципу работает, например, Акадо.</p>
<p>Бывают ситуации, когда для настройки интернета на Windows требуется прописать эти адреса вручную. В конечном итоге эта процедура сводится к заполнению вот таких полей:</p>
<p><img src="http://static.akvi.ru/i/wifi/windows/ip.png" alt=""/></p>
<p>Адреса, разумеется, нужно прописывать те, которые предоставил вам провайдер. Разница между операционными системами Windows состоит лишь в том, как найти и открыть на это окно. Подробная инструкция находится в этих статьях:</p>
<ul>
<li><a href="/wifi/nastroika/windows/xp.html">Настройка интернета на Windows XP</a></li>
<li><a href="/wifi/nastroika/windows/vista.html">Настройка интернета на Windows Vista</a></li>
<li><a href="/wifi/nastroika/windows/7.html">Настройка интернета на Windows 7</a></li>
<li><a href="/wifi/nastroika/windows/8.html">Настройка интернета на Windows 8</a></li>
</ul>

<h2>Настройка VPN-соединения</h2>
<p>VPN-соединение – это тип подключения, когда для доступа в сеть используются уникальные логин и пароль клиента, которые выдает провайдер. Такой тип подключения использует, например, Билайн (Корбина).</p>
<p>Настройка VPN на Windows – достаточно нетривиальная процедура, которая сильно отличается в зависимости от провайдера. В общем случае, лучшим решением будет зайти на страницу техподдержки вашего провайдера и посмотреть инструкции по настройке интернета. В <a href="/wifi/nastroika/computer/">этой статье</a> приведены ссылки на разделы поддержки основных провайдеров Москвы.</p>
<p>Если у вас возникли трудности с настройкой VPN-соединения на Windows, вы можете обратиться за бесплатной консультацией к нашему специалисту, или оставить заявку на выезд нашего мастера, который грамотно настроит интернет и, по вашему желанию, распечатает инструкцию, чтобы в следующий раз вы легко смоги сделать это самостоятельно.</p>

		
<p>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>
<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>
</div>