<div class="txt">
<h1>Акции и спецпредложения</h1>
<div class="best">
<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1" style="background-position: 0 0"/></div>

<h2 id="spec3">Купон на скидку</h2>
<p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5%, показав его мастеру.</p>
</div>
<div style="clear:both"></div>
</div>