<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>
<h1>Как соединить два компьютера?</h1>

<p class="h2">Чем мы можем помочь?</p>
<p>Если вам нужна консультация о том, как правильно организовать сеть между двумя компьютерами, обращайтесь к нам по телефону 6460126. Мы можем не только проконсультировать по конкретной задаче, но и посоветовать что-то по вашей проблеме в целом (как мы уже говорили, прямое соединение компьютеров – весьма экзотический способ, который очень часто используют не по назначению).</p>

<ul>
<li>Настроим прямое соединение между двумя компьютерами (проводное или Wi-Fi)</li>
<li>Настроим беспроводную точку доступа на ноутбуке</li>
<li>Настроим общий доступ в интернет</li>
<li>Решим любую другую задачу по настройке сети</li>
</ul>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Поможем с выбором оборудования;</li>
<li>Настроим шифрование по новейшему алгоритму WPA2;</li>
<li>Подключим к сети компьютеры, принтеры и мобильные устройства;</li>
<li>Настроим доступ в Интернет;</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Wi-Fi)</td><td>590</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Ethernet)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<p>Рассмотрим основные варианты соединения двух компьютеров в сеть. Напрямую компьютеры можно соединить следующими способами:</p>
<ul>
<li>по Wi-Fi</li>
<li>через сетевой кабель (витая пара)</li>
<li>по USB</li>
</ul>

<p>Так же можно настроить соединение между двумя компьютерами через роутер.</p>

<h2>Оправданность соединения двух компьютеров напрямую</h2>
<p>На первый взгляд, может показаться абсурдом начинать статью с вопроса: «А вы уверены, что вам нужно именно создать сеть между компьютерами, а не что-то другое?», но в данном случае именно так будет правильно. Дело в том, что прямое соединение компьютер-компьютер эффективно далеко не во всех случаях, в которых его пытаются применять.</p>
<p>Рассмотрим, для чего может потребоваться соединять два компьютера или ноутбука в сеть, и покажем, можно ли решить эти же задачи более эффективно:</p>
<ol>
<li>Вам нужно передать информацию с одного компьютера на другой;</li>
<li>Вам нужно сделать доступ в интернет для второго компьютера в ситуации, когда подключение осуществляется через USB-модем или телефон;</li>
<li>Вам нужно, чтобы принтер, подключенный к компьютеру, был доступен с другого компьютера (общий принтер);</li>
<li>Вам нужно организовать доступ к общей папке;</li>
<li>Вы хотите играть в сетевую игру;</li>
</ol>


<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<p><b>Передача информации между компьютерами</b></p>
<p><img src="http://static.akvi.ru/i/wifi/dropbox.png"></p>
<p>Если вам нужно передать файлы с одного компьютера на другой, то соединять их в сеть напрямую – не самый удачный способ решения проблемы. Настройка прямого соединения не всегда проходит гладко (особенно, если на компьютерах установлена устаревшая Windows XP), а скорость передачи файлов будет невысокая. </p>
<p>Если объем информации большой (20ГБ и более), то лучше купить или взять у кого-нибудь на время внешний жесткий диск, или даже извлечь жесткий диск из одного компьютера и <u>установить в другой</u>. В этом случае скорость передачи данных будет буквально на порядок выше, чем при передаче по сети.</p>
</div>
<div class="guru g1">
<p>Другим очень удачным инструментом синхронизации файлов между компьютерами является программа Dropbox. Она создает специальную папку и, если положить в нее файлы, то они автоматически скопируются через интернет на все устройства, на которых вы установили Dropbox (Windows, Mac, Linux, iOS, Android и Blackberry). Так очень удобно хранить свои фотографии и документы. Вы сможете иметь к ним доступ из любого места и с любого компьютера, где есть интернет!</p>
<p>Посмотрите видео, в котором просто и наглядно объясняются основные принципы работы программы (на английском языке)</p>
<p><iframe width="560" height="315" src="http://www.youtube.com/embed/w4eTR7tci6A" frameborder="0" allowfullscreen></iframe></p>
<p>Установить эту программу бесплатно можно здесь: <a href="https://www.dropbox.com/referrals/NTE5MDEwMjM5?src=akvi.ru">https://www.dropbox.com/referrals/NTE5MDEwMjM5?src=akvi.ru</a></p>
<p>После установки вам будет доступно для работы 2 ГБ + 250 МБ вы получите, когда начнете активно использовать программу.</p>
</div>
<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Установка и настройка Dropbox (за 1 устройство)</td><td>390</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<p><b>Общий доступ в интернет</b></p>
<p>Если вам требуется раздать интернет, к которому вы подключаетесь через USB-модем, телефон или каким-то еще экзотическим способом, на один или несколько компьютеров, то вам действительно нужно соединить два компьютера по Wi-Fi или с помощью кабеля.</p>
<p>Однако, если это обычное проводное подключение к интернету через провайдера, рекомендуем сделать это с помощью роутера: как минимум вам не придется постоянно держать один компьютер постоянно включенным.</p>
</div>	
<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Ethernet)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<p><b>Общий принтер</b></p>
<p>Если у вас есть принтер, на котором требуется печатать с нескольких компьютеров, то создание сети между этими компьютерами и настройка общего доступа к принтеру, действительно, один из вариантов решения задачи. Единственный и очень серьезный недостаток такого решения – это необходимость держать постоянно включенным компьютер, к которому подключен принтер.</p>
<p>Более удачным вариантом может быть покупка роутера с функцией подключения принтера, или полноценного сетевого принтера.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="4" style="background-position: 0 -270px"/></div>
<div class="best">
<p><b>Общий доступ к сетевой папке</b></p>
<p>Если вам необходимо иметь папку, куда одновременно могли бы иметь доступ несколько компьютеров, то настройка общего доступа к ней – один из вариантов решения задачи. Чтобы сделать общую папку, вам потребуется соединить два компьютера в сеть и в свойствах папки сделать ее общей. В Windows Vista помимо этого потребуется внести изменения в ограничения Центра управления сетями и общим доступом (в панели управления).</p>
<p>Более изящным решением является использование Dropbox. В этом случае даже не обязательно, чтобы компьютеры были подключены к одной сети: достаточно, чтобы у них просто был доступ в интернет. Компьютеры могут при этом находиться где угодно! Скачать и установить бесплатную программу Dropbox вы сможете, пройдя по ссылке: https://www.dropbox.com/referrals/NTE5MDEwMjM5?src=akvi.ru</p>
</div>


<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="5" style="background-position: 0 -360px"/></div>
<div class="best">
<p><b>Сетевые игры</b></p>
<p>Если вы хотите использовать домашние компьютеры для игры по сети, то, действительно, вам потребуется соединить эти два компьютера. Правда соединение компьютеров напрямую для этого не является единственным, и, уж тем более, самым удобным способом. Более грамотным решением было бы <a href="/wifi/router/">настроить домашнюю сеть через роутер</a>. Однако если роутера под рукой нет, а поиграть хочется, то придется настраивать прямое соединение.</p>
</div>


<h2>Как создать прямое соединение компьютер-компьютер?</h2>
<p>Сделать это можно тремя способами:</p>
<ol>
<li>Через USB;</li>
<li>Через Wi-Fi;</li>
<li>Через сетевой кабель;</li>
</ol>

<p><b>USB</b></p>
<p>Соединение двух компьютеров по USB является очень редким и нераспространенным способом, потому что обычный пассивный USB-кабель для этого не подойдет (компьютеры просто не увидят друг друга). Существуют активные USB-кабели для соединения 2 компьютеров. В них заложена сложная электроника, эмулирующая сетевой адаптер, а потому стоят они дорого (дороже двух сетевых карт вместе взятых), и для работы такого кабеля потребуется установка специальных драйверов на каждом из компьютеров, которые вы собираетесь соединять.</p>
<p>Мы крайне не рекомендуем такой способ соединения, потому что существуют гораздо более простые и адекватные способы решить эту задачу.</p>
<p><b>Wi-Fi</b></p>
<p>Беспроводное соединение компьютеров или ноутбуков через Wi-Fi  - это, пожалуй, самый простой и удобный способ создания сети, потому что вам не потребуются ни кабели, ни какие-либо другие устройства (нужно только наличие беспроводных адаптеров на обоих ноутбуках). Сделать это можно, создав на одном из компьютеров беспроводную сеть одним из способов:</p>
<ul>
<li>в режиме Ad-hoc;</li>
<li>в режиме точки доступа;</li>
</ul>
<p>Режим точки доступа является более предпочтительным, но поддерживается только в Windows 7 и более новых версиях. Режим Ad-hoc доступен во всех Windows, начиная с XP. Детальное описание настройки сети в режиме Ad-hoc:</p>
<ul>
<li><a href="/wifi/2-computera/windows/xp.html">Для Windows XP</a></li>
<li><a href="/wifi/2-computera/windows/vista.html">Для Windows Vista</a></li>
<li><a href="/wifi/2-computera/windows/7.html">Для Windows 7</a></li>
<li><a href="/wifi/2-computera/windows/8.html">Для Windows 8</a></li>
</ul>
	

<p><b>Сетевой кабель</b></p>
<p>В соответствии со стандартом, для прямого соединения компьютер-компьютер нужно использовать сетевой кабель, обжатый перекрестным способом (кроссовер), в то время как для соединения компьютера с роутером или другими сетевыми устройствами требуется прямой кабель (патч корд).</p>
<p><img src="http://static.akvi.ru/i/wifi/crossover.png"></p>
<div class="guru g1">
<p>В последнее время некоторые производители сетевых карт пошли навстречу пользователям (при этом в разрез со стандартами), и «научили» свои карты соединяться через любые, даже неправильно обжатые, кабели. Поэтому соединение между компьютерами может заработать, даже если вы используете патч корд вместо кроссовера. Но не стоит этим злоупотреблять, потому что если вы решите заменить сетевую карту на одном из компьютеров (или соединить с помощью него другие компьютеры), то совсем не факт, что другая сетевая карта догадается, что вы используете неправильный кабель и исправит это за вас. Приобретая кабель для соединения двух компьютеров в сеть, обязательно убедитесь, что он обжат именно перекрестным способом.</p>
<!--Полезный совет – лайк!-->
</div>

<p>После того, как вы подключите кабель к обоим компьютерам, вам потребуется настроить сетевые параметры так, чтобы компьютеры могли видеть друг друга.</p>
<ul>
<li>Если вам требуется просто обмениваться локальной информацией между компьютерами (играть в игры, общие папки и т.п.), то достаточно будет настроить статическую адресацию на обоих компьютерах. Нужно открыть сетевые настройки на одном из компьютеров и прописать в них IP-адрес 192.168.0.1 и маску подсети 255.255.255.0 (обычно, подставляется автоматически). Остальные поля можно оставить пустыми. После этого, нужно сделать аналогичную процедуру на втором компьютере, только в качестве адреса указать 192.168.0.2.</li>
<!--ВИДЕО Как настроить статическую IP-адресацию.-->
<li>Если вам нужно раздавать интернет с одного из компьютеров, то прописывать адреса вручную нет необходимости. Достаточно включить на компьютере, подключенном к интернету, службу ICS (Internet Connection Sharing), и она автоматически запустит службу DHCP, которая присвоит IP-адреса обоим компьютерам автоматически.</li>
</ul>
<p>Как настроить общий доступ в Интернет:</p>
<ol>
<li>Зайдите в <b>Сетевые подключения</b>.</li>
<li>Щелкните правой кнопкой мыши на подключение, которое должно использоваться для выхода в Интернет, далее – на кнопку Свойства.</li>
<li>Откройте вкладку Дополнительно.</li>
<li>В разделе <b>Общий доступ к подключению Интернета</b> установите флажок <b>Разрешить другим пользователям сети использовать подключение к Интернету данного компьютера</b>.</li>
</ol>
<!--ВИДЕО-->

<div class="guru g1">
<p><b>Возможные проблемы с Windows XP и Vista</b></p>
<p>Если вы все сделали правильно, но доступ в интернет не появился, то проблема может заключиться в том, что файерволл блокирует передачу данных между компьютерами. Рекомендуем просто отключить его на «ведомом» компьютере, а если это не поможет, то попробовать сделать то же самое и на ведущем. Особенно вероятно, что это поможет, если вы используете Windows XP или Vista хотя бы на одном из компьютеров.</p>
</div>


		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>
