<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Как соединить два компьютера по сети?</h1>
<p>В этой статье мы рассмотрим особенности соединения двух компьютеров через кабель Ethernet. Если вам нужно соединить их по Wi-Fi, то рекомендуем прочитать <a href="/wifi/2-computera/wifi.html">эту статью</a>.</p>

<p class="h2">Чем мы можем помочь?</p>
<p>Если вам нужна консультация о том, как правильно организовать сеть между двумя компьютерами, обращайтесь к нам по телефону 6460126, или оставьте заявку на выезд специалиста на сайте.</p>
<ul>
<li>Настроим прямое соединение между двумя компьютерами (проводное или Wi-Fi);</li>
<li>Настроим общий доступ в интернет;</li>
<li>Решим любую другую задачу по настройке сети!</li>
</ul>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Ethernet)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>




<h2>Соединение двух компьютеров через кабель Ethernet</h2>
<p>Соединение двух компьютеров напрямую через кабель работает более надежно и быстро, чем соединение по Wi-Fi. Но для настройки такого соединения вам может потребоваться специальный кабель кроссовер. По внешнему виду он ничем не отличается от обычного сетевого кабеля (патч корда) – вся разница состоит в том, что некоторые контакты переставлены местами.</p>
<p><img src="http://static.akvi.ru/i/wifi/crossover.png"></p>

<div class="guru g1">
<p>Патчкорд предназначен для соединения компьютеров с сетевым оборудованием, а кроссовер – для соединения двух компьютеров напрямую. На практике очень часто бывает так, что даже с обычным кабелем сеть между двумя компьютерами начинает работать (современные сетевые карты могут такую ситуацию распознавать и подстраиваться под нее), но это является скорее отклонением от нормы. Если у вас нет кроссовера, но есть обычный кабель, то стоит для начала попробовать настроить соединение с помощью него. Но если оно не заработает, то ничего удивительного в этом нет – придется купить кроссовер.</p>
</div>

<p>После того, как вы подключите кабель к обоим компьютерам, вам потребуется настроить сетевые параметры так, чтобы компьютеры могли видеть друг друга. Это можно сделать двумя способами:</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<p>Если соединение между компьютерами вам требуется для раздачи интернета с одного компьютера на другой, то достаточно просто включить службу общего доступа в интернет. Это приведет к тому, что на компьютере включится служба DHCP, которая автоматически присвоит сетевой адрес второму компьютеру.</p>
<!--ВИДЕО
помогло видео - лайк-->
</div>
<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<p>Если вы не планируете настраивать общий доступ в интернет, а вам требуется просто соединить два компьютера, то нужно настроить статическую IP-адресацию. Для этого на одном из компьютеров потребуется открыть сетевые настройки того адаптера, который вы используете для подключения и прописать в них IP-адрес 192.168.0.1 и маску подсети 255.255.255.0 (обычно, подставляется автоматически). Остальные поля можно оставить пустыми.</p>
<p>После этого, нужно сделать аналогичную процедуру на втором компьютере, только в качестве IP-адреса указать 192.168.0.2.</p>
<!--Видео-->
</div>
<p>Теперь сетевое соединение настроено, и два компьютера должны видеть друг друга. Осталось это проверить.</p>
	

<h2>Как проверить, работает ли соединение между компьютерами?</h2>
<p>Если вы настраивали Общий доступ к интернету, то проще всего попробовать выйти в интернет через тот компьютер, который не подключен к интернету напрямую. Если сайты загружаются, значит всё работает правильно.</p>
<p>Если вы прописывали статические IP-адреса, то чтобы убедиться, что сеть между двумя компьютерами работает, необходимо с каждого компьютера «пропинговать» соседний. Для этого нужно:</p>
<ol>
<li>Запустить командную строку (Пуск -> Выполнить (в Windows XP) или Пуск -> в строке поиска ввести cmd и нажать Enter (в Windows Vista и 7)) на обоих компьютерах;</li>
<li>На каждом из компьютеров выполнить команду ping <ip_адрес_другого_компьютера>, например, ping 192.168.1.1
<ol>
<li>Если компьютеры видят друг друга, то вы увидите примерно такое сообщение:<br/><img src="http://static.akvi.ru/i/wifi/ping_ok.png"></li>
<li>Если не видят, то такое:<br/><img src="http://static.akvi.ru/i/wifi/ping_fail.png"></li>
</ol>
</ol>

<p>Если соединение между компьютерами не установлено, то рекомендуем сделать две вещи:</p>
<ol>
<li>Отключить Firewall на обоих компьютерах и попробовать соединиться еще раз.</li>
<!--ВИДЕО. Как отключить Firewall-->
<li>Если вы использовали обычный сетевой кабель, то, возможно, сетевые карты не смогли с ним работать. Попробуйте найти кабель типа «кроссовер», или соединить компьютеры по Wi-Fi.</li>
</ol>


<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>


</div>