<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Как настроить Wi-Fi сеть между двумя ноутбуками?</h1>
<p>В двух словах: Вам потребуется создать на одном из компьютеров беспроводную сеть, а на другом – присоединиться к ней.</p>


<p class="h2">Чем мы можем помочь?</p>
<p>Если у вас возникли трудности с настройкой соединения двух компьютеров по Wi-Fi, или вам необходимо настроить раздачу интернета с компьютера по беспроводной сети, вы можете обратиться к нам за консультацией по телефону 6460126 или вызвать специалиста на дом.</p>
<ol>
<li>Настроим прямое соединение между двумя компьютерами (проводное или Wi-Fi);</li>
<li>Настроим беспроводную точку доступа на ноутбуке с общим доступом в интернет;</li>
<li>Решим любую другую задачу.</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Wi-Fi)</td><td>590</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Ethernet)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<h2>Соединение ноутбуков по Wi-Fi</h2>
<p>Один из самых простых способов соединить два (или несколько) ноутбуков  по сети – создать беспроводное соединение через Wi-Fi . Это удобный способ создания сети между ноутбуками напрямую (разумеется, с <a href="/wifi/router/">роутером</a> сделать это проще, но здесь мы рассмотрим именно прямое соединение). На одном из компьютеров потребуется создать Wi-Fi сеть, а на другом – подключиться к ней.</p>
<p>Рассмотрим два способа создания Wi-Fi сети для соединения компьютеров напрямую:</p>
<ul>
<li>в режиме Ad-hoc;</li>
<li>в режиме точки доступа;</li>
</ul>
<p>Режим точки доступа является <a href="/wifi/2-computera/">более предпочтительным</a>, но поддерживается только в Windows 7 и более новых версиях. Режим Ad-hoc доступен во всех Windows, начиная с XP.</p>
<br/>
<p><img src="http://static.akvi.ru/i/wifi/adhoc.jpg" alt=""/></p>
<p>Рисунок 1: Схема организации сети для общего доступа в Интернет</p>

<h2>Как настроить общий доступ в Интернет через сеть Ad-hoc</h2>
<p>Наиболее частой причиной, по которой настраивают прямое соединение между компьютерами по Wi-Fi, является желание раздать интернет с одного компьютера на другие. Именно поэтому мы рассмотрим этот случай в качестве примера.</p>
<p>Задача решается в три этапа:</p>
<ol>
<li>Настройка общего доступа в интернет</li>
<li>Создание сети Ad-hoc</li>
<li>Настройка файерволла</li>
</ol>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<p><b>Настройка общего доступа</b></p>
<p>Чтобы разрешить общий доступ в интернет на компьютере, который к нему подключен, нужно сделать следующее:</p>
<ol>
<li>Нажмите кнопку <b>Пуск</b> и выберите пункт <b>Панель управления</b>.</li>
<li>Щелкните пункт <b>Сеть и подключения к Интернету</b>.</li>
<li>Щелкните ссылку <b>Сетевые подключения</b>.</li>
<li>Щелкните правой кнопкой мыши подключение, которое должно использоваться для выхода в Интернет.</li>
<li>Нажмите кнопку <b>Свойства</b>.</li>
<li>Откройте вкладку <b>Дополнительно</b>.</li>
<li>В разделе Общий доступ к подключению Интернета установите флажок <b>Разрешить другим пользователям сети использовать подключение к Интернету данного компьютера</b>. Если вы используете Windows 7, то система предложит выбрать среди сетевых адаптеров тот, что подключен к домашней сети.</li>
<li>Нажмите кнопку <b>ОК</b>. Если после этого появится сообщение, то его нужно прочитать и нажать <b>ОК</b>.</li>
</ol>
<!--ВИДЕО-->
</div>


<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<p><b>Создание Ad-hoc сети</b></p>
<p>Далее вам потребуется установить Ad-hoc сеть компьютер-компьютер. Эта процедура очень сильно отличается между различными версиями Windows, поэтому рекомендуем посмотреть соответствующие статьи для каждой из версий: Windows <a href="/wifi/2-computera/windows/xp.html">XP</a>, <a href="/wifi/2-computera/windows/vista.html">Vista</a>, <a href="/wifi/2-computera/windows/7.html">7</a>, <a href="/wifi/2-computera/windows/8.html">8</a>.</p>
<p>Несмотря на фактическое различие порядка действий, принцип соединения двух компьютеров по Wi-Fi один и тот же, независимо от версии Windows:</p>
<ol>
<li>На одном из компьютеров нужно запустить  мастер создания беспроводной сети и при выборе вариантов указать тип беспроводной сети Ad-hoc.</li>
<li>После этого потребуется указать тип шифрования, имя сети и ключ. Если в сети будут участвовать компьютеры с Windows XP, рекомендуем использовать тип шифрования WEP (для большей совместимости). Если будут использоваться только компьютеры с Windows Vista или более поздней версией операционной системы, то стоит указать WPA2 (для лучшей защиты сети).</li>
<li>После того как беспроводная сеть будет создана, к ней нужно будет подключиться с другого компьютера. Это делается точно так же, как если бы это была обычная Wi-Fi сеть, создаваемая роутером.</li>
</ol>
<div class="guru g1">
<p>На этом этапе имеет смысл попробовать выйти в интернет с того компьютера, на который происходит раздача интернета. Если все работает, то третий шаг вам не нужен.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<p><b>Настройка Firewall</b></p>
<div class="guru g2">
<p>Firewall – это встроенная функцию Windows, предназначенная для защиты компьютера от нежелательного сетевого трафика. Firewall отслеживает все сетевые соединения и на основании прописанных правил либо разрешает их, либо запрещает. Для наглядности можно провести аналогию с КПП – пройти может тот у кого есть пропуск.</p>
</div>
<p>Часто бывает так, что вы все правильно настроили, но компьютеры не видят друг друга. В подавляющем большинстве случаев это связано с тем, что Windows Firewall блокирует трафик между компьютерами. Чтобы выяснить, действительно ли проблема связана именно с этим, проще всего отключить Firewall на обоих компьютерах и посмотреть, заработает ли интернет.</p>
<p><img src="http://static.akvi.ru/i/wifi/firewall.png" alt=""/></p>
<p>Рисунок 2: Отключение Firewall в Windows 7</p>
<p>Если соединение появилось, и интернет на втором компьютере заработал, то можно попробовать включить Firewall на компьютере, подключенном к интернету. Если после этого интернет на обоих компьютерах по-прежнему работает, то на этом можно остановиться: Firewall на компьютере, подключенном к интернету, отфильтрует весь нежелательный трафик, поэтому для другого компьютера соединение можно считать безопасным.</p>
<!--ВИДЕО как отключить firewall
Понравилось видео – ЛАЙК-->
</div>
<div class="guru g1">
<p>Предложенная схема решения вопроса, как правило делает свое дело, но по сути она является  «топорной». Если вы подключаетесь к интернету через устройство со встроенной функцией Firewall, то ничего страшного в этом нет. Тем не менее, более правильным решением было бы не отключать Firewall на компьютерах полностью, а настроить в нем исключение для данного соединения. Рассмотрение этого вопроса выходит за рамки статьи.</p>
<p>Наши специалисты при выполнении заказов по настройке прямого соединения между компьютерами по Wi-Fi именно настраивают исключение, а не отключают Firewall полностью.</p>
</div>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Wi-Fi)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>
	

<h2>Простой способ соединить два компьютера по Wi-Fi</h2>
<p>Выше мы привели описание настройки соединения компьютеров по W-Fi  штатными средствами Windows, которые позволяют сделать это в режиме Ad-hoc. Существует также еще один способ – программа <a href="http://www.connectify.me/">Connectify</a>.</p>
<p>В бесплатном режиме она позволяет использовать Windows 7 в качестве точки доступа и соединять компьютеры в сеть более простым способом, чем описано выше (подробнее о преимуществах режима точки доступа написано <a href="/wifi/2-computera/">здесь</a>).</p>
<p>В бесплатной версии, программа позволяет очень легко и быстро настроить раздачу интернета по Wi-Fi через компьютер с Windows 7 без использования роутеров или другого оборудования. Если купить полную версию программы на сайте connectify.me (стоимость составляет около 900 рублей, зависит от курса доллара), то будут доступны такие функции, как:</p>
<ul>
<li>Создание общего доступа в интернет, подключение к которому производится через 3G/4G модемы, сотовые телефоны и другие USB-модемы;</li>
<li>Беспроводную сеть можно будет назвать как угодно (в бесплатной версии она всегда начинается с connectify-);</li>
<li>Поддержка Windows XP и Windows Vista (только в режиме Ad-hoc);</li>
</ul>

<p><img src="http://static.akvi.ru/i/wifi/connectify.png" alt=""/></p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Создание точки доступа на Windows 7 (с помощью Connectify Lite)</td><td>690</td></tr>
</table>
</div>

<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>
