<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Настройка роутера</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Пошаговое руководство на настройке роутера: настройка подключения к интернету, создание Wi-Fi сети на роутере, смена пароля и настройка принтера для печати через роутер.</p>
</div>


<p class="h2">Чем мы можем помочь?</p>
<p>Наши сертифицированные специалисты настроят любой роутер на работу в Интернете, независимо от его модели и от того, услугами какого провайдера вы пользуетесь. Вызвать специалиста на дом или получить бесплатную консультацию по настройке роутера, вы можете по телефону 6460126 или оставить заявку на сайте.</p>
<ol>
<li><b>Настроим надежно защищенную Wi-Fi сеть.</b> Ваши соседи не смогут бесплатно пользоваться вашим интернетом.</li>
<li><b>Настроим роутер на работу с любым провайдером.</b></li>
<li><b>Подключим любые устройства к вашей домашней сети.</b></li>
<li><b>Настроим принтер через роутер.</b> Вы сможете печатать с любого компьютера из вашей домашней сети.</li>
<li><b>Решим любую другую задачу!</b></li>
</ol>


<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<p>Здесь мы не будем останавливаться на вопросах выбора правильной модели роутера, а сразу перейдем к настройке устройства. Если вам нужно настроить компьютер так, чтобы он выполнял функционал роутера, то посмотрите <a href="/wifi/2-computera/wifi.html">эту статью</a>.</p>
<h2>Шаг 1: Настройка беспроводной сети на Wi-Fi роутере</h2>
<p>Первое, что вам потребуется сделать – <a href="/wifi/wifi/sozdanie-wifi-router.html">настроить беспроводную сеть на роутере</a>, чтобы компьютеры, телефоны и другие устройства могли подключаться к нему по Wi-Fi. Вне зависимости от конкретной модели и производителя роутера, принцип настройки сети Wi-Fi всегда один и тот же: нужно зайти в настройки беспроводной сети (WLAN или Wireless LAN) и там указать имя сети, тип шифрования и ключ безопасности (пароль от Wi-Fi).</p>
<h2>Шаг 2: Настройка подключения роутера к провайдеру</h2>
<p>Чтобы не давать общих абстрактных рекомендаций на тему настройки роутеров на работу с московскими провайдерами (Билайн, Стрим, Акадо, NetByNet, МГТС и другие), мы собрали <a href="/wifi/router/provider.html">подборку инструкций</a> непосредственно с официальных сайтов этих провайдеров и дали ссылки на эти страницы, чтобы вы могли использовать самую актуальную информацию по настройке вашего оборудования.</p>
<h2>Шаг 3: Смена пароля от роутера</h2>
<p>Для надежной защиты вашей сети от взлома и кражи трафика, исключительно важно <a href="/wifi/router/parol.html">изменить стандартный пароль от роутера</a> сразу после настройки Wi-Fi и интернета. В противном случае, злоумышленник, подключившийся к роутеру по Wi-Fi или проводу, сможет войти в панель администрирования без пароля (или по стандартному паролю) и узнать ваш пароль от Wi-Fi, или вообще перенастроить устройство как угодно. Если в домашних условиях эта проблема стоит не столь остро, то при настройке публичных точек доступа Wi-Fi (кафе, отели, гостиницы и т.п.), сменить пароль от роутера критически важно: рано или поздно обязательно найдется какая-нибудь любопытная Варвара, которая полезет куда не надо.</p>
<h2>Шаг 4: Подключение к роутеру принтера или жесткого диска через USB</h2>
<p>Если в вашем роутере есть разъем USB, то, скорее всего, он предусмотрен для того, чтобы <u>подключать к нему принтеры</u> или внешние жесткие диски.</p>
<p>Если подключить принтер к роутеру и правильно все настроить, то печатать он будет так, как будто подключен напрямую к каждому компьютеру в домашней сети. Это очень удобно, особенно, если в квартире несколько комнат, и компьютеры находятся в разных местах.</p>



		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>