<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка роутеров различных производителей</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Краткое описание процесса настройки роутера, а также телефоны и сайты поддержки наиболее распространенных производителей (D-Link, ASUS, Linksys, Netgear, ZTE, Zyxel, Trendnet, TP Link).</p>
</div>


<p>Любой роутер, независимо от производителя, настраивается по одному и тому же принципу. Если в целом понять принцип настройки устройства, то становится уже не важно, каким производителем он сделан. Это примерно как с автомобилем – если вы научились ездить на Ford, то и с Mitsubishi вы тоже разберетесь.</p>
<p>По этой причине мы не приводим детальное описание настройки роутеров всех возможных производителей и моделей, а рассказываем только базовый принцип настройки роутера и приводим телефон техподдержки производителя на случай, если вы столкнулись с какой-то экстраординарной ситуацией.</p>
<p>Вы можете также обратиться к нам за бесплатной консультацией по телефону 6460126: наши специалисты имею огромный опыт настройки роутеров и смогут помочь во многих случаях даже по телефону.</p>

<!--
•	Настроим интернет от 490 рублей
•	Настроим домашнюю сеть под ключ от 1200
Мы оказываем профессиональные услуги по настройке роутеров и другого оборудования D-Link, Asus, Linksys, Netgear, ZTE, Zyxel, Trendnet и других производителей на работу со всеми московскими провайдерами. Квалификация наших специалистов позволяет давать годовую гарантию на все услуги по настройке домашней сети.
Чем мы можем помочь
1.	Настроим роутер любого производителя (Asus, D-Link, Zyxel, Trendnet и др.).
2.	Организуем домашнюю сеть Wi-Fi, через которую вы сможете выходить в интернет с любого устройства.
3.	Решим любую задачу по настройке домашней сети и интернета
ДОВЕРЯЯ НАСТРОЙКУ ИНТЕРНЕТА НА КОМПЬЮТЕРЕ НАШИМ СПЕЦИАЛИСТАМ, ВЫ ГАРАНТИРОВАННО ПОЛУЧАЕТЕ ПЕРВОКЛАССНЫЙ СЕРВИС И ГОДОВУЮ ГАРАНТИЮ НА УСЛУГИ!
	
	
-->

 

<h2>Как настроить Wi-Fi роутер?</h2>
<p>Настройка роутера, независимо от модели, всегда сводится к трем основным шагам:</p>
<ol>
<li>Настройка безопасной беспроводной сети Wi-Fi;</li>
<li>Настройка доступа в Интернет на роутере;</li>
<li>Замена стандартного пароля доступа к роутеру;</li>
<li>Опционально можно настроить принтер для работы через роутер или подключить к нему жесткий диск (если роутер поддерживает эти функции).</li>
</ol>
<p>Все эти действия мы очень подробно описали в других статьях, поэтому здесь мы остановимся только на особенностях настройки конкретных моделей роутеров основных производителей.</p>
<div class="guru g1">
<p>Рекомендуем финальным шагом настройки роутера сделать обновление прошивки. Производители в новых версиях прошивок исправляют недостатки работы устройства и добавляют новые функции. Ссылки на страницы официальных сайтов, где можно скачать последние версии прошивок мы собрали ниже на этой странице.</p>
</div>

<h2>D-Link</h2>

<p><img src="http://static.akvi.ru/i/wifi/router/dlink.png" alt=""/></p>
<p>Сайт поддержки пользователей D-Link: <a href="http://www.dlink.ru/ru/support/">http://www.dlink.ru/ru/support/</a></p>
<p>Телефон: +7 (495) 744-00-99 доб. 1</p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.0.1">http://192.168.0.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>


<p>В таблице ниже приведены ссылки на страницы поддержки основных моделей роутеров на сайте производителя, а не ссылки непосредственно на сами файлы. Это сделано для того, чтобы вы могли в любой момент загрузить самую актуальную информацию об устройстве, а не ту, что была на момент написания статьи.</p>


<div style="margin: 20px 70px; ">
<table class="miniprice">
<tr class="t"><td>Изображение</td><td>Модель</td><td>Модель</td><td>Прошивка</td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir100.jpg" alt=""/></td><td>DIR-100</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-100/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-100/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir300.jpg" alt=""/></td><td>DIR-300</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-300_NRU/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-300_NRU/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir320.jpg" alt=""/></td><td>DIR-320</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-320_NRU/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-320_NRU/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir615.jpg" alt=""/></td><td>DIR-615</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-615/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-615/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir620.jpg" alt=""/></td><td>DIR-620</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-620/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-620/Firmware/">Прошивка</a></td></tr>
</table>
</div>


<!--Полезная информация? ЛАЙК-->
<p>Если вас интересует услуга по настройке роутера D-Link, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

Asus
 
Сайт поддержки пользователей ASUS: http://support.asus.com.tw/default.aspx?SLanguage=ru-ru
Технический запрос в службу поддержки: http://vip.asus.com/eservice/techserv.aspx?SLanguage=ru-ru
Телефон: +7 (800) 100-2787, +7 (495) 231-19-99.
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	admin

Инструкции и ссылки на загрузку свежих прошивок наиболее распространенных моделей.
модель		прошивка	описалово
RT-G32	 	http://www.asus.com/Networks/Wireless_Routers/RTG32/#download

RT-N10	 	http://ru.asus.com/Networks/Wireless_Routers/RTN10/#download

RT-N12	 	http://ru.asus.com/Networks/Wireless_Routers/RTN12/#download

RT-N16	 	http://ru.asus.com/Networks/Wireless_Routers/RTN16/#download

WL-520gU	 	http://www.asus.com/Networks/Wireless_Routers/WL520gU/#download
http://www.asus.com/Networks/Wireless_Routers/WL520gU/#download

WL-520gC	 	http://ru.asus.com/Networks/Wireless_Routers/WL520gC/#download
http://ru.asus.com/Networks/Wireless_Routers/WL520gC/#download

WL-500gP V2	 	http://www.asus.com/Networks/Wireless_Routers/WL500gP_V2/#download


Полезная информация? Дайте знать другим! ЛАЙК
Если вас интересует услуга по настройке роутера ASUS, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

Linksys
 
Сайт поддержки пользователей Linksys: http://homesupport.cisco.com/en-eu/support/linksys
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	admin

К сожалению, Linksys не предоставляет телефонную поддержку на территории России, но зато раздел поддержки на сайте Linksys выполнен на высшем уровне. Там вы найдете видео по настройке роутеров Linksys (на английском языке), инструкции и последние версии прошивок. Также доступен онлайн-чат со службой технической поддержки.
Linksys E4200	 	http://homesupport.cisco.com/en-eu/support/routers/E4200

Linksys E3200	 	http://homesupport.cisco.com/en-eu/support/routers/E3200

Linksys E2500	 	http://homesupport.cisco.com/en-eu/support/routers/E2500

Linksys E1500	 	http://homesupport.cisco.com/en-eu/support/routers/E1500

Linksys E1200	 	http://homesupport.cisco.com/en-eu/support/routers/E1200


Полезная информация? Дайте знать другим! ЛАЙК
Если вас интересует услуга по настройке роутера Linksys, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

Netgear
 
Сайт поддержки пользователей Netgear: http://support.netgear.com/app/home
Телефон: + (800) 100-1160
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	password

Подошел пароль? ЛАЙК
Если вас интересует услуга по настройке роутера Netgear, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

ZTE
 
Сайт технической поддержки: http://support.zte.ru/
Задать вопрос: http://support.zte.ru/Menu/FeedBack/FeedBack.aspx
Поддержка по телефону не предоставляется
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	admin

Подошел пароль? ЛАЙК
Если вас интересует услуга по настройке роутера ZTE, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

Zyxel
Сайт технической поддержки: http://zyxel.ru/support/download
Загрузка обновлений: http://zyxel.ru/support/download
Телефон поддержки пользователей Zyxel: +7 (495) 542-8929, +7 (800) 200-8929
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	1234

Подошел пароль? ЛАЙК
Если вас интересует услуга по настройке роутера Zyxel, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

Trendnet
Сайт технической поддержки: http://trendnet.ru/support/
Загрузка обновлений: http://trendnet.ru/fw/
Телефон поддержки пользователей Trendnet: +7 (495) 737-0410, +7 (800) 555-0410
Адреса, логины и пароли от оборудования Trendnet отличаются для каждой конкретной модели.
Модель	IP-адрес	Логин	Пароль
TEW-230APB	192.168.1.100	admin	admin
TEW-430APB	192.168.1.100	admin	admin
TEW-432BRP	192.168.1.1	admin	admin
TEW-432BRP (H/W: D1.X)	192.168.10.1	admin	admin
TEW-434APB	192.168.1.100	admin	admin
TEW-435BRM	192.168.0.1	admin	password
TEW-435BRM (H/W: D2.2)	192.168.1.1	admin	1234
TEW-450APB (H/W: B1.X0	192.168.1.100	admin	admin
TEW-450APB (H/W: C1.0)	192.168.10.100	admin	admin
TEW-452BRP (H/W: B1.1)	192.168.1.1	admin	admin
TEW-452BRP (H/W: C1.0)	192.168.10.1	admin	admin
TEW-453APB	192.168.0.228	admin	password
TEW-455APBO	192.168.10.100	admin	admin
TEW-630APB	192.168.1.100	admin	не требуется
TEW-631BRP	192.168.1.1	admin	не требуется
TEW-632BRP	192.168.10.1	admin	admin
TEW-633GR	192.168.10.1	admin	не требуется
TEW-634GRU	192.168.10.1	admin	admin
TEW-635BRM	192.168.10.1	admin	password
TEW-635BRM (H/W: D1.00R)	192.168.1.1	admin	1234
TEW-636APB	192.168.0.228	admin	password
TEW-637AP	192.168.10.100	не требуется	admin
TEW-638APB	192.168.10.100	не требуется	admin
TEW-639GR	192.168.10.1	admin	не требуется
TEW-510	192.168.1.250	не требуется	admin
TEW-652BRP	192.168.10.1	admin	admin
TEW-653AP	192.168.10.100	admin	admin
TEW-655BR3G	192.168.10.1	не требуется	admin
TEW-610	192.168.0.100	admin	admin
TEW-670AP	192.168.10.100	admin	admin
TEW-671BR	192.168.10.1	admin	admin
TEW-672GR	192.168.10.1	admin	не требуется
TEW-673GRU	192.168.10.1	admin	admin
TEW-691GR	192.168.10.1	admin	не требуется


Подошел пароль? ЛАЙК
Если вашей модели роутера нет в списке, попробуйте поискать ее на этой странице: http://trendnet.ru/support/information/ip-address.php
Если вас интересует услуга по настройке роутера Trendnet, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

TP Link
http://www.tp-linkru.com/support/download/
Телефон поддержки пользователей TP Link: +7 (495) 223-55-60, +7 (800) 250-55-60
Стандартный IP-адрес	http://192.168.1.1

Логин	admin
Пароль по умолчанию	admin
Подошел пароль? ЛАЙК
Если вас интересует услуга по настройке роутера TP Link, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!
	

Блок: Ссылки на другие статьи (автоматом?)
Блок: Несколько вопросов из FAQ
комментирование












<p>Если у вас не работает или постоянно отключается Интернет на компьютере, то самое первое, что вы должны сделать: </p>
<ol>
<li><b>Проверьте баланс лицевого счета.</b> Как ни банально это звучит, но это наиболее частая причина, по которой у людей не работает интернет.</li>
<li><b>Перезагрузите роутер (или модем) и компьютер.</b> Часто проблема кроется в накоплении статического электричества на устройстве доступа. Нужно выключить компьютер, отключить от электрической сети компьютер и устройство, через которое осуществляется доступ в интернет (роутер, модем и т.п.). Подождать 1-2 минуты, затем включить все устройства обратно в розетку и включить компьютер. Проверьте, заработал ли интернет?</li>
<li><b>Позвоните провайдеру.</b> Если интернет все равно не работает, стоит позвонить провайдеру. Большинство проблем с подключением эффективно решает служба технической поддержки.</li>
</ol>
<!--Помогли советы? Дайте нам знать! Оставьте лайки!-->

<p>Если приведенные выше советы не дали результата, то проблема может быть в следующем:</p>
<ol>
<li><b>На компьютере вирус</b>. Обычно вирусы блокируют доступ к отдельным сайтам (чаще всего это сайты поисковых систем, социальных сетей, производителей антивирусов и сайт Microsoft.com), но встречаются разновидности вирусов, которые блокируют доступ в интернет полностью. В этом случае вам потребуется <u>антивирусная профилактика</u>.</li>
<li><b>В системе Windows не прописаны сетевые настройки</b>, необходимые для работы с вашим провайдером. Настройки можно получить в службе технической поддержки <a href="/wifi/nastroika/computer/">вашего провайдера</a>.</li>
</ol>

<p>Вариантов может быть масса, все их обсуждать не имеет смысла. Если провайдер не может помочь вам настроить интернет, то обращайтесь к нам! Мы поможем грамотно решить практически любую проблему с настройкой интернета на компьютере, ноутбуке или роутере. Оставить заказ или получить бесплатную консультацию, вы можете по телефону 646-01-26.</p>
<!--***  врезка про МГУ***-->

<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Настроим интернет на компьютере или ноутбуке.</b> Независимо от типа подключения Интернета, будь то локальная сеть, или WiFi, мы настроим.</li>
<li><b>Проведем антивирусную профилактику</b>, если интернет не работает по причине вредоносных действий вирусов.</li>
<li><b>Установим драйвер</b> сетевой карты или WiFi-адаптера, если текущий поврежден или отсутствует в системе.</li>
<li><b>Найдем решение любой проблемы с работой Интернета!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>





<h2>Диагностика подключения к Интернету</h2>
<p>Если вы чувствуете себя уверенным пользователем Windows, то можно попробовать самостоятельно провести диагностику подключения к Интернету. Пробовать эти шаги нужно только в том случае, если а) раньше вы уже выходили в интернет с этого компьютера; б) пробовали перезагружать роутер, и это не помогло; в) вы убедились, что на счету есть деньги и интернет не находится в состоянии блокировки.</p>
<ol>
<li><b>Запустите командную строку</b>. Пуск -> Все программы -> Стандартные -> Командная строка.</li>
<li>В ней наберите <code>ipconfig</code> и найдите в списке IP-адрес основного шлюза, который используется для подключения к интернету.<br/>
<img src="http://static.akvi.ru/i/wifi/ipconfig.png" alt=""/>
</li>
<li><b>Проверьте доступ к шлюзу.</b> Для этого нужно набрать в адресной строке команду ping <ip_адрес_шлюза>. В нашем случае, нужно ввести команду <code>ping 192.168.0.1</code>. Если ответы приходят, значит, есть соединение с роутером или модемом. Это уже хорошо.</li>
<li><b>Проверьте статус шлюза (роутера или модема).</b> Если связь с роутером есть, а интернет не работает, то проблема, скорее всего, на стороне провайдера. Сведения, которые сильно помогут технической поддержке провайдера локализовать проблему можно получить на странице статистики роутера.<br/><br/>Как правило, к шлюзу можно обратиться, набрав в адресной строке браузера http://<code>ip_адрес _шлюза</code>, в нашем случае <a href="http://192.168.0.1">http://192.168.0.1</a>. Обычно в ответ от роутера приходит страница с требованием ввести пароль. Зная пароль, можно посмотреть статус подключения устройства. Если пароль вам не известен, посмотрите <a href="/wifi/router/parol/">стандартные пароли к роутерам</a>.</li>
<li><b>Проверьте работу DNS-сервера.</b> В командной строке нужно набрать <b>nslookup yandex.ru</b>. Если в ответ приходят IP-адрес сайта, то служба работает нормально. Если нет, об этом нужно сообщить провайдеру.<br/>
<img src="http://static.akvi.ru/i/wifi/nslookup.png" alt=""/></li>
<li><b>Проверьте соединение с сайтами.</b> Например, можно проверить возможность отправлять запросы к сайту yandex.ru (<code>ping yandex.ru</code>)<br/>
<img src="http://static.akvi.ru/i/wifi/ping.png" alt=""/></li>
</ol>
<p>Если все команды успешно отрабатывают, а интернет не работает или постоянно отключается, значит с настройками интернета все в порядке, и проблему нужно искать в вирусах или настройках браузера.</p>
<!--Полезный совет? ЛАЙК!-->

<h2>Как настроить интернет на компьютере или ноутбуке?</h2>
<p>Настройка интернета на компьютере или ноутбуке очень сильно зависит от <a href="/wifi/nastroika/computer/">провайдера</a>, к которому вы подключены. Наиболее распространены следующие типы подключений:</p>
<ol>
<li><b>DHCP</b>. Самый простой вариант настройки интернета – вы просто вставляете сетевой кабель или подключаетесь к сети  Wi-Fi, а компьютер сам получает IP-адрес для работы. Настройка интернета в этом случае происходит автоматически. Такой тип подключения используют Акадо, NetByNet и QWERTY.</li>
<li><b>PPPoE</b>. Более сложный вариант соединения. В этом случае для доступа в интернет используются логин и пароль, которые выдает провайдер. Для правильной настройки всех параметров вам обязательно потребуются договор и все бумаги, которые оставили вам, когда подключали интернет. По такому принципу работают Стрим (МТС) и МГТС.</li>
<li><b>VPN</b>. Такой тип подключения используется провайдером «Билайн». В этом случае для настройки интернета вам тоже потребуются данные из договора.</li>
</ol>

<div class="guru g1">
<p>Если вы подключены к Стрим (МТС), МГТС или Билайн, то каждый раз после включения может потребоваться вводить логин, пароль и нажимать «Подключаться», чтобы получить выйти в Интернет. Эту надоедающую процедуру можно успешно миновать в случае, если настроить роутер на подключение по VPN или PPPoE. Наши специалисты могут помочь с этой задачей – звоните по телефону 646-01-26!</p>
</div>

<p>Настройка интернета на компьютере в каждом конкретном случае зависит от версии <a href="/wifi/nastroika/windows/">Windows</a> (последовательность нажатия кнопок) и от провайдера (см. <a href="/wifi/nastroika/computer/">настройки интернета для основных провайдеров Москвы</a>). Если у вас не получается самостоятельно настроить подключение к интернету на своем компьютере, вы можете получить бесплатную консультацию у нашего специалиста, а также оставить заявку на выезд мастера по телефону 646-01-26.</p>
<!--*** прайс: настройка интернета на компьютере ***-->

<h2>Настройка интернета на роутере</h2>
<p>Правильно настроенный роутер не только позволяет использовать ваш интернет канал нескольким устройствам одновременно, но и постоянно держит соединение, что избавляет от необходимости каждый раз подключаться вручную при включении компьютера.</p>

<div class="guru g2">
<p>Часто провайдеры лукавят, утверждая, что в их сети будет работать только «специальный» роутер, который продается у них за круглую сумму, или требуют доплаты за подключение дополнительных компьютеров. Это не что иное, как попытка заработать на клиенте еще чуть-чуть.</p>
<p>Практически всегда на любом современном роутере можно настроить интернет даже без установки специальных прошивок и прочих ухищрений, причем провайдер даже не будет знать, что вы это сделали!</p>
</div>

<p>Услугами какого провайдера вы бы не пользовались, в нашем штате всегда найдутся специалисты, имеющие опыт настройки роутеров именно в вашей сети. Если вам нужна консультация, позвоните нам по телефону 646-01-26 и задайте любой, даже самый специфический, вопрос по настройке интернета на роутере. Скорее всего, у нас будет ответ!</p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>

<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>

</table>
</div>


		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>