<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка роутеров различных производителей</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Краткое описание процесса настройки роутера, а также телефоны и сайты поддержки наиболее распространенных производителей (D-Link, ASUS, Linksys, Netgear, ZTE, Zyxel, Trendnet, TP Link).</p>
</div>


	
<p class="h2">Чем мы можем помочь?</p>
<p>Мы оказываем профессиональные услуги по настройке роутеров и другого оборудования D-Link, Asus, Linksys, Netgear, ZTE, Zyxel, Trendnet и других производителей на работу со всеми московскими провайдерами. Квалификация наших специалистов позволяет давать годовую гарантию на все услуги по настройке домашней сети.</p>
<ol>
<li>Настроим роутер любого производителя (Asus, D-Link, Zyxel, Trendnet и др.).</li>
<li>Организуем домашнюю сеть Wi-Fi, через которую вы сможете выходить в интернет с любого устройства.</li>
<li>Решим любую задачу по настройке домашней сети и интернета</li>
</ol>


<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<p>Любой роутер, независимо от производителя, настраивается по одному и тому же принципу. Если в целом понять принцип настройки устройства, то становится уже не важно, каким производителем он сделан. Это примерно как с автомобилем – если вы научились ездить на Ford, то и с Mitsubishi вы тоже разберетесь.</p>
<p>По этой причине мы не приводим детальное описание настройки роутеров всех возможных производителей и моделей, а рассказываем только базовый принцип настройки роутера и приводим телефон техподдержки производителя на случай, если вы столкнулись с какой-то экстраординарной ситуацией.</p>
<p>Вы можете также обратиться к нам за бесплатной консультацией по телефону 6460126: наши специалисты имею огромный опыт настройки роутеров и смогут помочь во многих случаях даже по телефону.</p>


<h2>Как настроить Wi-Fi роутер?</h2>
<p>Настройка роутера, независимо от модели, всегда сводится к трем основным шагам:</p>
<ol>
<li><a href="/wifi/wifi/sozdanie-wifi-router.html">Настройка безопасной беспроводной сети Wi-Fi</a>;</li>
<li><a href="/wifi/router/provider.html">Настройка доступа в Интернет на роутере</a>;</li>
<li><a href="/wifi/router/parol.html">Замена стандартного пароля</a> доступа к роутеру;</li>
<li>Опционально можно <u>настроить принтер</u> для работы через роутер или подключить к нему жесткий диск (если роутер поддерживает эти функции).</li>
</ol>
<p>Все эти действия мы очень подробно описали в других статьях, поэтому здесь мы остановимся только на особенностях настройки конкретных моделей роутеров основных производителей.</p>
<div class="guru g1">
<p>Рекомендуем финальным шагом настройки роутера сделать обновление прошивки. Производители в новых версиях прошивок исправляют недостатки работы устройства и добавляют новые функции. Ссылки на страницы официальных сайтов, где можно скачать последние версии прошивок мы собрали ниже на этой странице.</p>
</div>

<h2>Настройка роутеров D-Link</h2>

<p><img src="http://static.akvi.ru/i/wifi/router/dlink.png" alt=""/></p>
<p>Сайт поддержки пользователей D-Link: <a href="http://www.dlink.ru/ru/support/">http://www.dlink.ru/ru/support/</a></p>
<p>Телефон: +7 (495) 744-00-99 доб. 1</p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.0.1">http://192.168.0.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>


<p>В таблице ниже приведены ссылки на страницы поддержки основных моделей роутеров на сайте производителя, а не ссылки непосредственно на сами файлы. Это сделано для того, чтобы вы могли в любой момент загрузить самую актуальную информацию об устройстве, а не ту, что была на момент написания статьи.</p>


<div style="margin: 20px 70px; ">
<table class="miniprice">
<tr class="t"><td>Изображение</td><td>Модель</td><td>Инструкция</td><td>Прошивка</td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir100.jpg" alt=""/></td><td>DIR-100</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-100/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-100/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir300.jpg" alt=""/></td><td>DIR-300</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-300_NRU/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-300_NRU/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir320.jpg" alt=""/></td><td>DIR-320</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-320_NRU/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-320_NRU/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir615.jpg" alt=""/></td><td>DIR-615</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-615/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-615/Firmware/">Прошивка</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/dlink/dir620.jpg" alt=""/></td><td>DIR-620</td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-620/Description/">Инструкция</a></td><td><a href="http://ftp.dlink.ru/pub/Router/DIR-620/Firmware/">Прошивка</a></td></tr>
</table>
</div>
<!--Полезная информация? ЛАЙК-->
<p>Если вас интересует услуга по настройке роутера D-Link, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

<h2>Настройка роутеров Asus</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/asus.png" alt=""/></p>
<p>Сайт поддержки пользователей ASUS: <a href="http://support.asus.com.tw/default.aspx?SLanguage=ru-ru">http://support.asus.com.tw/default.aspx?SLanguage=ru-ru</a></p>
<p>Технический запрос в службу поддержки: <a href="http://vip.asus.com/eservice/techserv.aspx?SLanguage=ru-ru">http://vip.asus.com/eservice/techserv.aspx?SLanguage=ru-ru</a></p>
<p>Телефон: +7 (800) 100-2787, +7 (495) 231-19-99.</p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>


<br/>
<p>Инструкции и ссылки на загрузку свежих прошивок наиболее распространенных моделей.</p>
<div style="margin: 20px 70px; ">
<table class="miniprice">
<tr class="t"><td>Изображение</td><td>Модель</td><td>Прошивки и инструкции</td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/rt-n10.jpg" alt=""/></td><td>RT-N10</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/RTN10/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/rt-n12.jpg" alt=""/></td><td>RT-N12</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/RTN12/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/rt-n16.jpg" alt=""/></td><td>RT-N16</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/RTN16/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/rt-g32.jpg" alt=""/></td><td>RT-G32</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/RTG32/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/wl520gu.jpg" alt=""/></td><td>WL-520gU</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/WL520gU/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/wl520gc.jpg" alt=""/></td><td>WL-520gC</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/WL520gC/#download">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/asus/wl500gp.jpg" alt=""/></td><td>WL-500gP V2</td><td><a href="http://ru.asus.com/Networks/Wireless_Routers/WL500gP_V2/#download">Загрузки</a></td></tr>
</table>
</div>

<!--Полезная информация? Дайте знать другим! ЛАЙК-->
<p>Если вас интересует услуга по настройке роутера ASUS, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

<h2>Настройка роутеров Linksys</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/linksysbycisco.png" alt=""/></p>
<p>Сайт поддержки пользователей Linksys: <a href="http://homesupport.cisco.com/en-eu/support/linksys">http://homesupport.cisco.com/en-eu/support/linksys</a></p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>

<p>К сожалению, Linksys не предоставляет телефонную поддержку на территории России, но зато раздел поддержки на сайте Linksys выполнен на высшем уровне. Там вы найдете видео по настройке роутеров Linksys (на английском языке), инструкции и последние версии прошивок. Также доступен онлайн-чат со службой технической поддержки.</p>

<div style="margin: 20px 70px; ">
<table class="miniprice">
<tr class="t"><td>Изображение</td><td>Модель</td><td>Прошивки и инструкции</td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/linksys/E4200.jpg" alt=""/></td><td>Linksys E4200</td><td><a href="http://homesupport.cisco.com/en-eu/support/routers/E4200">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/linksys/E3200.jpg" alt=""/></td><td>Linksys E3200</td><td><a href="http://homesupport.cisco.com/en-eu/support/routers/E3200">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/linksys/E2500.jpg" alt=""/></td><td>Linksys E2500</td><td><a href="http://homesupport.cisco.com/en-eu/support/routers/E2500">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/linksys/E1500.jpg" alt=""/></td><td>Linksys E1500</td><td><a href="http://homesupport.cisco.com/en-eu/support/routers/E1500">Загрузки</a></td></tr>
<tr><td><img src="http://static.akvi.ru/i/wifi/router/linksys/E1200.jpg" alt=""/></td><td>Linksys E1200</td><td><a href="http://homesupport.cisco.com/en-eu/support/routers/E1200">Загрузки</a></td></tr>
</table>
</div>

<!--Полезная информация? Дайте знать другим! ЛАЙК-->
<p>Если вас интересует услуга по настройке роутера Linksys, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>


<h2>Netgear</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/netgear.png" alt=""/></p>
<p>Сайт поддержки пользователей Netgear: <a href="http://support.netgear.com/app/home">http://support.netgear.com/app/home</a></p>
<p>Телефон: + 7 (800) 100-1160</p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>password</td></tr>
</table>
</div>
<!-- Подошел пароль? ЛАЙК -->

<p>Если вас интересует услуга по настройке роутера Netgear, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

<h2>ZTE</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/ZTE.png" alt=""/></p>
<p>Сайт технической поддержки: <a href="http://support.zte.ru/">http://support.zte.ru/</a></p>
<p>Задать вопрос: <a href="http://support.zte.ru/Menu/FeedBack/FeedBack.aspx">http://support.zte.ru/Menu/FeedBack/FeedBack.aspx</a></p>
<p>Поддержка по телефону не предоставляется</p>


<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>
<!-- Подошел пароль? ЛАЙК -->


<p>Если вас интересует услуга по настройке роутера ZTE, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

<h2>Zyxel</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/zyxel.png" alt=""/></p>
<p>Сайт технической поддержки: <a href="http://zyxel.ru/support/download">http://zyxel.ru/support/download</a></p>
<p>Загрузка обновлений: <a href="http://zyxel.ru/support/download">http://zyxel.ru/support/download</a></p>
<p>Телефон поддержки пользователей Zyxel: +7 (495) 542-8929, +7 (800) 200-8929</p>

<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>1234</td></tr>
</table>
</div>
<!-- Подошел пароль? ЛАЙК -->
<p>Если вас интересует услуга по настройке роутера Zyxel, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>	

<h2>Trendnet</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/trendnet.png" alt=""/></p>
<p>Сайт технической поддержки: <a href="http://trendnet.ru/support/">http://trendnet.ru/support/</a></p>
<p>Загрузка обновлений: <a href="http://trendnet.ru/fw/">http://trendnet.ru/fw/</a></p>
<p>Телефон поддержки пользователей Trendnet: +7 (495) 737-0410, +7 (800) 555-0410</p>

<p>Адреса, логины и пароли от оборудования Trendnet отличаются для каждой конкретной модели.</p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Модель</td><td>IP-адрес</td><td>Логин</td><td>Пароль</td></tr>
<tr><td>TEW-230APB</td><td>192.168.1.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-430APB</td><td>192.168.1.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-432BRP</td><td>192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-432BRP (H/W: D1.X)</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-434APB</td><td>192.168.1.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-435BRM</td><td>192.168.0.1</td><td>admin</td><td>password</td></tr>
<tr><td>TEW-435BRM (H/W: D2.2)</td><td>192.168.1.1</td><td>admin</td><td>1234</td></tr>
<tr><td>TEW-450APB (H/W: B1.X0</td><td>192.168.1.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-450APB (H/W: C1.0)</td><td>192.168.10.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-452BRP (H/W: B1.1)</td><td>192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-452BRP (H/W: C1.0)</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-453APB</td><td>192.168.0.228</td><td>admin</td><td>password</td></tr>
<tr><td>TEW-455APBO</td><td>192.168.10.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-630APB</td><td>192.168.1.100</td><td>admin</td><td>не требуется</td></tr>
<tr><td>TEW-631BRP</td><td>192.168.1.1</td><td>admin</td><td>не требуется</td></tr>
<tr><td>TEW-632BRP</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-633GR</td><td>192.168.10.1</td><td>admin</td><td>не требуется</td></tr>
<tr><td>TEW-634GRU</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-635BRM</td><td>192.168.10.1</td><td>admin</td><td>password</td></tr>
<tr><td>TEW-635BRM (H/W: D1.00R)</td><td>192.168.1.1</td><td>admin</td><td>1234</td></tr>
<tr><td>TEW-636APB</td><td>192.168.0.228</td><td>admin</td><td>password</td></tr>
<tr><td>TEW-637AP</td><td>192.168.10.100</td><td>не требуется</td><td>admin</td></tr>
<tr><td>TEW-638APB</td><td>192.168.10.100</td><td>не требуется</td><td>admin</td></tr>
<tr><td>TEW-639GR</td><td>192.168.10.1</td><td>admin</td><td>не требуется</td></tr>
<tr><td>TEW-510</td><td>192.168.1.250</td><td>не требуется</td><td>admin</td></tr>
<tr><td>TEW-652BRP</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-653AP</td><td>192.168.10.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-655BR3G</td><td>192.168.10.1</td><td>не требуется</td><td>admin</td></tr>
<tr><td>TEW-610</td><td>192.168.0.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-670AP</td><td>192.168.10.100</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-671BR</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-672GR</td><td>192.168.10.1</td><td>admin</td><td>не требуется</td></tr>
<tr><td>TEW-673GRU</td><td>192.168.10.1</td><td>admin</td><td>admin</td></tr>
<tr><td>TEW-691GR</td><td>192.168.10.1</td><td>admin</td><td>не требуется</td></tr>
</table>
</div>

<!--Подошел пароль? ЛАЙК-->
<p>Если вашей модели роутера нет в списке, попробуйте поискать ее на этой странице: <a href="http://trendnet.ru/support/information/ip-address.php">http://trendnet.ru/support/information/ip-address.php</a>.</p>
<p>Если вас интересует услуга по настройке роутера Trendnet, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	

<h2>TP Link</h2>
<p><img src="http://static.akvi.ru/i/wifi/router/tp-link.png" alt=""/></p>
<p>Сайт технической поддержки: <a href="http://www.tp-linkru.com/support/download/">http://www.tp-linkru.com/support/download/</a></p>
<p>Телефон поддержки пользователей TP Link: +7 (495) 223-55-60, +7 (800) 250-55-60</p>


<div class="mpholder">
<table class="miniprice" style="width: 300px">
<tr><td>Стандартный IP-адрес</td><td><a href="http://192.168.1.1">http://192.168.1.1</a></td></tr>
<tr><td>Логин</td><td>admin</td></tr>
<tr><td>Пароль по умолчанию</td><td>admin</td></tr>
</table>
</div>
<!-- Подошел пароль? ЛАЙК -->

<p>Если вас интересует услуга по настройке роутера TP Link, или вы хотите вы хотите получить консультацию, звоните нам по телефону 6460126 и мы обязательно вам поможем!</p>
	
		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>