<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Как изменить пароль от роутера?</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Список стандартных паролей от роутеров D-Link, Asus, Linksys, Trendnet, TP Link, Zyxel и других. Для чего нужно менять стандартный пароль от роутера? Что делать, если вы забыли измененный пароль?</p>
</div>
<p>Если вам нужно изменить или узнать пароль не от роутера, а от вашей беспроводной сети (ключ доступа Wi-Fi), то вам <u>сюда</u>.</p>



<p class="h2">Чем мы можем помочь?</p>
<p>Если вы забыли пароль от роутера и не можете его перенастроить, мы готовы предложить свои услуги по его восстановлению или сбросу. По вашему желанию, мы также можем после этого настроить домашнюю сеть Wi-Fi с правильно настроенной безопасностью и подключить к ней все устройства.</p>
<ol>

<li><b>Настроим надежно защищенную Wi-Fi сеть</b>. Ваши соседи не смогут бесплатно пользоваться вашим интернетом.</li>
<li><b>Настроим роутер</b> на работу с любым провайдером.</li>
<li><b>Подключим любые устройства</b> к вашей домашней сети.</li>
<li><b>Настроим принтер через роутер.</b> Вы сможете печатать с любого компьютера из вашей домашней сети.</li>
<li><b>Решим любую другую задачу!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<h2>Для чего менять стандартный пароль от роутера?</h2>
<p>Логичный вопрос: если пароль от роутера не менять, то его нельзя и забыть, потому что всегда его можно посмотреть его в инструкции от устройства. Так оно и есть, если соблюдать одновременно четыре условия:</p>
<ol>
<li>Роутер установлен у вас в квартире или в другом физически недоступном для посторонних лиц месте;</li>
<li>Вы используете зашифрованную сеть Wi-Fi;</li>
<li>Злоумышленник не имеет возможности подключиться к роутеру из внутренней сети через провод;</li>
<li>Внешний доступ к роутеру закрыт (к нему нельзя обратиться по внешнему IP-адресу для удаленного администрирования);</li>
</ol>

<p>Если на все 4 пункта вы можете уверенно ответить "да", то можно оставить пароль без изменений и не переживать, что кто-то сможет «влезть в роутер» и что-либо поменять. Но стоит хотя бы одному условию из этого списка перестать быть истинным, как безопасность вашей беспроводной сети становится под угрозой.</p>
<p>Имея пароль администратора от роутера, кто угодно может настроить себе доступ в вашу сеть и бесплатно пользоваться вашим доступом в Интернет + просматривать данные, которые вы передаете по незащищённому соединению.</p>
<p>Чтобы не ставить под угрозу безопасность вашей сети, рекомендуем всегда изменять стандартный пароль от устройства.</p>
<div class="guru g1">
<p>Критически важно менять пароль администрирования роутера в случае, если он используется для публичного доступа в интернет: кафе, отели, гостиницы и т.п. Если этого не сделать, то это даже не риск, а почти гарантия того, что рано или поздно кто-то обязательно влезет к вам в устройство. </p>
</div>

<h2>Стандартные пароли от роутеров</h2>
<p>В таблице мы приводим стандартные пароли от роутеров наиболее известных производителей. Если вашего устройства нет в списке, вам следует обратиться к инструкции. Также будем вам благодарны, если поможете нам дополнить этот список, оставив комментарий внизу страницы.</p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Маршрутизатор</td><td>Адрес</td><td>Имя пользователя</td><td>Пароль</td></tr>
<tr><td>3Com</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Asus</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Zyxel</td><td>http://192.168.1.1</td><td>admin</td><td>1234</td></tr>
<tr><td>D-Link</td><td>http://192.168.0.1</td><td>admin</td><td>admin или пустой пароль</td></tr>
<tr><td>Linksys</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Trendnet</td><td colspan="3"><a href="http://trendnet.ru/support/information/ip-address.php">http://trendnet.ru/support/information/ip-address.php</a></td></tr>
<tr><td>Netgear</td><td>http://192.168.0.1</td><td>admin</td><td>password</td></tr>
<tr><td>TP Link</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
</table>
</div>

<!--Подошел пароль – ЛАЙК!-->
<p>Если пароль не подошел к вашему устройству, то возможно три варианта:</p>
<ol>
<li>У нас неточность в таблице. Данные брались с официальных сайтов производителей, но лично мы не тестировали некоторые из этих устройств. Пожалуйста, сообщите нам в комментариях внизу страницы, если найдете такую неточность;</li>
<li>На устройстве установлена модифицированная (не заводская) прошивка. Так, например, Билайн ставит на роутеры D-Link DIR-300 NRU свою «фирменную» прошивку, благодаря чему адрес устройства становится http://192.168.1.1, что отличается от заводского. В этой ситуации рекомендуем просто методом перебора попробовать разные комбинации стандартных адресов, логинов и паролей из таблицы. Скорее всего, одна из комбинаций вам подойдет.</li>
<li>Пароль был изменен кем-то при настройке устройства. Если узнать пароль никак нельзя, то остается его только сбросить.</li>
</ol>

<h2>Как изменить пароль от роутера?</h2>
<p>Чтобы установить новый пароль от роутера, вам потребуется зайти в панель администрирования устройством (возможно, вам помогут данные из таблицы) и найти в меню раздел управления паролем администратора.</p>
<p>В каждой конкретной модели роутера этот раздел может находиться в разных местах, поэтому мы приведем стандартные пути только для некоторых моделей роутеров:</p>
<ul>
<li>ASUS: Advanced Setting -> Administration -> System -> Change System's Password</li>
<li>D-Link: Maintenance-> Admin Setup -> ADMINISTRATOR</li>
<li>Zyxel: Maintenance -> System -> General -> Password</li>
<li>Trendnet: Main -> Password -> Administrator</li>
<li>TP Link: System Tools -> Password</li>
<li>Linksys: Administration -> Router Password</li>
</ul>
<p>Как правило, чтобы установить пароль, на этой странице потребуется ввести один раз старый пароль и два раза – новый.</p>
<p><img src="http://static.akvi.ru/i/wifi/router/pass.png" alt=""/></p>
 
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Изменение пароля от роутера</td><td>190</td></tr>
</table>
</div>


<h2>Что делать, если вы забыли пароль от Wi-Fi?</h2>
<p>Если вы сначала изменили пароль от роутера, а потом его забыли, то восстановить его у вас никак не получится. Единственный вариант – полностью сбросить все настройки роутера к заводскому состоянию, затем зайти по стандартному паролю и заново все настроить.</p>

<div class="guru g1">
<p>При сбросе настроек, роутер вернется к исходному заводскому состоянию и все сделанные вами до этого настройки будут потеряны!</p>
</div>
 
<p>Процедура сброса маршрутизатора (роутера) отличается в зависимости от производителя. Иногда достаточно просто нажать тонким стержнем на специальную кнопку Reset в течение 10 секунд. Иногда нужно устройство сначала выключить из сети, потом нажать на кнопку стержнем, включить питание и еще секунд 10 не отпускать кнопку. В каждом конкретном случае это делается по-разному, поэтому вы можете либо попробовать для начала методом «тыка» (хуже не будет, роутер все равно заблокирован), либо почитать документацию к устройству и сделать все по науке.</p>
<p><img src="http://static.akvi.ru/i/wifi/router/back.jpg" alt=""/></p>
<p>Если все прошло успешно, то через некоторое время после перезагрузки вы сможете зайти на устройство по стандартному паролю. Не забудьте, что после этого нужно заново полностью настроить роутер:</p>
<ol>
<li><u>Подключить роутер интернету</u>;</li>
<li><u>Настроить беспроводную сеть Wi-Fi</u>;</li>
<li>Сменить пароль от устройства и на это раз не забыть его записать в надежное место.</li>
</ol>

<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>