<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Настройка роутера на работу с провайдером</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Поскольку провайдеры могут изменять настройки подключения без предварительного уведомления, мы решили не давать прямые инструкции по настройке оборудования, а привести подборку ссылок на описания процедуры на официальных сайтах основных провайдеров Москвы: Билайн (Корбина), Стрим, МГТС, Акадо, QWERTY, NetByNet. Эти инструкции обновляются и пополняются самими провайдерами, а потому информация в них самая полная и актуальная.</p>
</div>


<p class="h2">Чем мы можем помочь?</p>
<p>Мы оказываем профессиональные услуги по настройке роутеров на работу с любым московским провайдером. По вашему желанию, мы можем организовать полноценную домашнюю Wi-Fi сеть, к которой вы сможете подключить все ваши устройства, в том числе принтер!</p>
<ol>
<li>Настроим доступ в Интернет на роутере;</li>
<li>Организуем домашнюю сеть Wi-Fi, через которую вы сможете выходить в интернет с любого устройства;</li>
<li>Решим любой вопрос по настройке сети.</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>




<h2>Шаг 0: Может быть, все уже работает?</h2>
<p>Если ваш провайдер использует простейшую схему подключения к интернету (DHCP), то вам вообще ничего настаивать не придется: роутер при подключении сам получит от провайдера все необходимые настройки. Чтобы проверить это, просто подключите роутер к сети и посмотрите, работает ли интернет (должен загореться световой индикатор соединения, но лучше проверить это через компьютер)?</p>
<p>Если интернет заработал, то задача настройки интернета на роутере отпадает, и вам остается только создать беспроводную сеть и сменить стандартный пароль от роутера.</p>
<h2>Шаг 1: Вход в панель управления роутером</h2>
<p>Услугами какого провайдера вы бы ни пользовались, первым шагом всегда будет одно и то же: вам необходимо зайти в панель управления настройками роутера. Для этого нужно в строке в строке браузера ввести сетевой адрес роутера и нажать Enter. Перед вами откроется форма авторизации, в которую нужно ввести правильный логин и пароль. Примеры стандартных адресов и паролей от наиболее распространенных роутеров вы найдете в таблице:</p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Маршрутизатор</td><td>Адрес</td><td>Имя пользователя</td><td>Пароль</td></tr>
<tr><td>3Com</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Asus</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Zyxel</td><td>http://192.168.1.1</td><td>admin</td><td>1234</td></tr>
<tr><td>D-Link</td><td>http://192.168.0.1</td><td>admin</td><td>admin или пустой пароль</td></tr>
<tr><td>Linksys</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Trendnet</td><td colspan="3"><a href="http://trendnet.ru/support/information/ip-address.php">http://trendnet.ru/support/information/ip-address.php</a></td></tr>
<tr><td>Netgear</td><td>http://192.168.0.1</td><td>admin</td><td>password</td></tr>
<tr><td>TP Link</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>

</table>
</div>


<p>Если вашего устройства нет в списке, попробуйте любые данные из таблицы методом перебора (как легко заметить, они мало отличаются), поищите в интернете, или посмотрите инструкцию устройства.</p>
<p>Если у вас никак не получается зайти на роутер, возможно, он был перенастроен. Тогда есть два варианта: найти пароль, который на него установили, или сбросить роутер к заводским настройкам, после чего авторизоваться по стандартному паролю.</p>
<!--Получилось зайти на устройство? Лайк-->
<p>После успешного входа в панель управления, вам необходимо перейти в раздел настройки Интернета.</p>
<h2>Шаг 2: Данные для подключения от провайдера</h2>
<p>Если на шаге 0 интернет не заработал, то вам потребуются настройки провайдера (логины, пароли, IP-адреса и т.п.). Если вы не можете найти эти данные, их следует уточнить по телефону у провайдера.</p>
<h2>Шаг 3: Настройка роутера</h2>
<p>Теперь, когда у вас есть доступ в панель управления роутером и данные, необходимые для доступа в интернет, можно приступать непосредственно к настройке устройства.</p>
<p>Далее мы приводим краткие описания процедуры настройки интернета на роутере для основных провайдеров Москвы. Если вы пользуетесь услугами другого провайдера, то вам потребуется уточнять детали настройки роутера непосредственно в техподдержке, или обратиться к нам за помощью по телефону 6460126.</p>





<h2>Настройка интернета Билайн (Корбина) на роутере</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/beeline.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Настройка на компьютере: <a href="http://help.internet.beeline.ru/internet/install">http://help.internet.beeline.ru/internet/install</a></p>
<li>Настройки роутеров: <a href="http://help.internet.beeline.ru/internet/equipment">http://help.internet.beeline.ru/internet/equipment</a></p>
<li>Телефон техподдержки: +7 800 700-8000</p>
</ul>
<p><b>Общие настройки:</b></p>

<p>Настройка домашнего интернета в сети Билайн на роутере осуществляется по технологии VPN. Убедитесь, что ваш роутер может работать по протоколу L2TP, иначе его не получится настроить.</p>
<div class="guru g1">
<p>Другой важной особенностью, которую стоит упомянуть – для работы в сети Билайн на скорости более 10 Мбит/с, вам потребуется роутер с быстрой начинкой. Для примера, роутер D-Link DIR-100 будет ограничивать скорость доступа примерно на 5-8 Мбит/с, даже если ваш тарифный план предусматривает более высокие скорости доступа (см. «<a href="/wifi/nastroika/router-speed.html">Почему роутер ограничивает скорость интернета</a>»).</p>
</div>

<ul>
<li>IP адрес, DNS сервер выдается автоматически (по DHCP)</li>
<li>Тип VPN – <code>L2TP</code></li>
<li>Адрес VPN сервера – <code>tp.internet.beeline.ru</code></li>
<li>Login: <code>Ваш логин</code></li>
<li>Password: <code>Ваш пароль</code></li>
</ul>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета Билайн (Корбина) на роутере– обращайтесь по телефону 6460126.</p>

<!--Помог совет – лайк!
*** прайс***
-->

<h2>Настройка интернета Стрим (МТС) на роутере</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/mts.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 800 333 0890</li>
<li>Настройка оборудования: <a href="http://www.mts.ru/help/settings/settings_internet/settings_equipment/modem_setup/">http://www.mts.ru/help/settings/settings_internet/settings_equipment/modem_setup/</a></li>
<li>Настройка Windows: <a href="http://www.mts.ru/help/settings/settings_internet/settings_os/pppoe/">http://www.mts.ru/help/settings/settings_internet/settings_os/pppoe/</a></li>
</ul>
<p><b>Общие настройки:</b></p>
<p>В Стрим используется технология подключения ADSL и для доступа в интернет требуется специальный ADSL-модем. </p>
<p><img src="http://static.akvi.ru/i/wifi/provider/adsl.jpg" alt=""/><br/>Рисунок 1: Схема подключения по ADSL</p>

<p>Модем может быть настроен двумя способами: в режиме роутера и в режиме бриджа.</p>
<p><b>В режиме бриджа</b>, модем представляем собой, по сути, переходник между телефонным кабелем и компьютером. В этом режиме компьютер сам должен проходить процедуру подключения к интернету (ввод логина и пароля для подключения).</p>
<p><i>Плюсы</i>: 1) интернет может работать чуть более быстро, чем в режиме роутера; 2) внешний IP присваивается именно компьютеру, а не модему (сам модем становится «невидимым» устройством с точки зрения сетевого взаимодействия).</p>
<p><i>Минусы</i>: нужно каждый раз подключаться к интернету вручную.</p>
<p><b>В режиме роутера</b>, модем сам держит подключение к интернету, и подключаться каждый раз нет необходимости.</p>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке роутера для провайдера МТС (Стрим) – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета МГТС на роутере</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/mgts.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 495 636-0-636</li>
<li>Настройка модемов и роутеров: <a href="http://mgts.ru/home/internet/modems/">http://mgts.ru/home/internet/modems/</a></li>
<li>Настройка Windows: <a href="http://mgts.ru/home/internet/modems/setup/">http://mgts.ru/home/internet/modems/setup/</a></li>
</ul>

<p>Технически интернет от МГТС и Стрим работают по одному и тому же принципу, никаких специфических различий в настройке интернета между этими провайдерами нет.</p>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета МГТС – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета Акадо на роутере</h2>
 <p><img src="http://static.akvi.ru/i/wifi/provider/akado.gif" alt=""/></p>
<p><b>Официальная информация:</b></p>
<p>Телефон техподдержки: +7495 231-4444</p>
<p>Для подключения к сети Акадо в разных районах Москвы используются разные технологии, поэтому приводить общие рекомендации не имеет смысла. Тем не менее, есть одна особенность, которую важно знать при настройке Интернета на роутере: Акадо привязывает ваш договор к mac-адресу того устройства, которое было подключено изначально. На практике это означает, что если вы решите настроить интернет на любом другом компьютере или роутере, то вам потребуется либо звонить в техническую поддержку , объяснять ситуацию и просить изменить на их стороне ваш mac-адрес на новый. Другой вариант –  самостоятельно подменять mac-адрес на роутере (чтобы Акадо думало, что это все то же устройство подключается).</p>

<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета Акадо на роутере – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета QWERTY на роутере</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/qwerty.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Настройка оборудования: <a href="http://www.qwerty.ru/support/settings/28/6099/">http://www.qwerty.ru/support/settings/index.php?SECTION_ID=26</a></li>
<li>Телефон техподдержки: +7 495 500-0045</li>
</ul>
<p>Настроить интернет для работы с QWERTY очень просто. Достаточно подключить сетевой кабель к роутеру и все само заработает. Сетевые настройки роутер получает по DHCP, и если этого не происходит, то все что нужно сделать – включить в настройках TCP/IP автоматическое получение адреса.</p>
<p>Настройка оборудования зависит от района, в котором вы находитесь. Если вам нужна помощь или консультация нашего специалиста по настройке интернета QWERTY – обращайтесь по телефону 6460126. </p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета NetByNet (МегаФон) на роутере</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/netbynet.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 495 980 2400</li>
<li>Настройка интернета: <a href="http://help.netbynet.ru/domashnij-internet/nastrojka-routerov/">http://help.netbynet.ru/domashnij-internet/nastrojka-routerov/</a></li>
</ul>

<p>В сети NetByNet используются два разных типа подключение PPPoE или VPN, в зависимости от района, в котором вы проживаете. Детальное описание процесса настройки роутера для работы с NetByNet для некоторых моделей роутеров:</p>


<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета NetByNet – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<!--
КУПОН на скидку
Блок: Ссылки на другие статьи (автоматом?)
Блок: Несколько вопросов из FAQ
комментирование
-->

		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>