<div class="txt">

<h1>FAQ по установке Windows</h1>
<div class="editor">
	<img src="http://static.akvi.ru/i/people/4.png" alt="Михаил Шестаков"/>
	<p>На ваши вопросы отвечает наш специалист по сборке и модернизации компьютеров <big>Михаил Шестаков</big></p>
</div>
<h2>Ваши вопросы</h2>
<p class="question"><span>Имеет ли смысл установка обновлений на Windows? Возможны ли после обновления конфликты с другими приложениями?</span></p>
<p class="answer">Обновление Windows необходимо, так как оно создано, чтобы исправлять ошибки, повышать стабильность и безопасность системы  в целом, а также для поддержки нового оборудования. В редких случаях могут возникать ситуации, когда после обновления системы некоторые программы перестают корректно работать. В этом случае рекомендуется переустановить программу. Также если у вас стоит нелицензионная версия Windows, после обновления «крек» может перестать работать и система потребует ключ. Поэтому на нелицензионных версиях Windows лучше не производить критических обновлений.</p>
<p class="question"><span>Имеет ли смысл ставить вместо Windows Vista 32 bit – Windows Vista 64 bit? Произойдет ли увеличение производительности?</span></p>
<p class="answer">Если процессор имеет 64-битную архитектуру, то установка 64-битной операционной системы – предпочтительнее. И работать Windows Vista 64 bit будет существенно быстрее, так данная система разрабатывалась специально для 64-битных процессоров. Также будет возможность установить оперативную память объемом более 3 Гб (32-битные ОС не распознают более 3 Гб оперативной памяти). Но могут возникнуть проблемы с работой некоторых программ и поиском драйверов. Хотя большинство производителей программного обеспечении я и оборудования на сегодняшний день уже выпускают отдельные версии своих продуктов как для Windows Vista 32 bit, так и для Windows Vista 64 bit.</p>
<p class="question"><span>Как установить две операционные системы Windows и корректно работать с ними?</span></p>
<p class="answer">Установка двух и более операционных систем рекомендуется на разные разделы жестких дисков. Также сначала лучше устанавливать более старую версию Windows, чтобы избежать проблем при включении компьютера и выборе загружаемой ОС (к примеру, если установить сначала Windows Vista, а потом Windows XP, то файл BOOT.INI, в котором отображается количество установленных систем и очередность их загрузки, не будет содержать информацию о Windows Vista, поэтому загрузить эту ОС будет проблематично). Вы можете отключить выбор операционной системы, появляющийся при установке двух и более Windows в меню «Свойства системы ->загрузка и восстановление». В этом случае, чтобы выбрать нужную вам ОС, нажмите при загрузке компьютера F8.</p>
<p class="question"><span>Как переустановить Windows на ноутбуке?</span></p>
<p class="answer">Переустановка Windows на ноутбуке мало чем отличается от аналогичной процедуры на компьютере. Но следует помнить, что на каждом ноутбуке изначально была установлена лицензионная версия Windows, ключ от которой обычно находится на задней стороне ноутбука. Поэтому лучше установить ту же операционную систему, которая была при покупке ноутбука, чтобы не покупать новую лицензию и избежать проблем с регистрацией Windows.На многих ноутбуках также есть функция восстановления заводских настроек: операционная система сама переустанавливается, после чего инсталлируются все программы, которые стояли на ноутбуке по умолчанию. Запустить данную процедуру обычно можно из BIOS или же нажатием комбинации клавиш (alt+f4; alt+f11 и др.)</p>
<p class="question"><span>Как избавиться от постоянных ошибок и зависаний при работе в Windows XP?</span></p>
<p class="answer">Все зависит от конкретной ситуации. Сначала следует проверить систему на наличие вирусов. Возможно также ошибки и «глюки» происходят из-за засоренности системы и конфликтов различных приложений. В этом случае можно попробовать найти и удалить приложения или драйвера, после установки которых работа системы стала нестабильной. Есть еще возможность произвести восстановление системы, если есть точка восстановления с рабочими параметрами. Если ничего не помогло, остается только переустановка Windows.</p>
<p class="question"><span>Подключил инет, теперь не могу уснуть</span></p>
<p class="answer">Если вы решили приобрести новый компьютер, не стоит идти в ближайший магазин и покупать первый компьютер с витрины. Это далеко не самое лучшее и выгодное для вас решение. Мы рекомендуем воспользоваться компетентным подбором комплектующих и нашей услугой сборки компьютера на заказ по следующим причинам.</p>

<div class="faq pic1"><p>Если вы не нашли ответ на интересующий вас вопрос, смело задавайте! Мы обязательно ответим!</p></div><div class="ask_faq"><form action="/cgi-bin/bin/send.pl" method="post"><div><label for="name">Имя</label><input name="name" value="" id="name" type="text"></div><div><label for="phone">Телефон</label><input name="phone" value="" id="phone" type="text"></div><div><label for="email">Электропочта</label><input name="email" value="" id="email" type="text"></div><div><label for="text">Вопрос</label><textarea name="text" id="text" rows="" cols=""></textarea></div><div id="check_me"><label for="crc"><img src="http://static.akvi.ru/i/dig.gif" alt="Введите число на картинке"/></label><input type="text" name="check" value="" id="crc" maxlength="2"/></div><div class="submit"><input value="Отправить" type="submit"></div></form></div>
<script type="text/javascript">faq();</script>



</div>