<div class="txt">

<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка Windows</h1>
<p>Мы оказываем профессиональные услуги по переустановке Windows. Мы используем только лицензионные диски, включающие в себя все самые последние обновления.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Работы выполняются «под ключ», то есть после ухода мастера вы получите полностью готовую к работе систему!</p>
</div>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Перенесем ваши данные;</li>
<li>Установим Windows со всеми последними обновлениями;</li>
<li>Установим ваши привычные программы;</li>
<li>Настроим Интернет;</li>
<li><b><span style="color: #2d7303">Спецпредложение при заказе на сайта:</span> бесплатная установка лицензионного антивируса!</b> *</li>
</ol>
<p>* &#151; обязательно сообщите оператору, что вы хотите <b>бесплатно установить Avast!</b> при оформлении заявки!</p>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Windows XP SP3</td><td>Windows Vista SP2</td><td>Windows 7</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td><td><span>бесплатно</span></td><td><span>бесплатно</span></td></tr>
<tr><td>Установка системы</td><td>490</td><td>790</td><td>2390</td></tr>
<tr><td>Перенос данных</td><td>390</td><td>от 390</td><td>390</td></tr>
<tr><td>Установка необходимых драйверов</td><td>700</td><td>700</td><td>0</td></tr>
<tr><td>Настройка Интернета (LAN)</td><td>490</td><td>490</td><td>490</td></tr>
<tr><td>Установка антивируса Avast!</td><td><span>бесплатно</span></td><td><span>бесплатно</span></td><td><span>бесплатно</span></td></tr>
<tr class="b"><td>Итого</td><td>2070</td><td>2370</td><td>3270</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<p class="h1">Причины установки Windows</p>
<p style="margin-bottom: 30px">Необходимость установки Windows, так или иначе, случается в жизни каждого пользователя.</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<h2>Покупка нового компьютера</h2>
<p>Если у вас уже есть лицензионный ключ для активации Windows, то нет необходимости покупать еще один с <a href="http://www.akvi.ru/sborka/">покупкой нового компьютера</a>. Разумеется, в этом случае ни один магазин не станет на добровольной основе заниматься установкой Windows на ваш компьютер. Возникает необходимость чистой установки Windows.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<h2>Апгрейд процессора или материнской платы</h2>
<p>Вы используете Windows XP и решили сделать <a href="http://www.akvi.ru/ustanovka/processor.html">апгрейд процессора</a> или материнской платы на более новую, или просто переставить жесткий диск с установленной Windows XP со старого компьютера на новый. Сделав это, вы обнаружите, что система не запускается. Проблема возникает из-за несовместимости текущего ядра Windows XP с новым оборудованием и устраняется только полной <a href="http://www.akvi.ru/windows/pereustanovka.html">переустановкой системы</a>. <a href="http://www.akvi.ru/ustanovka/driver.html">Установка драйверов</a> для нового оборудования в данном случае не поможет.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<h2>Переход с одной операционной системы на другую</h2>
<p>Вы решили <a href="http://www.akvi.ru/windows/xp_vista.html">установить Windows XP на Vista</a>, вам потребуется либо провести чистую установку Windows. Либо, если вы наоборот хотите обновить Windows XP до Vista, вам будет доступно два варианта – чистая установка и обновление Windows.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="4" style="background-position: 0 -270px"/></div>
<div class="best">
<h2>Восстановление системы</h2>
<p>В большинстве случаев <a href="http://www.akvi.ru/virus/antivirus.html">антивирусные программы</a> обеспечивают достаточный уровень защиты вашего компьютера от вирусов. Но что делать, если система уже заражена и не поддается лечению? Или вирусы нанесли урон системе и она стала работать нестабильно? Вам потребуется установить чистую копию Windows, так как это самый надежный и действенный способ восстановления работоспособности компьютера после критических сбоев или отказа от работы в результате вирусной активности. Более того у вас будет возможность <a href="http://www.akvi.ru/virus/">установить антивирус</a> непосредственно после установки системы Windows, что существенно сократит вероятность повторного заражения.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="5" style="background-position: 0 -360px"/></div>
<div class="best">
<h2>Не устраивает текущая версия Windows</h2>
<p>Если у вас на компьютере установлена Windows Vista и вас не устраивает скорость ее работы, возможно, вам стоит задуматься об <a href="http://www.akvi.ru/windows/xp_vista.html">установке Windows XP на Vista</a> (или установить <a href="http://www.akvi.ru/windows/sp.html">SP1 на Windows Vista</a>). Или вам просто хочется иметь две системы на одном жестком диске. Или вы счастливый обладатель Apple Macintosh, но вам по какой-то причине потребовалось <a href="http://www.akvi.ru/windows/mac.html">установить Windows на Mac</a>.</p>
</div>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/win7.jpg" alt="Windows 7" /></div>


<h1>Как установить Windows</h1>
<p>Для домашних пользователей доступны всего два варианта развертывания операционной системы: установка на чистый раздел диска и апгрейд. Каждый из этих вариантов более подробно рассмотрен в <a href="http://www.akvi.ru/windows/pereustanovka.html">этой статье</a>, здесь приводятся лишь общие сведения.</p>
<h2>Установка Windows на чистый раздел диска</h2>
<p>Такой вариант установки Windows обычно требуется при  покупке нового компьютера, либо при переустановке системы, которая стала работать нестабильно. Этот процесс включает в себя архивирование имеющихся данных, очистку жесткого диска, установку Windows, установку новейших <a href="http://www.akvi.ru/ustanovka/driver.html">драйверов</a> и <a href="http://www.akvi.ru/windows/obnovlenie.html">обновлений</a> для Windows.</p>
<p>После этого у вас получается система, которая формально уже полностью готова к работе, но реально с ней мало чего можно сделать без дополнительных программ, подключенного Интернета и других полезных вещей. Поэтому после установки Windows, как правило, выполняют следующие действия:</p>
<ul>
<li>Активация Windows</li>
<li>Установка <a href="http://www.akvi.ru/virus/antivirus.html">антивирусной защиты</a></li>
<li>Подключение Интернета</li>
<li>Развертывание заархивированных данных</li>
<li>Установка необходимых программ и Microsoft Office</li>
<li>Подключение <a href="http://www.akvi.ru/ustanovka/printer.html">принтера</a> и других внешних устройств</li>
</ul>
<p>Для вашего удобства и экономии средств мы создали пакеты услуг по установке Windows, которые объединяют в себе все эти работы. Поскольку у разных людей свои требования к тому, что должно присутствовать у них на компьютере, мы предлагаем три вида пакетов услуг по установке Windows:</p>
<ul>
<li>«<a href="http://www.akvi.ru/price/windows.html#min">Минимальная</a>»</li>
<li>«<a href="http://www.akvi.ru/price/windows.html#full">Полная</a>»</li>
</ul>
<p>Воспользовавшись любым из этих пакетов, вы экономите до 45% от стоимости услуг! Если у вас остались вопросы по установке Windows, вы можете задать их нашему специалисту по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
<p>Партнеры: <a href="http://www.validity.ru/">Ремонт компьютеров в Чебоксарах</a>.</p>
<p>Ламповые усилители <a href="http://musicangel.ru/">Music Angel</a>.</p>

</div>