<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>

<img src="http://static.akvi.ru/i/apple.jpg" alt="Apple" style="float: right; margin-left: 60px;"/>
<h1>Установка Windows на Mac</h1>
<p>Наши специалисты оказывают профессиональные услуги по установке Windows на компьютеры Mac.</p>
<div style="clear: right"></div>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>У нас в штате есть специалисты, занимающихся исключительно ремонтом и настройкой оборудования фирмы Apple, которые имеют опыт работы с компьютерами Mac более трёх лет и способны решать любые задачи.</p>
</div>

<p>Установить Windows на Mac можно двумя способами:</p>

<ol>
<li><b>Boot Camp</b>: в момент загрузки компьютера предлагается выбор, какую систему загружать. Запустить Windows из Mac OS X не получится без перезагрузки системы.</li>
<li><b>Parallels</b>: Windows будет запускаться непосредственно из Mac OS X без перезагрузки;</li>
</ol>

<p>О преимуществах и недостатках каждого метода читайте ниже на этой странице.</p>

<p class="h2">Стоимость услуг по установке Windows на Mac через Boot Camp</p>
<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка Boot Camp перед установкой Windows</td><td>990</td></tr>
<tr><td>Базовая установка Windows и установка трех драйверов</td><td>1420</td></tr>
<tr class="b"><td>Итого</td><td>2410</td></tr>
</table>
</div>
<p class="h2">Стоимость услуг по установке Windows на Mac через Parallels Desktop</p>
<div class="mpholder">

<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td></tr>
<tr><td>Доставка клиенту ПО</td><td>390</td></tr>
<tr><td>Установка Parallels на Mac OS X</td><td>590</td></tr>
<tr><td>Лицензия на программу Parallels 7 для Mac</td><td>2550</td></tr>
<tr><td>Базовая установка Windows и установка трех драйверов</td><td>1420</td></tr>
<tr class="b"><td>Итого (включая стоимость лицензии Parallels)</td><td>4950</td></tr>
</table>
</div>
<br/>
<p>В расчете учитывается стоимость базовой установки Windows с минимальным набором драйверов, необходимых для работы системы. Если вам требуются услуги по установке антивируса, настройке принтера, с ценами вы можете ознакомиться <a href="http://www.akvi.ru/windows/">здесь</a>.</p>
<br/>
<img src="http://static.akvi.ru/i/stamp.png" alt="" style="float: right; padding: 10px 40px"/>

<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги, показав его мастеру.</p></div><div style="clear: left"></div></div>


<p class="h1">Способы установки Windows на Mac</p>
<p>Если Вы счастливый обладатель компьютера фирмы Apple, примите наши поздравления – вы сделали отличный выбор! Однако мир вокруг, увы, несовершенен, и вам приходится сталкиваться с Windows на работе, у друзей и где угодно еще. А это, в свою очередь, рождает необходимость взаимодействия. И если открыть документ Microsoft Word на Mac уже не представляет трудности, то какие-то узкоспециальные программы, порой не имеют версии для Mac OS X.</p>
<p>Итак, вы решили установить Windows на Mac, MacBook, MacBook Pro или iMac. Тогда у вас есть два варианта установки системы: запуск Windows при старте системы или работа с Windows непосредственно из Mac OS X.</p>

<h2>Установка Windows на Mac через Boot Camp</h2>
<p style="float: left"><img src="http://static.akvi.ru/i/bootcamp.jpg" alt="Boot Camp"/></p>
<p><b>Boot Camp позволяет устанавливать на Mac: Windows XP, Windows Vista, Windows 7.</b></p>
<p>Этот вариант позволяет осуществлять запуск Windows при старте компьютера, выбирая между загрузкой OS X и Windows. В этом случае вам будут доступны все возможности Windows, включая даже возможности 3D графики. В этом режиме работы программы работают на компьютере так, как будто это обычный PC, а потому быстройдействие в этом режиме более высокое, чем при эмуляции (Parallels). Но если вам вдруг нужна будет OS X, потребуется перезагрузить компьютер.</p>
<p>Это официальный способ установки Windows на Mac, разработанный компанией Apple. Если вы используете Mac OS X версии 10.5 и выше, то Boot Camp уже установлен в вашей системе и вам потребуется только произвести настройку этой программы.</p>
<div style="clear: left"></div>

<h2>Установка Windows на Mac через Parallels</h2>
<p style="float: left"><img src="http://static.akvi.ru/i/parallels.jpg" alt="Parallels Desktop 5"/></p>
<p><b>Parallels позволяет устанавливать на Mac: Windows XP, Windows Vista, Windows 7.</b></p>
<p>Такой подход дает возможность запускать Windows непосредственно из системы Mac OS X. Windows будет работать в окне, так, словно это одна из программ операционной системы OS X. Из плюсов можно отметить возможность свернуть Windows, если она не нужна (перезагрузка не потребуется), и возможность перетаскивать файлы из Mac OS X в окошко Windows так же, как это делается при перетаскивании файлов между папками. Но возможности трехмерной графики в полном объеме доступны не будут, а производительность системы будет несколько ниже, чем при установке Windows на Mac через Boot Camp.</p>
<div style="clear: left"></div>

<div class="guru g1"><p>В большинстве случаев мы рекомендуем нашим клиентам устанавливать Windows именно через Boot Camp.</p></div>
<p>Если у вас возникла необходимость использовать Windows на вашем компьютере Apple, мы поможем вам решить эту задачу. Свяжитесь с нашим менеджером по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>, чтобы получить консультацию о тонкостях усиановки Windows на Mac.</p>

<p style="text-align: center; margin-top: 60px;"><img src="http://static.akvi.ru/i/osxdvd.jpg" alt="Mac OS X 10.6 Install DVD"/></p>

</div>