<div class="txt">

<h1>ќбновление Windows</h1>
<p> омпани€ Microsoft ведет посто€нную работу по улучшению и доработке своих продуктов. Ёти исправлени€ касаютс€ улучшени€ стабильности работы, производительности системы и безопасности Ц защиты  Windows от внешних атак и кражи информации (не путать с <a href="http://www.akvi.ru/virus/">защитой от вирусов</a>). ¬ рамках этой де€тельности Microsoft каждый мес€ц выкладывает на свой сервер обновлени€, которые можно скачать и установить.</p>
<p>ƒл€ получени€ доступа к службе автоматических обновлений вам необходимо активировать вашу операционную систему по телефону или через »нтернет и включить службу автоматического обновлени€ системы Windows. ѕри первом запуске может загрузитьс€ значительный объем трафика, так что следует иметь это в виду, если у вас не безлимитный »нтернет.</p>
<p>≈сли вы используете нелегальную копию Windows на вашем компьютере, система обновлений Windows будет вам недоступна, за исключением критических обновлений безопасности.</p>
<p>¬рем€ от времени Microsoft выпускает обновлени€ в виде большого пакета, который содержит в себе все обновлени€ Windows, начина€ с момента выпуска операционной системы. ќни называютс€ Service Pack или SP. ≈сли вы собираетесь установить SP3 на Windows XP или SP1 на Vista, вам стоит прочитать эту <a href="http://www.akvi.ru/windows/sp.html">статью</a>.</p>
</div>