<div class="txt">

<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Перенос файлов и параметров</h1>
<p>Специалисты компьютерной помощи AKVI оказывают услуги по переносу данных и настроек операционной системы.</p>

<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Если вы купили новый компьютер или собираетесь переустановить систему, но при этом хотите, чтобы осталось все, как было, то эта услуга создана специально для вас!</p>
</div>
<p>Если вы собираетесь переустановить систему, возможно, вас заинтересует комплексное предложение по переустановке Windows, в которое входит и перенос файлов и параметров.</p>


<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Перенесем файлы, музыку и видео;</li>
<li>Сохраним настройки Internet Explorer и Outlook Express;</li>
<li>Перенесем привычные темы рабочего стола и экранные заставки;</li>
</ol>

<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Процедура переноса файлов и параметров</p>

<h2>Использование «Мастера переноса файлов и параметров» в&nbsp;Windows XP</h2>
<p>Мастер переноса файлов и параметров в Windows XP можно использовать для переноса настроек Outlook Express и Internet Explorer. Так же c помощью него можно перенести файлы, параметры экрана, рабочего стола, подключение к Интернету и другие.</p>
<p>Мастер позволяет быстро и легко создать архив ваших файлов и настроек, а потом так же удобно восстановить их на новой системе.</p>
<p>Мы рекомендуем использовать этот мастер, прежде чем вызывать мастера для <a href="http://www.akvi.ru/windows/pereustanovka.html">переустановки Windows</a>, чтобы вы могли самостоятельно в спокойной обстановке скопировать все свои данные на внешний носитель, а после переустановки системы восстановить данные и настройки точно так, какими они были до переустановки системы.</p>
<p>Рассмотрим работу Мастера более подробно:</p>
<p><b>Сбор файлов и параметров исходного компьютера</b></p>
<ol>
<li>Нажмите кнопку <b>Пуск</b> и выберите последовательно пункты <b>Все программы</b>, <b>Стандартные</b>, <b>Служебные программы</b> и <b>Мастер переноса файлов и параметров</b>.</li>
<li>В диалоговом окне <b>Мастер переноса файлов и параметров</b> выберите <b>Далее</b>, затем выберите <b>Исходный компьютер</b>.</li>
<li>Нажмите кнопку <b>Далее</b> и выберите способ переноса, например <b>Дисковод гибких дисков или другой съемный носитель</b>.</li>
<li>Нажмите кнопку <b>Далее</b>, затем выберите переносимые элементы.</li>
<li>Два раза нажмите кнопку <b>Далее</b> и подождите, пока мастер переноса файлов и параметров обрабатывает переносимые элементы.</li>
<li>Нажмите кнопку <b>Готово</b>.</li>
</ol>
<p><b>Перенос файлов и параметров на новый компьютер</b></p>
<ol>
<li>Нажмите кнопку <b>Пуск</b> и выберите последовательно пункты <b>Все программы</b>, <b>Стандартные</b>, <b>Служебные программы</b> и <b>Мастер переноса файлов и параметров</b>.</li>
<li>В диалоговом окне <b>Мастер переноса файлов и параметров</b> нажмите кнопку <b>Далее</b>, затем выберите <b>Новый компьютер</b>.</li>
<li>Нажмите кнопку <b>Далее</b>, затем выберите пункт <b>Не создавать дискету мастера переноса. Файлы и параметры уже собраны на исходном компьютере</b>.</li>
<li>Нажмите кнопку <b>Далее</b> и выберите способ переноса, например <b>Дисковод гибких дисков или другой съемный носитель</b>. <i>(Необходимо выбрать тот же способ переноса, что и на исходном компьютере)</i></li>
<li>Нажмите кнопку <b>Далее</b> и подождите, пока мастер переноса файлов и параметров обрабатывает переносимые элементы.</li>
<li>Нажмите кнопку <b>Готово</b>.</li>
</ol>
<div class="guru g2"><p>Если вы хотите быть спокойны, что все ваши файлы останутся в целости и сохранности после переустановки Windows и вы не хотите тратить лишние деньги на работу специалиста по переносу ваших данных, вам стоит выполнить эту простую процедуру самостоятельно до приезда нашего специалиста.</p></div>

<h2>Перенос файлов и параметров в Windows Vista</h2>
<p>В Vista этот мастер называется «<b>Средство переноса данных Windows</b>». Он обратно совместим с Windows XP, так что вы легко сможете восстановить настройки, перенесенные с компьютера под управлением Windows XP.</p>
<p>На первом шаге он просит выбрать, является ли этот компьютер новым (куда вы хотите перенести) или старым (с которого требуется скопировать файлы) и в зависимости от этого предложит различные сценарии действий. Мастер сделан для людей, и разобраться в нем по силам каждому.</p>
<p>Мы всегда рекомендуем нашим клиентам заранее самостоятельно воспользоваться этими средствами по переносу файлов, чтобы они могли имея необходимое время и в спокойной обстановке заняться этой важной процедурой.</p>
<p>Безусловно, наш мастер может сделать это, но никто кроме вас самих не знает где и что лежит на вашем компьютере и есть риск в спешке забыть про какие-то важные, но глубоко запрятанные файлы. Они будут потеряны после форматирования диска и установки операционной системы, и для их восстановления потребуется дорогостоящая услуга.</p>
<p>Если у вас есть вопросы по использованию мастера переноса файлов и параметров Windows, вы сможете задать их по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> нашему специалисту.</p>

</div>