<div class="txt">
<h1>Переустановка Windows</h1>
<p>Мы оказываем профессиональные услуги по переустановке Windows. Мы используем только лицензионные диски, включающие в себя все самые последние обновления.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Работы выполняются «под ключ», то есть после ухода мастера вы получите полностью готовую к работе систему!</p>
</div>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Перенесем ваши данные;</li>
<li>Установим Windows со всеми последними обновлениями;</li>
<li>Установим надежный антивирус;</li>
<li>Установим ваши привычные программы;</li>
<li>Настроим Интернет;</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Windows XP SP3</td><td>Windows Vista SP2</td><td>Windows 7</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td><td><span>бесплатно</span></td><td><span>бесплатно</span></td></tr>
<tr><td>Установка системы</td><td>490</td><td>790</td><td>2390</td></tr>
<tr><td>Перенос данных</td><td>390</td><td>390</td><td>390</td></tr>
<tr><td>Установка необходимых драйверов</td><td>700</td><td>700</td><td>0</td></tr>
<tr><td>Настройка Интернет</td><td>490</td><td>490</td><td>490</td></tr>
<tr class="b"><td>Итого</td><td>2070</td><td>2370</td><td>3270</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<h1>Чистая установка Windows или апгрейд системы?</h1>
<p>Перестановка Windows является по своей сути довольно простой процедурой, не требующей специальных навыков и подготовки. Все что вам потребуется для установки Windows – установочный диск, телефон или подключение к интернету для активации вашей копии Windows и один-два часа времени.</p>
<p>Установку системы можно осуществить двумя разными способами: чистая установка  или апгрейд (установка более новой версии Windows поверх старой без ее удаления). Каждый и способов имеет как свои недостатки, так и преимущества. Рассмотрим их подробнее:</p>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/win7.jpg" alt="Windows 7" /></div>

<h2>Чистая установка Windows</h2>
<p>Этот способ наиболее часто используется для установки  системы на чистый раздел диска, не содержащий каких-либо файлов. Установленная система будет «эталонной», такой, как ее разработали в Microsoft. При правильной установке на ней не может быть конфликтов, «глючащих» драйверов, вирусов и мусора на рабочем столе. Как следствие, работает такая система очень быстро и надежно.</p>
<p>К этому способу часто прибегают, когда система заражена вирусами, тормозит, «глючит» и ее восстановление либо чересчур трудоемко, либо просто нецелесообразно. Более того, если ваша текущая Windows использовалась более года, в ней накопилось множество «забытых» файлов. Они создаются в ходе работы программ и не всегда ими удаляются. Чистая установка Windows изначально снимает эту проблему, так как в ходе установки удаляются все файлы и копируются только необходимые.</p>

<h2>Установка новой Windows поверх старой</h2>
<p>Таким способом можно обновить операционную систему без потери данных на диске и установленных программ. То есть вам не придется переустанавливать программы и драйверы после переустановки Windows и копировать необходимые файлы. К сожалению, у такого способа есть масса недостатков.</p>
<p><b>Драйверы</b></p>
<p>Драйверы, используемые операционными системами Windows различных версий, существенно отличаются, и при установке Windows поверх старой копии они не обновляются, а работают в режиме совместимости со старой версией Windows. Это может привести к сбоям в работе системы или падении производительности. Конечно, можно скачать и <a href="http://www.akvi.ru/ustanovka/driver.html">установить свежий драйвер</a> для только что установленной версии Windows, но при установке драйверов поверх старых могут возникать конфликты, которые не всегда легко устранить.</p>
<p><b>Программы</b></p>
<p>Программы также пишутся для конкретных версий Windows. Практически всегда существуют различные версии программ для Windows XP, Windows 98 и Windows Vista. Это делается не случайно. Программы работают эффективнее, если они используют новейшие возможности операционной системы. Старые программы запускаются в режиме совместимости, что ведет к снижению их производительности самой программы и системы в целом.</p>
<p><b>Вирусы и антивирусная защита</b></p>
<p>Все вирусы, находившиеся в старой системе, останутся в ней и после установки Windows поверх нее. Более подробно про <a href="http://www.akvi.ru/virus/zashita.html">антивирусную защиту</a>.</p>
<p><b>Потеря места на диске</b></p>
<p>После переустановки Windows на диске остается масса файлов, которые хранятся только потому, что их никто не удалял. Но это вовсе не означает, что они нужны. После установки Windows поверх старой системы на диске остаются ее «обломки», что может привести к потере нескольких десятков гигабайт!</p>
<p>Все описанные выше факторы ведут к тому, что система начинает работать существенно медленнее, чем она могла бы работать при чистой установке.</p>
<p>Вариант чистой установки Windows является предпочтительным во всех случаях, когда:</p>
<ul>
<li>У вас есть возможность сделать резервную копию файлов, чтобы восстановить их потом на свежеустановленную систему</li>
<li>У вас есть установщики необходимых вам программ или вы знаете, как их найти в Интернете</li>
</ul>
<div class="guru g1"><p>Своим клиентам мы всегда рекомендуем чистую установку Windows. Такая система при правильной настройке и установленном <a href="http://www.akvi.ru/virus/antivirus.html">антивирусе</a> работает дольше, быстрее и надежнее!</p></div>

<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/vista.jpg" alt="Windows Vista" /></div>

<h1>Как установить Windows? Пошаговое руководство.</h1>
<h2>Выбор варианта установки Windows</h2>
<p>Сперва вам необходимо определиться, какой из вариантов установки вам подходит: чистая установка Windows или установка системы поверх имеющейся. Второй вариант не требует существенных комментариев: все что вам нужно сделать – это вставить установочный диск с системой в дисковод и нажать кнопку «Установить Windows» в открывшемся окне. Далее все будет происходить в автоматическом режиме, вам лишь нужно будет подождать около часа. За это время система будет несколько раз перезагружаться и, возможно, потребует от вас ввести серийный ключ Windows, а после установки произвести активацию операционной системы. </p>
<p>Рассмотрим более подробно вариант установки Windows на чистый диск. Он требует немного больше времени и манипуляций, но поверьте, результат того стоит!</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<h2>Перенос файлов и настроек</h2>
<p>Итак, вы решили выполнить чистую установку Windows. Перед  началом переустановки стоит позаботиться о сохранности файлов и важных данных. Основные данные, которые, как правило, требуется перенести на новую операционную систему – музыка, фотографии, документы Word, Excel и другие, сохраненные игры, темы рабочего стола, фильмы. Так же стоит сохранить пароли, важные сообщения электронной почты (например, содержащие пароли от регистраций на различных сайтах) в случае, если вы пользуетесь почтовыми программами, которые загружают сообщения, не оставляя копии на сервере.</p>
<p>В Windows есть замечательная программа «Мастер переноса настроек», которая поможет вам буквально за несколько кликов сохранить все настройки системы, которые можно будет потом так же легко восстановить после переустановки Windows. Она перенесет закладки в Internet Explorer, параметры экрана, различные пользовательские настройки Windows и другие параметры. Подробнее про перенос файлов вы можете прочитать в этой <a href="http://www.akvi.ru/windows/perenos.html">статье</a>.</p>
<p>Все эти файлы необходимо записать на любой носитель информации (USB флеш, DVD-диск) или даже на раздел жесткого диска, отличный от того, на который будет производиться переустановка Windows. Если на вашем компьютере диск разбит на два и более раздела, то можно не использовать внешних носителей, а перенести файлы на тот логический раздел, куда вы не планируете устанавливать систему.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<h2>Переустановка Windows</h2>
<p>На прошлом шаге вы скопировали все ваши данные, и теперь мы можем приступить к переустановке Windows. Но прежде чем начать, еще раз подумайте, все ли файлы и документы вы перенесли. В ходе переустановки вся информация на диске будет стерта и ее восстановление будет весьма трудоемким и дорогостоящим процессом. Поэтому чтобы вам не пришлось пользоваться услугой «<a href="http://www.akvi.ru/vosstanovlenie/">восстановление информации</a>», еще раз убедитесь, что в системе не осталось файлов, которые в будущем могут вам потребоваться.</p>
<p>Итак, все готово и мы начинаем! Сначала вам придется зайти в настройки BIOS и поставить CD-ROM первым на очереди загрузки. Для этого нажмите F2 или DEL в начале загрузке. Конкретная клавиша зависит от версии BIOS, поэтому смотрите на текст сообщений BIOS сразу после включения питания.</p>
<h2>Установка Windows XP</h2>
<p>Установка Windows XP происходит в несколько этапов:</p>
<p><b>Первый этап</b></p>
<p>Происходит в текстовом режиме. После включения компьютера со вставленным установочным диском Windows XP, первые несколько минут происходит копирование файлов, после чего система просит согласиться с лицензией, выбрать раздел для установки и отформатировать его. После этого копируются еще файлы и система перезагружается.</p>
<p><b>Второй этап</b></p>
<p>Происходит в графическом режиме. В левой части экрана можно будет видеть, сколько минут осталось до завершения процесса установки Windows. На 33 минуте вас попросят ввести ключ, выбрать региональные параметры, имя компьютера и установить дату. На 30 минуте вам будет предложено настроить сетевые параметры. После этого дальнейший процесс происходит в автоматическом режиме. В конце система перезагрузится.</p>
<p><b>Третий этап</b></p>
<p>На финальной стадии вам будет предложено установить параметры защиты компьютера, подключиться к интернету и активировать свою копию Windows. После этого перед вами появится рабочий стол Windows.</p>
<h2>Установка Windows Vista</h2>
<p>В системе Windows Vista использована технология установки, практически не требующая от пользователя присутствия и какого-либо участия в процессе. Нужно просто вставить диск, перезагрузить компьютер и ответить на несколько простых вопросов программы установки. Весь дальнейший процесс происходит без участия пользователя и примерно через полчаса система будет установлена на ваш компьютер.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<h2>Финальные штрихи</h2>
<p>После того как операционная система будет установлена, потребуется выполнить еще некий набор действий, чтобы с Windows можно было работать:</p>
<ul>
<li><a href="http://www.akvi.ru/virus/antivirus.html">Установка антивируса</a></li>
<li>Подключение к Интернету, если оно не произошло автоматически</li>
<li><a href="http://www.akvi.ru/ustanovka/driver.html">Установка драйверов</a> для внутренних устройств</li>
<li>Подключение и <a href="http://www.akvi.ru/ustanovka/printer.html">установка драйверов принтера</a>, <a href="http://www.akvi.ru/ustanovka/scaner.html">сканера</a> и других внешних устройств</li>
<li>Установка программ и <a href="http://www.akvi.ru/programs/ustanovka.html">Microsoft Office</a></li>
<li><a href="http://www.akvi.ru/windows/obnovlenie.html">Обновление Windows</a></li>
<li>Дефрагментация диска</li>
</ul>
<div class="highlight">
<p>Послеустановочные действия на практике занимают куда больше времени, чем собственно установка Windows. Этим пользуются недобросовестные фирмы компьютерной помощи, заявляя на сайтах и рекламных листовках, что стоимость переустановки Windows у них 500 и даже менее рублей.</p>
<p>На практике  пользоваться «чистой» системой невозможно и вам будут предложены дополнительные услуги по установке программ, драйверов и т.п. Суммарный чек может в разы превосходить обещанную стоимость установки Windows. Чтобы не стать жертвой обмана, всегда перед вызовом мастера узнавайте по телефону, сколько будет стоить полный набор услуг по переустановке Windows.</p>
</div>

</div>





<p>Для вашего удобства и экономии средств мы создали пакеты услуг по установке Windows, которые объединяют в себе все эти работы. Поскольку у разных людей свои требования к тому, что должно присутствовать у них на компьютере, мы предлагаем три вида пакетов услуг по установке Windows:</p>
<ul>
<li>«<a href="http://www.akvi.ru/price/windows.html#min">Минимальная</a>»</li>
<li>«<a href="http://www.akvi.ru/price/windows.html#full">Полная</a>»</li>
</ul>
<p>Воспользовавшись любым из этих пакетов, вы экономите до 45% от стоимости услуг! Если у вас остались вопросы по установке Windows, вы можете задать их нашему специалисту по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>

<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/xp.jpg" alt="Windows XP SP3" /></div>


</div>