<div class="txt">
<img src="http://static.akvi.ru/i/sp.png" alt="" style="float: right; padding-left: 30px"/>
<h1>Установка Service Pack</h1>
<h2>Что такое Service Pack</h2>

<p>Microsoft ведет постоянную работу над повышением быстродействия, безопасности и устойчивости операционной системы Windows. Чтобы упростить для пользователей получение обновлений и улучшений, Microsoft периодически объединяет их в один большой пакет. Эти пакеты называются пакетами обновлений или Service Pack.</p>
<p>Последними версиями SP для различных версий Windows на июнь 2009 являются:</p>
<ul>
<li>Windows 2000 SP4</li>
<li>Windows XP SP3</li>
<li>Windows Vista SP2</li>
</ul>

<h2>Установка Windows XP SP3</h2>
<p>Пакет обновления Windows XP SP3 включает в себя все ранее выпущенные обновления Windows XP, в том числе обновления безопасности и исправления.</p>
<p>Выпуская SP3, корпорация Майкрософт не добавляет в Windows XP важных функций из новых версий Windows. Например, в пакет обновления Windows XP SP3 не включен Internet Explorer 7, хотя включены обновления и для Internet Explorer 6, и для Internet Explorer 7, и пакет обновит любую из этих версий обозревателя, установленную на компьютере.</p>
<p>Установка SP3 на Windows XP не вносит в работу пользователя никаких существенных изменений. Улучшения касаются внутреннего устройства самой операционной системы, и внешне вы не заметите никакой разницы.</p>
<div class="guru g2"><p>Если вы используете Windows XP дома, то установка SP3 не привнесет существенных изменений в работу вашего компьютера. Но при заказе услуги чистой установки Windows мы установим систему с уже интегрированным пакетом обновлений SP3!</p></div>

<h2>Установка Windows Vista SP1</h2>
<p>Пакет обновления Windows Vista SP1, в отличии от SP3 для Windows XP, является значительным обновлением операционной системы, существенно повышающим производительность и стабильность ее работы.</p>
<p>Многие пользователи Windows Vista были разочарованы невысокой скоростью работы системы на их компьютерах, но списывали это на недостаточную производительность своего компьютера. С выходом Windows Vista SP1 ситуация в корне изменилась, и прирост производительности системы с установленным SP1 оказался заметным даже по субъективным ощущениям.</p>
<p>В первую очередь следует отметить улучшенную скорость копирования данных, улучшенные параметры энергопотребления для ноутбуков, значительное увеличение скорости переноса большого количества файлов, а также решены многие проблемы входа и выхода из спящего режима.</p>
<p>Следует, однако, отметить, что во время установки SP1 будут удалены файлы, служащие для оптимизации производительности системы, что может привести к некоторой заторможенности Windows Vista SP1 непосредственно после установки. Нормальная скорость работы будет восстановлена после нескольких часов работы с системой.</p>
<div class="guru g1"><p>Если вам кажется, ваш компьютер недостаточно быстро работает из-за того, что у Windows Vista слишком большие требования к системе, не торопитесь <a href="http://www.akvi.ru/windows/xp_vista.html">возвращаться к Windows XP</a>. Установка пакета обновлений SP1 для Windows Vista скорее всего решит проблему, связанную с производительностью. Мы рекомендуем установку SP1 на все компьютеры с Windows Vista!</p></div>
<p>В конце мая 2009 стал доступен пакет SP2 для Windows Vista. Он не внес существенных улучшений, сравнимых с SP1, но все же рекомендуется к установке.</p>

<p>Если вы не знаете, какой пакет обновлений установлен на вашем компьютере, или хотите узнать какие преимущества вам даст установка пакета обновлений на вашу систему, позвоните нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> и получите бесплатную консультацию.</p>
</div>