<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="keywords" content="<tmpl_var keywords>"/>
	<meta name="description" content="<tmpl_var description>"/>
	<meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
	<title><tmpl_var title></title>
	<link rel="stylesheet" type="text/css" href="http://www.akvi.ru/css/common.css"/>
	<link rel="shortcut icon" href="http://www.akvi.ru/favicon.ico"/>
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="http://www.akvi.ru/css/lte_ie7.css"/><![endif]-->
	<!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no"/><link rel="stylesheet" type="text/css" href="http://www.akvi.ru/css/lte_ie6.css"/><![endif]-->
	<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/js/global.js"></script>
	<script src="/js/ga.js" type="text/javascript"></script>
	<script type="text/javascript">new Image().src = "http://counter.yadro.ru/hit?r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"" : ";s"+screen.width+"*"+screen.height+"*" + (screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u"+escape(document.URL) +  ";" +Math.random();</script>
	<script type="text/javascript">var gaJsHost="http://www.";try{var pageTracker=_gat._getTracker("UA-9242311-1");pageTracker._trackPageview();}catch(err){}</script>
</head>
<body<tmpl_unless isindex> section="<tmpl_var dir>"</tmpl_unless>>
	<div id="tags">
		<p><tmpl_var description></p><tmpl_if isindex><tmpl_else><p><tmpl_var links></p></tmpl_if>
	</div>
	<table id="layout">
		<tr id="header">
			<td class="col1">
				<p class="phone print">(495) 646-01-26<br/>Срочная компьютерная помощь</p><img src="http://static.akvi.ru/i/logo_print.png" alt="" class="print"/>
				<div id="city" class="rel">

<div id="city_bg"><img src="http://static.akvi.ru/i/0.gif" alt=""/></div>

<!-- Компьютерная помощь -->
<div id="banners" class="rel">

<div class="index"><tmpl_if isindex><div>
<a href="http://www.akvi.ru/" title="Компьютерная помощь AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Скорая компьютерная помощь AKVI" class="png24 logo"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<img src="http://static.akvi.ru/i/bond.png" alt="Добрый день, это компьютерная помощь?" class="bond"/>
<img src="http://static.akvi.ru/i/bond_bad.png" alt="" id="bond_bad" class="bond"/>
<div id="b1" class="ball"><big>Добрый день, это<br/><i>компьютерная помощь?</i></big></div></div></tmpl_if></div>

<!-- Установка Windows -->
<div class="notice windows">
<a href="http://www.akvi.ru/" title="Ремонт компьютеров в Москве AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Ремонт компьютеров в Москве AKVI" class="png24 logo"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<div>
<big>В каждый дом<br/><i>по окошку</i></big>
<ul>
<li><a href="http://www.akvi.ru/windows/">Установка Windows</a></li>
<li><a href="http://www.akvi.ru/windows/pereustanovka.html">Переустановка Windows</a></li>

<li><a href="http://www.akvi.ru/windows/faq.html">FAQ</a></li>
</ul>
</div></div>
				
<!-- Беспроводной интернет -->
<div class="notice wifi">
<a href="http://www.akvi.ru/" title="Компьютерный сервис AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Компьютерный сервис AKVI" class="png24 logo"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<div>
<big>Настроим Wi-Fi<br/><i>Интернет!</i></big>
<ul>
<li><a href="http://www.akvi.ru/wifi/">Настройка Wi-Fi</a></li>
<li><a href="http://www.akvi.ru/wifi/router.html">Настройка роутера</a></li>

<li><a href="http://www.akvi.ru/wifi/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Удаление вирусов -->
<div class="notice virus">
<a href="http://www.akvi.ru/" title="Ремонт ноутбуков AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Ремонт ноутбуков AKVI" class="png24 logo"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<img src="http://static.akvi.ru/i/wit/wit4_24.png" class="png24" alt=""/>
<!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="" class="png24_ie6"/><![endif]-->
<div>
<big>Вирусы живыми<br/><i>не уйдут!</i></big>
<ul>
<li><a href="http://www.akvi.ru/virus/">Удаление вирусов</a></li>
<li><a href="http://www.akvi.ru/virus/antivirus.html">Установка антивируса</a></li>

<li><a href="http://www.akvi.ru/virus/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Установка программ -->
<div class="notice software">
<a href="http://www.akvi.ru/" title="Ремонт ноутбуков AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Ремонт ноутбуков AKVI" class="png24 logo" title="Компьютерная помощь AKVI"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<div>
<big>Маэстро установки<br/><i>программ</i></big>
<ul>
<li><a href="http://www.akvi.ru/programs/">Установка программ</a></li>
<li><a href="http://www.akvi.ru/programs/udalenie.html">Удаление программ</a></li>

<li><a href="http://www.akvi.ru/programs/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Сборка компьютера -->
<div class="notice hardware">
<a href="http://www.akvi.ru/" title="Компьютерные услуги AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Компьютерные услуги AKVI" class="png24 logo" title="Компьютерная помощь AKVI"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<div>
<big>Вдыхаем в железо<br/><i>жизнь</i></big>
<ul>
<li><a href="http://www.akvi.ru/sborka/">Сборка компьютера</a></li>
<li><a href="http://www.akvi.ru/sborka/upgrade.html">Модернизация компьютера</a></li>

<li><a href="http://www.akvi.ru/sborka/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Установка устройств -->
<div class="notice device">
<a href="http://www.akvi.ru/" title="Срочная компьютерная помощь AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Срочная компьютерная помощь AKVI" class="png24 logo" title="Компьютерная помощь AKVI"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<img src="http://static.akvi.ru/i/wit/wit8.png" alt="" class="wit8"/>
<div>
<big>Подключим<br/><i>периферию</i></big>
<ul>
<li><a href="http://www.akvi.ru/ustanovka/scaner.html">Установка сканера</a></li>
<li><a href="http://www.akvi.ru/ustanovka/printer.html">Установка принтера</a></li>
<li><a href="http://www.akvi.ru/ustanovka/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Восстановление данных -->
<div class="notice data">
<a href="http://www.akvi.ru/" title="Профессиональный ремонт компьютеров AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Профессиональный ремонт компьютеров AKVI" class="png24 logo" title="Компьютерная помощь AKVI"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<div>
<big>Не отчаивайтесь,<br/><i>мы спасем!</i></big>
<ul>
<li><a href="http://www.akvi.ru/vosstanovlenie/">Восстановление данных</a></li>
<li><a href="http://www.akvi.ru/vosstanovlenie/metod.html">Методы восстановления</a></li>

<li><a href="http://www.akvi.ru/vosstanovlenie/faq.html">FAQ</a></li>
</ul>
</div></div>

<!-- Абоненткое обслуживание -->
<div class="notice abonent">
<a href="http://www.akvi.ru/" title="Ремонт ноутбуков AKVI"><img src="http://static.akvi.ru/i/logo.png" alt="Скорая компьютерная помощь AKVI" class="png24 logo" title="Компьютерная помощь AKVI"/><!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="Скорая компьютерная помощь AKVI" class="logo_ie6"/><![endif]--></a>
<img src="http://static.akvi.ru/i/wit/wit2_24.png" class="png24" alt=""/>
<!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" alt="" class="png24_ie6"/><![endif]-->
<div>
<big>Всегда<br/><i>на страже!</i></big>
<ul>
<li><a href="http://www.akvi.ru/abonentskoe/">Абонентское обслуживание</a></li>
<li><a href="http://www.akvi.ru/abonentskoe/internet.html">Безлимитный Интернет в офис</a></li>
<li><a href="http://www.akvi.ru/price/abonent.html"><b>Прайс-лист</b></a></li>
</ul>
</div></div>

</div>
				</div>
			</td>
			<td class="col2">
				<ul id="menu">
					<li><a class="m6" href="http://www.akvi.ru/windows/">Установка Windows</a></li>
					<li><a class="m1" href="http://www.akvi.ru/wifi/">Настройка Wi-Fi</a></li>
					<li><a class="m4" href="http://www.akvi.ru/virus/">Удаление вирусов</a></li>
					<li><a class="m5" href="http://www.akvi.ru/programs/">Установка программ</a></li>
					<li><a class="m7" href="http://www.akvi.ru/sborka/">Сборка компьютера</a></li>
					<li><a class="m8" href="http://www.akvi.ru/ustanovka/printer.html">Установка устройств</a></li>
					<li><a class="m3" href="http://www.akvi.ru/vosstanovlenie/">Восстановление данных</a></li>
					<li><a class="m2" href="http://www.akvi.ru/abonentskoe/">Абонентское обслуживание</a></li>
				</ul>
			</td>
			<td class="col3">
				<p class="phone">(495) 646-01-26</p>
				<p class="we_are">Компьютерная помощь AKVI: ремонт компьютеров и ноутбуков, настройка Wi-Fi и удаление вирусов.</p>
				<div class="brands" id="brands">
					<a href="http://www.akvi.ru/virus/"><img src="http://static.akvi.ru/i/brands/kaspersky.png" alt="Антивирус Касперского"/>Защитим от вирусов!</a>
					<a href="http://www.akvi.ru/windows/"><img src="http://static.akvi.ru/i/brands/windows.png" alt="Windows"/>Установим Windows</a>
					<a href="http://www.akvi.ru/windows/mac.html"><img src="http://static.akvi.ru/i/brands/apple.png" alt="Apple Macintosh" style="margin-top: -10px"/>Поможем с Mac OS X</a>
					<a href="http://www.akvi.ru/wifi/"><img src="http://static.akvi.ru/i/brands/wifi.png" alt="Wi-Fi"/>Настроим WiFi</a>
					<a href="http://www.akvi.ru/programs/"><img src="http://static.akvi.ru/i/brands/office.png" alt="Microsoft Office"/>Установим Office</a>
				</div>
			</td>
		</tr>
		<tr id="body">
			<td class="col1">
<tmpl_var content>
			</td>
			<td class="col2">
<tmpl_var menu>
			</td>
			<td class="col3">
				<div class="ad"><div><a href="http://www.akvi.ru/promo/#spec3">Купон на скидку</a><p>Распечатайте купон и получите скидку 5%, показав его мастеру.</p></div></div>
			</td>
		</tr>
		<tr id="footer">
			<td class="col1">
				<div class="pad"><ul><li class="m1"><a href="http://www.akvi.ru/wifi/">Настройка WiFi</a></li><li class="m2"><a href="http://www.akvi.ru/abonentskoe/">Абонентское обслуживание</a></li><li class="m3"><a href="http://www.akvi.ru/vosstanovlenie/">Восстановление данных</a></li><li class="m4"><a href="http://www.akvi.ru/virus/">Удаление вирусов</a></li><li class="m5"><a href="http://www.akvi.ru/programs/">Установка программ</a></li><li class="m6"><a href="http://www.akvi.ru/windows/">Установка Windows</a></li><li class="m7"><a href="http://www.akvi.ru/sborka/">Сборка компьютера</a></li></ul></div>
			</td>
			<td class="col2">
				<div class="pad">
					<div class="dev"><p><img src="http://static.akvi.ru/i/dev.png" alt="Разработка сайта - Танцующие с бубном"/><br/>Разработка сайта<br/><a href="http://sbubnom.ru">sbubnom.ru</a></p></div>
					<div class="copy">
					<p id="copy">© <span>2008</span> Компьютерная помощь AKVI</p>
					<p>При копировании материалов ссылка на сайт обязательна!</p>
					</div>
				</div>
			</td>
			<td class="col3"><div class="pad"></div></td>
		</tr>
	</table>
<!--[if lte IE 6]><img src="http://static.akvi.ru/i/0.gif" width="1000" height="1"/><![endif]-->
</body>
</html>