<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
<link rel="stylesheet" type="text/css" href="http://static.akvi.ru/css/common.css"/>
<link rel="shortcut icon" href="http://static.akvi.ru/favicon.ico"/>
<meta name="keywords" content="<tmpl_var keywords>"/>
<meta name="description" content="<tmpl_var description>"/>
<meta name="robots" content="noyaca"/>
<title><tmpl_var title></title>
<script src="/js/load.js" type="text/javascript" charset="windows-1251"></script>
<!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no"/><link rel="stylesheet" type="text/css" href="http://www.akvi.ru/css/lte_ie6.css"/><![endif]-->
</head>
<body>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter17538544 = new Ya.Metrika({id:17538544, enableAll: true, webvisor:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/17538544" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<div id="tags"><p><tmpl_var description></p></div>
<div id="layout"><tmpl_var content><!--akvi--><!--check code--><!--/akvi--></div>
<tmpl_var menu>
<script type="text/javascript" src="http://yandex.st/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
var title<tmpl_unless isindex>='<tmpl_var dir>'</tmpl_unless>;
content_loaded();</script>
</body>
</html>