AddDefaultCharset utf-8
FileETag None

<ifModule mod_headers.c>
	Header unset ETag
</ifModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 month"
</IfModule>

AddType text/css cssz
AddType application/javascript jsz
AddType image/svg+xml svg svgz

AddEncoding gzip svgz cssz jsz