<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка жесткого диска</h1>
<p>Наши специалисты помогут установить дополнительный или заменить имеющийся жесткий диск.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Для того чтобы максимально ускорить эту процедуру и избежать возможных проблем, перед обращением к нам определитесь с требуемым объемом жесткого диска и уточните модель ноутбука или материнской платы.</p>
</div>
<p>Модель ноутбука обычно указывается на корпусе. Если у вас персональный компьютер, то скачайте и установите программу <a href="http://static.akvi.ru/files/cpuz.exe"><b>CPU-Z</b></a>, после чего запустите ее, откройте вкладку <b>Mainboard</b> и запишите значения полей <b>Manufacturer</b> и <b>Model</b>.</p>
<p>Эта информация поможет нам точно определить, какой жесткий диск вам подходит, и выполнить ваш заказ быстрее и за меньшую стоимость!</p>
<p>Если вы уже купили и установили жесткий диск, но его не видит система, мы поможем решить и эту проблему.</p>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Точно определим, какой жесткий диск вам подходит;</li>
<li>Приобретем, доставим и установим жесткий диск;</li>
<li>При необходимости перенесем файлы со старого жесткого диска на новый;</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td></tr>
<tr><td>Покупка и доставка оборудования клиенту</td><td>390</td></tr>
<tr><td>Установка HDD</td><td>490</td></tr>
<tr><td>Стоимость жесткого диска</td><td>от 2000</td></tr>
<tr><td>Итого</td><td>880 + стоимость HDD</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Замена жесткого диска</p>
<p>С ростом пропускной способности домашних интернет-каналов людям открылись возможности, недоступные ранее&nbsp;— скачивание фильмов, музыки, игр и других данных внушительных объемов. Если еще пару лет назад скачивание HD-фильма весом 25 Гигабайт и более казалось чем-то немыслимым, то сегодня это вполне обычное дело.</p>
<p>К счастью, проблема хранения больших объемов информации сегодня, можно сказать, решена&nbsp;— цены на винчестеры падают день ото дня, и в компьютерном магазине уже сейчас можно купить жесткий диск объемом в 1 Терабайт (1000 ГБ) всего за $100 (цены на май 2009). Такое решение для архивации данных существенно дешевле, чем покупка DVD-болванок аналогичного объема, а про удобство и говорить нечего: установка жесткого диска&nbsp;— дело пяти минут, а сколько бы времени у вас ушло на запись 200 DVD-дисков?</p>

<h2>Процедура установки жесткого диска</h2>
<p>В простейшем варианте установка жесткого диска сводится к следующим основным этапам:</p>
<ul>
<li>Установка жесткого диска в корпусе компьютера</li>
<li>Подключение кабеля данных и шнура питания</li>
<li>Настройка параметров BIOS (иначе, во время установки Windows не увидит жесткий диск)</li>
<li>Создание логических разделов и форматирование</li>
</ul>
<p>Установка жесткого диска SATA ничем принципиально не отличается от аналогичной процедуры установки винчестера с интерфейсом IDE. Вам точно так же потребуется подключить шнур питания и кабель передачи данных. В редких случаях вам потребуется установить «джампер» на жестком диске в нужном положении&nbsp;— как правило, в этом нет необходимости, так как в BIOS современных материнских плат есть все необходимые возможности по управлению жесткими дисками.</p>
<h1>Установка второго жесткого диска</h1>
<p>Бытует мнение, что жесткие диски отличаются друг от друга только объемом. Это утверждение является в корне неверным&nbsp;— скорость работы жесткого диска является не менее важным параметром. Более того, немногие знают, что производительность жесткого диска является едва ли не самым узким местом в работе компьютера. От скорости считывания данных напрямую зависит время установки программ, загрузки Windows и игр, а от возможностей жесткого диска по параллельному считыванию информации зависит производительность системы в целом.</p>
<p>Если вы собираетесь установить второй жесткий диск на ваш компьютер, у вас есть уникальная возможность удвоить скорость работы с хранимыми данными. Но для этого вам нужно не просто подключить второй жесткий диск как отдельный том (так сделано у большинства людей), а организовать высокоскоростной RAID-массив. Только представьте себе&nbsp;— каждый ваш файл хранится на двух жестких дисках одновременно и за счет этого считывается и записывается ровно в два раза быстрее! Эффект установки второго жесткого диска вас приятно удивит&nbsp;— компьютер начнет работать гораздо быстрее, вы сможете запросто заметить прирост по собственным ощущениям!</p>
<p>Следует отметить, что у такого подхода есть некоторые ограничения и сделать это можно, увы, не всегда. О возможности установки второго жесткого диска и организации RAID-массива на вашем компьютере вы можете поговорить с нашим специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
<p>Не стоит также забывать, что дефрагментация является хорошим способом увеличить скорость работы с диском. Регулярное проведение этой процедуры позволяет не только более эффективно работать с устройством, но и продлить срок жизни жесткого диска, который, увы, подвержен <a href="http://www.akvi.ru/vosstanovlenie/failures.html">износу</a>.</p>
<h1>Замена жесткого диска</h1>
<p>Необходимость в замене жесткого диска может возникнуть по разным причинам:</p>
<ul>
<li>Не устраивает скорость работы винчестера</li>
<li>На жестком диске не хватает объема для хранения данных</li>
<li>Жесткий диск старый и его требуется заменить во избежание поломки. Если винчестер по той или иной причине все-таки вышел из строя, возможно, вам потребуется услуга по <a href="http://www.akvi.ru/vosstanovlenie/">восстановлению данных</a>.</li>
</ul>
<p>Процедура замены жесткого диска ничем не отличается от процедуры установки, описанной ранее, за исключением того, что вам потребуется сначала вынуть из корпуса старый жесткий диск перед установкой нового. Далее вам может потребоваться <a href="http://www.akvi.ru/windows/">установить Windows</a> и скопировать назад <a href="http://www.akvi.ru/windows/perenos.html">заранее сохраненные файлы и параметры</a>.</p>
<h2>Замена жесткого диска в ноутбуке</h2>
<p>Особой популярностью пользуется услуга замены жесткого диска в ноутбуке. Это связано с тем, что за последний год цены на жесткие диски для ноутбуков буквально обвалились, а объемы выросли в разы. Если еще год назад жесткий диск в ноутбуке объемом 250 ГБ считался роскошью и ставился только в самые дорогие модели, то сегодня можно купить жесткий диск для ноутбука объемом 500 ГБ чуть более чем за $100! (цены на май 2009)</p>
<p>Наши специалисты помогут вам подобрать, купить и установить жесткий диск в ноутбук. Мы берем деньги только за замену жесткого диска в ноутбуке, а сам о устройство мы купим для вас через собственный оптовый канал закупки компьютерных комплектующих с предоставлением всех чеков и фирменной гарантии. Если вас заинтересовала услуга замены жесткого диска, вы можете задать все интересующие вас вопросы нашему квалифицированному специалисту по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
</div>