<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка драйверов</h1>
<p>Мы оказываем помощь в установке драйверов для устройств всех типов: звуковые и видео карты, принтеры и другие устройства.</p>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Установим самый свежий драйвер;</li>
<li>Найдем драйвер в Интернете, если его нет на CD;</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td></tr>
<tr><td>Поиск и загрузка драйвера через Интернет</td><td>150</td></tr>
<tr><td>Установка драйвера</td><td>390</td></tr>
<tr class="b"><td>Итого</td><td>540</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<p class="h1">Установка и обновление драйверов</p>
<h2>Установка драйверов</h2>
<p><b>Драйверы</b>&nbsp;— своеобразные программы, которые позволяют компьютеру работать с устройствами.</p>
<p>Система Windows уже содержит в себе некий минимальный набор драйверов, который позволяет ей, так или иначе, работать с устройствами. Это означает, что иногда вы просто вставляете устройство в компьютер и оно «само» начинает работать без установки каких либо драйверов. Так, например, вы вставляете USB-флешку, а она распознается системой и автоматически подключается как внешний накопитель информации.</p>
<p>К сожалению, встроенные в Windows драйверы умеют выполнять лишь некий минимум инструкций, достаточный только для поддержки базового функционала. Так, например, установив новую видеокарту, вы обнаружите, что компьютер включается, и изображение на экране есть. Но если попробуете запустить любую 3D-игру, вы будете разочарованы&nbsp;— игра либо не запустится вовсе, либо будет сильно тормозить. Проблема заключается в отсутствии видео драйвера.</p>
<p>Проблему можно решить с помощью установки драйверов для видеокарты (ATI или NVIDIA). Программу установки драйвера всегда можно скачать с сайта соответствующей компании-разработчика видеокарты.</p>
<p>Эта же проблема касается и звуковых драйверов, установка которых необходима для корректной работы звуковой карты. Причем здесь проблема стоит даже несколько острее, так как большинство звуковых карт вообще никак не распознаются Windows, и без установки нужного драйвера звук может даже не появиться непосредственно после установки устройства.</p>
<p>Бывают устройства, которые совсем не работают без установки драйвера. Это в первую очередь касается TV-тюнеров, сканеров, принтеров, USB-модемов, Wi-Fi адаптеров и прочего нестандартного оборудования. Так, например, практически любое USB-устройство, за исключением USB-флэшек, не станет работать без установки USB-драйвера этого устройства. К счастью, программу установки драйвера для устройства всегда можно скачать с сайта компании-разработчика.</p>
<p>Особый в особый класс можно отнести sata-драйверы. В отличии остальных, драйвер sata устанавливается непосредственно во время <a href="http://www.akvi.ru/windows/">установки Windows</a> на этапе разбиения дискового пространства. У вас нет такого драйвера, его обязательно требуется скачать перед установкой системы, в противном случае <a href="http://www.akvi.ru/ustanovka/disk.html">Windows не увидит жесткий диск</a>.</p>


<h2>Установка драйвера на Windows XP и Vista</h2>
<p>Эти операционные системы используют различное ядро, и на них не рекомендуется устанавливать одни и те же драйверы. Это означает, что если вы купили компьютер с Windows Vista, не торопитесь доставать диск с драйверами от старого принтера пятилетней давности и ставить его на новый компьютер. На этом диске, скорее всего, есть лишь драйвер для Windows XP, который может не только не заработать на Vista, но и нанести серьезный урон вашей новой системе или вызвать другие проблемы при установке. Установка такого драйвера принтера крайне не рекомендуется.</p>
<p>Если вы не уверены, что драйвер на вашем диске предназначен именно для Windows Vista, рекомендуем вызвать специалиста, который произведет квалифицированную установку самого последнего драйвера для Vista.</p>
<p>То же самое касается и Windows XP, которая выпускается в двух изданиях&nbsp;— версия для 32 и 64-битных процессоров. Разумеется, эти две системы используют разные драйверы для работы с устройствами и установка драйверов на XP 64-разрядной версии от 32-разрядной может привести к различным проблемам. Если вы используете Windows XP x64, убедитесь что драйвер устройства, которое вы собираетесь установить предназначено именно для этой версии операционной системы.</p>

<div class="guru g1"><p>Обновить драйвер самостоятельно совсем не сложно, но если вы не уверены, что у вас именно тот драйвер, который нужен для работы устройства, лучше проконсультируйтесь с нашим специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p></div>

<p>Так же распространенной причиной недовольства пользователей является желание производителей включить в программу установки драйвер все, что только можно. В итоге драйвер весом в 300 КБ обрастает всякими примочками, которые людям в помине не нужны, но занимают значительное место на жестком диске и расходуют системные ресурсы. Особенно этим грешат производители принтеров и сканеров. Помимо собственно драйвера принтера в программу установки включаются различные приложения для обработки цифровых изображений, удаления красных глаз, модули для проверки обновлений и еще масса ненужных приложений, которые даром не нужны, если вам требуется просто печатать документы.</p>
<p>Не смотря на то, что производители оборудования редко дают возможность скачать «просто драйвер» и навязывают эти приложения, возможность установить только драйвер все-таки есть. Если вам не требуется ничего кроме установки непосредственно драйвера, скажите об этом нашему мастеру, и он учтет это при выполнении заказа.</p>
<h2>Автоматическая установка драйверов</h2>
<p>В Windows XP и более поздних версиях была внедрена замечательная функция&nbsp;— автоматическая установка драйверов. Такой подход существенно упрощает поиск и обновление драйверов устройств, так как вам не требуется указывать точный путь к папке с драйвером и следить, чтобы не затереть новый драйвер старым. Начиная с Windows Vista, система автоматической установки драйверов получила дальнейшее развитие&nbsp;— она сама ищет в Интернете последний сертифицированный драйвер и предлагает его для скачивания через службу Windows Update. Прелесть состоит в том, что вам больше не нужно следить за тем, что у вас установлен последний драйвер&nbsp;— система сама будет периодически обращаться в Интернет и при необходимости загружать его автоматически. Причем работает это не только в режиме обновления, но и в режиме поиска драйвера для нового, только что подключенного устройства. Вам даже не потребуется диск для установки принтера!</p>

<h2>Обновление драйверов</h2>
<p>Прогресс не стоит на месте&nbsp;— в мире изобретают новые технологии, находят новые, более оптимальные способы решения старых задач. И подчас бывает так, что ваше текущее оборудование можно заставить работать более эффективно за счет обновления драйвера. В первую очередь это касается драйверов для видео- и аудио карт. Вам даже не придется ничего покупать&nbsp;— свежую программу установки драйвера всегда можно скачать из Интернета совершенно бесплатно!</p>
<p>Обновив драйвер для вашей видеокарты, вы можете обнаружить, что игра, которая еще вчера «тормозила» и «глючила», теперь стала работать заметно стабильнее и быстрее! Разработчики видеокарт заинтересованы в повышении производительности своих видеокарт, и с каждой новой версией видео драйвера они добавляют специальный оптимизированный код для запуска новейших игр, который позволяет получить выигрыш в производительности до 40% без замены какого-либо оборудования! Производители ATI и NVIDIA официально рекомендуют устанавливать новейшие видео драйверы, чтобы вы могли получать полное удовольствие от современных компьютерных игр.</p>
<p>Максимального прироста производительности видео следует ожидать при правильной настройке драйвера. Дело в том, что в отличии большинства других устройств, видеодрайвер позволяет проводить тонкую настройку параметров работы видеокарты в различных режимах. Например, драйвер можно настроить на высокую скорость отрисовки кадров, если игра идет недостаточно плавно. Или наоборот, если у вас достаточно быстрая видеокарта, можно настроить драйвер на высокие параметры качества изображения, что позволит в полной мере насладиться графикой.</p>
<p>Установка обновленного звукового драйвера так же может дать заметный результат, если вы играете в компьютерные игры. Как правило, в звуковых картах заложено множество возможностей, которые на момент выпуска устройства еще не были широко внедрены, и лишь позднее начали появляться игры, которые реально потребовали этот функционал. В этом случае после установки драйвера многие проблемы работы устройства могут решиться, а звук улучшиться, или просто стать нормальным, в зависимости от конкретной ситуации.</p>
<p>Однако есть устройства, про которые можно сказать «работают, и слава богу!». Например, принтер или сканер. От обновления драйвера быстрее он печатать точно не станет, так что если вы не испытываете никаких проблем с устройством, и оно работает стабильно, обновлять драйвер вам нет необходимости.</p>

<div class="guru g2"><p>Специально вызывать компьютерную помощь только для обновления драйверов имеет смысл, только если вы испытываете проблемы в работе с устройством. Однако если вы решили вызвать мастера для какого-либо ремонта, возможно, стоит попросить его обновить драйвер для вашей видеокарты, тем более стоит это совсем не дорого.</p></div>


</div>