<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>	
<h1>Установка оперативной памяти</h1>
<p>Наши специалисты помогут увеличить объем оперативной памяти в вашем компьютере.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Для того чтобы максимально ускорить эту процедуру и избежать возможных проблем, перед обращением к нам необходимо определить модель ноутбука или модель материнской платы.</p>
</div>
<p>Модель ноутбука обычно указывается на корпусе. Если у вас персональный компьютер, то скачайте и установите программу <a href="http://static.akvi.ru/files/cpuz.exe">CPU-Z</a>, после чего запустите ее, откройте вкладку Mainboard и запишите значения полей Manufacturer и Model.</p>
<p>Эта информация поможет нам точно определить тип оперативной памяти, совместимой с вашим компьютером и выполнить ваш заказ быстрее и за меньшую стоимость!</p>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Точно определим тип совместимой с вашим компьютером памяти и поможем выбрать объем;</li>
<li>Приобретем, доставим и установим оперативную память;</li>
<li>Настроим систему;</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд</td><td><span>бесплатно</span></td></tr>
<tr><td>Покупка и доставка оборудования клиенту</td><td>390</td></tr>
<tr><td>Установка оперативной памяти</td><td>190</td></tr>
<tr><td>Стоимость жесткого диска</td><td>от 2000</td></tr>
<tr class="b"><td>Итого</td><td>580 + стоимость ОП</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Установка и замена оперативной памяти</p>
<p>Оперативная память является важным элементом компьютера, от объема и скорости которой напрямую зависит производительность системы в целом и возможность запускать ресурсоемкие программы. Практически любая современная игра, просмотр фильмов в HD-качестве и работа с «тяжелыми» приложениями, такими как Adobe Photoshop, требует наличия не менее двух, а лучше четырех гигабайт оперативной памяти.</p>
<p>К сожалению, домашние компьютеры, купленные более двух лет назад, не могут похвастаться столь большим объемом оперативной памяти. Во время покупки компьютера цена на модули большого объема была достаточно высока, а столь распространенная на тот момент Windows XP вполне обходилась и одним гигабайтом. Но не стоит торопиться убирать в кладовку свой старый компьютер, если на нем тормозит Windows Vista или нельзя посмотреть HD-фильм! Проблему легко можно решить установкой дополнительной оперативной памяти, благо цена на нее в последнее время значительно снизилась. Сегодня всего за $50 можно купить огромный объем&nbsp;— целых  4&nbsp;ГБ памяти, которые позволят вам наслаждаться плавной работой вашего компьютера еще несколько лет!</p>
<p>При установке 4&nbsp;ГБ оперативной памяти следует иметь в виду, что только 64-разрядные версии Windows смогут работать со всем объемом. Обычные 32-разрядные версии Windows распознают лишь 3 или 3,5&nbsp;ГБ. О возможности установки оперативной памяти большого объема на ваш компьютер, проконсультируйтесь со специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>


<h2>Установка оперативной памяти</h2>
<p>Установка оперативной памяти является очень простой процедурой, занимающей не более 5 минут. Все что требуется сделать&nbsp;— снять крышку компьютера и установить модули оперативной памяти в соответствующие слоты на материнской плате. Никакой настройки BIOS и <a href="http://www.akvi.ru/ustanovka/driver.html">установки драйверов</a> не потребуется&nbsp;— система сама распознает оперативную память и начнет с ней работать!</p>
<h2>Замена оперативной памяти</h2>
<p>Самым ответственным этапом при замене оперативной памяти является правильный выбор нужного модуля памяти. Нужно учесть стандарт, который поддерживает материнская плата (DDR, DDR2, и т.п.), частоту и тайминги. Сделать это не так сложно как кажется&nbsp;— нужно с помощью программы <a href="http://www.cpuid.com/cpuz.php">CPU-Z</a> узнать модель материнской платы, установленной в вашем компьютере, а затем посмотреть поддерживаемые модули оперативной памяти на сайте изготовителя материнской платы.</p>
<p>Как правило, новые модули оперативной памяти не только больше по объему, но и быстрее старых, выпущенных несколько лет назад. Поэтому замена оперативной памяти не только значительно улучшит скорость работы вашего компьютера, но и сделает Windows более управляемой и плавной&nbsp;— уменьшится количество «подвисаний» и время запуска программ.</p>
<p>В такой же степени это касается и портативных компьютеров&nbsp;— большинство производителей нормально относятся к самостоятельной замене пользователями оперативной памяти в ноутбуках, и это не нарушает гарантии. Причем в ноутбуках замена оперативной памяти может дать еще больший выигрыш в производительности, так как жесткие диски на них гораздо медленнее, чем на настольных ПК.</p>
<p>Если вас интересует возможность замены оперативной памяти в вашем компьютере или ноутбуке, проконсультируйтесь с нашим специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> или оставьте заявку на сайте.</p>
<div class="guru g1">
<p>Современные приложения, такие как Office 2007 и Windows Vista расходуют значительный объем памяти и тормозить начинают именно из-за ее нехватки, а не по причине слабого процессора. Небольшие деньги, потраченные на установку оперативной памяти, позволят здорово сэкономить на покупке нового компьютера!</p>
</div>
<p>Стоит лишь добавить, что не всегда можно добиться увеличения производительности одной лишь заменой или установкой дополнительной оперативной памяти. Такая модернизация имеет смысл лишь в том случае, если вашему компьютеру реально не хватает памяти для решения задач. Если в вашем компьютере оперативная память не является «узким местом», а производительность перестала вас устраивать, вполне возможно вам потребуется полноценная модернизация компьютера или покупка нового. О целесообразности замены оперативной памяти в вашем компьютере вы можете поговорить с нашим специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>

</div>