<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка и настройка принтера</h1>
<p>Наши специалисты помогут установить принтер, даже если стандартным способом это сделать не получается.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Мы можем решить проблему с установкой принтера HP, если вы подключили его к компьютеру перед тем, как установить драйвер.</p>
</div>
<p>Так же мы занимаемся установкой сетевых принтеров и МФУ (принтер + сканер).</p>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Гарантированно подключим и настроим принтер или МФУ;</li>
<li>Найдем драйвер, даже если он не входит в комплект поставки принтера;</li>
<li>Настроим сетевую печать в офисе;</li>
<li>Подключим принтер через Wi-Fi;</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Поиск и загрузка драйвера через Интернет</td><td>150 руб.</td></tr>
<tr><td>Установка драйвера принтера, сканера</td><td>390 руб.</td></tr>
<tr><td>Установка сетевого принтера, сканера</td><td>590 руб. + 290 руб. за ПК</td></tr>
<tr><td>Установка драйвера МФУ (принтер+сканер+копир)</td><td>600 руб.</td></tr>
<tr><td>Установка сетевого МФУ (принтер+сканер+копир)</td><td>890 руб. + 390 руб. за ПК</td></tr>
<tr><td>Подключение и настройка Wi-Fi принтера</td><td>490 руб.</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Установка и подключение принтера</p>
<p>Если еще несколько лет назад принтер считался неким «довеском» для компьютера, которым пользовались довольно редко и преимущественно у соседей, то в последнее время ситуация значительно изменилась. С ростом числа материалов в сети, стремительном падении цен на принтеры и активном использовании компьютерных технологий в обучении, у людей возникла необходимость распечатывать информацию на бумаге. В последние годы едва ли можно себе представить <a href="http://www.akvi.ru/sborka/">покупку нового компьютера</a> без покупки принтера вместе с ним. Следствием такого роста популярности технологий печати стал повышенный спрос на услуги по <b>установке и настройке принтера</b>.</p>
<p>Рассмотрим основные проблемы, с которыми сталкиваются пользователи при подключении принтера:</p>
<h2>Как установить принтер?</h2>
<p>Установка принтера является по своей сути достаточно простой процедурой, не требующей особых знаний и подготовки. Вам нужно установить принтер на ровную устойчивую поверхность, подключить принтер к компьютеру, как правило, при помощи порта USB и подсоединить его к источнику питания. Далее нужно включить компьютер, вставить диск с программой установки драйвера принтера и, следуя указаниям на экране, произвести программную установку принтера.</p>
<p>Далее вам потребуется провести небольшую настройку принтера перед печатью первой страницы&nbsp;— выбрать параметры цветности, настроить количество листов на странице и ориентацию печати (книжная или альбомная), после чего нажать кнопку печати и дождаться вывода первой страницы.</p>
<p>Следует отметить, что установка и настройка принтера является процедурой, специфичной для конкретной модели. Установка принтера HP отличается от аналогичной процедуры для принтеров Canon и Epson. Вам всегда стоит пользоваться инструкцией по установке принтера, которую вы можете найти в коробке от устройства или на сайте компании-производителя.</p>

<h1>Настройка принтера</h1>
<h2>Где найти драйвер для установки принтера?</h2>
<p>Самую свежую <b>программу установки драйвера принтера</b> всегда можно найти и скачать на официальном сайте HP, Сanon или Epson. Далее вам потребуется <a href="http://www.akvi.ru/ustanovka/driver.html">установить драйвер</a>. Если вы пользуетесь услугами наших специалистов, вы можете быть уверены, что они установят на ваш компьютер самую последнюю версию драйвера принтера, взятую с официального сайта компании-производителя.</p>
<h2>Что делать, если принтер не устанавливается?</h2>
<p>Не смотря на то, что установка принтера является несложной процедурой, довольно часто случаются непредвиденные обстоятельства, и вам <b>не удается установить принтер</b>. Как правило, проблема при установке может быть связана со следующими причинами:</p>
<ul>
<li>Установка драйвера нового принтера без удаления старого драйвера.</li>
<li>При установке принтера HP нельзя подключать принтер к компьютеру до полной установки драйвера.</li>
<li>У вас старый диск с драйверами, и они не устанавливаются в Windows Vista.</li>
<li>Принтер установился, но вам не удается выполнить <b>настройку печати</b>.</li>
</ul>
<p>Эти и другие проблемы вам помогут решить специалисты нашего сервиса, причем некоторые из них мы поможем вам решить бесплатно по телефону, не тратя время мастера на выезд для двухминутной работы. Для этого просто позвоните нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>. Мы экономим ваше время!</p>
<h2>Не устанавливается принтер по умолчанию</h2>
<p>Стандартная процедура установки принтера по умолчанию в Windows XP довольно проста&nbsp;— нужно открыть настройки компьютера, выбрать <b>Принтеры и факсы</b>, в появившемся меню выбрать принтер, который вы хотите сделать принтером по умолчанию, нажать на него правой кнопкой мыши и выбрать <b>Установить по умолчанию</b>.</p>
<p>Как правило, это должно привести к установке выбранного принтера по умолчанию в настройках печати, однако, если этого не происходит, вам потребуется провести некоторую дополнительную настройку принтеров компьютера.</p>
<h2>Как подключить сетевой принтер?</h2>
<p>Установка сетевого принтера позволяет здорово сэкономить корпоративный бюджет. Подключается такой принтер через сетевой интерфейс. Как правило, для этого используется либо обычный кабель Ethernet, либо беспроводная технология Wi-Fi. Настройка сетевого принтера заключается в установке сетевых параметров таким образом, чтобы принтер получил себе IP-адрес и был виден из локальной сети.</p>
<p>Если вам необходима помощь по установке сетевого принтера, специалисты нашего сервиса помогут вам не только установить сетевой принтер, но и настроить компьютеры на работу с ним. Заказать услугу настройки сетевого принтера вы можете у нас по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
<p>Если в вашей организации еще нет сетевого принтера или даже корпоративной сети, наши специалисты помогут вам и в этом случае! Мы можем оказать вам полный комплекс услуг по созданию и <a href="http://www.akvi.ru/wifi/">настройке офисной сети</a>, а так же подключению к ней сетевого принтера. Чтобы обсудить возможность (или оправданность) установки сетевого принтера в вашей офисной сети, проконсультируйтесь с нашим специалистом по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>. Если вы являетесь нашим постоянным клиентом, у вас есть возможность воспользоваться услугой удаленной установки принтера через <b>AKVI.Online</b>.</p>


</div>