<div class="txt">

<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка сканера</h1>
<p>Наши специалисты помогут установить сканер, даже если стандартным способом это сделать не получается. Так, например, мы можем решить проблему с установкой сканера HP, если вы подключили его к компьютеру перед тем, как установить драйвер.</p>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Гарантированно подключим и настроим сканер или МФУ;</li>
<li>Найдем драйвер, даже если он не входит в комплект поставки принтера;</li>
<li>Научим пользоваться программой для сканирования (по желанию клиента);</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Установка драйвера принтера, сканера</td><td>350</td></tr>
<tr><td>Установка ПО для сканирования</td><td>390</td></tr>
<tr class="b"><td>Итого</td><td>740</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Установка и подключение сканера</p>
<p>В жизни современного человека необходимость сканирования документов стала возникать едва ли не ежедневно. Тем более эта тенденция укрепилась с падением цен на устройства сканирования и появлением МФУ. Сейчас без преувеличения можно сказать, что сканер есть практически в каждом доме. К сожалению, процедура установки сканера не является тривиальной, и проблемы могут возникнуть не только при установке сканера, но и при его настройке.</p>
<p>Установка сканера сводится к трем этапам&nbsp;— подключение устройства к компьютеру, <a href="http://www.akvi.ru/ustanovka/driver.html">установка драйвера сканера</a> и установка программы сканирования для работы с устройством.</p>
<p>Следует отметить, что при установке сканера HP ни в коем случае нельзя подключать устройство к компьютеру до тех пор, пока программа установки драйвера вас об этом не попросит. В противном случае может возникнуть проблема, и драйвер сканера не установится должным образом.</p>
<p>Установка сетевого сканера сводится к подключению устройства к офисной сети через обычный сетевой кабель или <a href="http://www.akvi.ru/wifi/">Wi-Fi</a>, а настройка и работа с устройством осуществляется через веб-интерфейс.</p>
<p>Специалисты нашего компьютерного сервиса помогут вам решить любые вопросы, связанные с настройкой, установкой и подключением сканера, в том числе и сетевого. Получить полноценную консультацию по установке сканера или вызвать мастера вы можете по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>. Если вы являетесь нашим постоянным клиентом, мы можем удаленно установить вам сканер. Для этого вам необходимо воспользоваться услугой удаленной компьютерной помощи <b>AKVI.Online</b>.</p>

</div>