<div class="txt">


<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка и замена видеокарты</h1>
<p>Если производительность вашего компьютера в играх перестала вас устраивать, значит, пора менять видеокарту. Обратившись к нам, вы можете быть уверены, что получите не только квалифицированную помощь по подбору оптимальной видеокарты, с учетом имеющейся конфигурации и ваших пожеланий, но и услуги по установке видеокарты и оптимизации системы  для достижения максимальной производительности в современных играх.</p>
<p>Чтобы мы могли максимально точно определить тип совместимой видеокарты, желательно перед обращением к нам уточнить модель материнской платы. Для этого скачайте и установите программу <a href="http://static.akvi.ru/files/cpuz.exe">CPU-Z</a>, после чего запустите ее, откройте вкладку <b>Mainboard</b> и запишите значения полей <b>Manufacturer</b> и <b>Model</b>.</p>
<p>Эта информация поможет нам точно определить тип совместимых видеокарт и выполнить ваш заказ быстрее и за меньшую стоимость!</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Заменой видеокарт в ноутбуках мы не занимаемся.</p>
</div>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Подберем совместимую видеокарту с учётом ваших пожеланий;</li>
<li>Приобретем, доставим и установим видеокарту;</li>
<li>Настроим систему на максимальную производительность;</li>
<li>Настроим SLI или CrossFire (если возможно);</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td><span>Бесплатно</span></td></tr>
<tr><td>Установка видеокарты</td><td>190</td></tr>
<tr><td>Установка драйвера видео</td><td>400</td></tr>
<tr><td>Покупка и доставка клиенту оборудования</td><td>390</td></tr>
<tr><td>Стоимость видеокарты</td><td>от 3000</td></tr>
<tr class="b"><td>Итого</td><td>980 + цена видеокарты</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<p class="h1">Установка видеокарты</p>
<p>Любой геймер хотя бы раз в жизни сталкивался с досадной ситуацией, когда после длительного ожидания новой игры, покупки многочисленных журналов и просмотра веб-сайтов со скриншотами, в день релиза он приходит в магазин, снимает игру с полки… а дома наступает разочарование&nbsp;— игра не хочет запускаться или «тормозит». Но не стоит расстраиваться раньше времени и бежать в магазин за новым компьютером. Проблему, как правило, можно решить простой заменой видеокарты!</p>
<p style="text-align: center; margin-top: 30px;"><img src="http://static.akvi.ru/i/ati_nvidia.png" alt="ATI &amp; NVIDIA logos"/></p>
<p>Современный рынок 3D-графики может предложить огромный выбор графических ускорителей на замену старой видеокарты. Причем диапазон цен здесь варьируется от бюджетных вариантов видеокарт, до мощнейших и баснословно дорогих многоядерных решений на базе NVIDIA SLI или ATI CrossFire.</p>
<p>Во-первых, вам следует определиться с суммой, которую вы готовы потратить. Если для вас играет роль цена новой видеокарты, то стоит делать выбор в пользу нетоповых решений&nbsp;— их производительность, как правило, более чем достаточна для работы практически всех современных игр на мониторах со стандартным разрешением. После установки такой видеокарты вы обязательно заметите разницу, при этом стоимость такой модернизации не будет астрономической.</p>



<h2>Установка двух видеокарт</h2>
<p>Если вам принципиально иметь высокопроизводительную видеокарту и у вас большой монитор с HD-разрешением, то выбор стоит делать в пользу установки двух видеокарт, соединенных при помощи технологий NVIDIA SLI или ATI CrossFire. Даже самая дорогая топовая видеокарта будет работать медленнее, две видеокарты предыдущего поколения в паре, а по цене такие решения будут примерно одинаковы. Производительность системы с двумя видеокартами по настоящему впечатляет&nbsp;— после замены старой видеокарты на две новые, вы в полной мере окунетесь в мир современной видеографики и компьютерных игр.</p>
<p style="text-align: center; margin-top: 30px;"><img src="http://static.akvi.ru/i/xfire_sli.jpg" alt="ATI CrossFire &amp; NVIDIA SLI logos"/></p>
<p>Следует отметить, что установка двух видеокарт рекомендуется лишь в том  случае, когда в вашем компьютере установлен мощный процессор, иначе выигрыш от замены видеокарты может быть не столь значительным, и для достижения максимальной производительности установленной видеокарты вам потребуется еще и <a href="http://www.akvi.ru/ustanovka/processor.html">замена процессора</a>. Однако если ваша старая материнская плата не позволяет устанавливать четырехъядерные процессоры новейшего поколения, вполне возможно вам стоит задуматься о полноценном <a href="http://www.akvi.ru/sborka/upgrade.html">апгрейде компьютера</a>. Стоит также заметить, что установка двух видеокарт вместе с мощным процессором ведет к повышенному энергопотреблению, так что для надежной работы компьютера вам потребуется заменить блок питания на более мощный.</p>
<div class="guru g2">
<p><b>Установка двух видеокарт</b>&nbsp;— довольно дорогое решение и рекомендуется, только если ради вашей любимой игры вы «за ценой не постоите». В остальных случаях мы рекомендуем приобрести бюджетную модель  видеокарты, производительность которой также позволит запускать большинство игр.</p>
</div>
<h2>Замена видеокарты</h2>
<p>Перед заменой видеокарты следует обратить внимание на следующие моменты:</p>
<ul>
<li>Сколько разъемов PCI Express x16 на вашей материнской плате. Если их два, то вы сможете произвести установку двух видео карт.</li>
<li>Если вы собираетесь установить мощную видеокарту, следует обратить внимание, хватит ли места в корпусе для ее установки (видеокарты порой бывают внушительных размеров и иногда занимают целых два соседних слота).</li>
<li>Достаточно ли у вас разъемов питания для подключения видеокарты. Современные видеокарты требуют до двух разъемов питания, а если вы планируете установить две видеокарты, вам потребуется целых четыре разъема.</li>
<li>Достаточно ли мощный у вас блок питания. Если его мощность менее 500 Ватт, скорее всего вам потребуется его заменить. В противном случае после замены видеокарты, Windows может работать нестабильно, зависать и выдавать синий экран.</li>
<li>После замены вам обязательно потребуется <a href="http://www.akvi.ru/ustanovka/driver.html">установить последний драйвер</a> видеокарты, иначе есть риск, что она будет работать медленнее, чем могла бы.</li>
</ul>
<p>Специалисты нашей компьютерной помощи помогут вам подобрать и установить новую видеокарту с учетом вашего бюджета и имеющегося оборудования. У нас есть собственный канал закупок оборудования по оптовым ценам, и мы можем приобрести для вас видеокарту с предоставлением чеков и фирменной гарантии. Если вы хотите получить консультацию по выбору новой видеокарты для вашего компьютера, обращайтесь в нашу службу поддержки по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> или оставьте заявку на сайте.</p>
</div>