<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/abonent.html">Прайс-лист по абонентскому обслуживанию</a></div>
<h1>Абонентское обслуживание компьютеров</h1>
<p>Компьютерный сервис AKVI оказывает услуги абонентского обслуживания компьютеров для организаций, фирм и предприятий в Москве.</p>
<p class="h2">Что мы предлагаем?</h2>
<ul>
<li>Проверка состояния антивирусной защиты компьютеров (выявление технических неисправностей, обновление антивирусных баз);</li>
<li>Выполнение пожеланий сотрудников по улучшению работы их компьютеров (установка программ, замена комплектующих);</li>
<li>Консультирование по вопросам приобретения лицензий на программные продукты;</li>
<li>Консультирование сотрудников по любым вопросам, связанным с работой компьютеров;</li>
<li>Работы по поддержанию производительности компьютеров (обновление системы и драйверов, дефрагментация), рекомендации по полной или частичной модернизации оборудования (если необходимо);</li>
<li>Подключение нового оборудования, настройка выхода в Интернет новых компьютеров;</li>
<li>Помощь в подборе офисной техники и комплектующих ПК, а также оформление заказа на доставку с оптового склада по специальной цене;</li>
<li>Взаимодействие с поставщиками услуг связи (Интернет, телефония).</li>
</ul>
<p>Мы предлагаем два тарифных плана обслуживания: «<b>Базовый</b>» и «<b>Расширенный</b>». В расширенном мы предлагаем опцию удаленного администрирования компьютеров, которая позволяет оказывать мгновенную помощь в решении вопросов без необходимости выезда мастера к вам в офис. Цены на услуги абонентского обслуживания компьютеров вы можете посмотреть <a href="http://www.akvi.ru/price/abonent.html">здесь</a>.</p>
<br/>
<p class="promo">Скидки <big class="red">до 20%</big> при долгосрочном заключении контракта!</p> 
<p class="promo">Информация по телефону: <big class="red">(495) 646-01-26</big></p> 
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/mcp.png" alt="Microsoft Certified Professional" /></div>

<p>Абонентское обслуживание компьютеров &#151; это целый комплекс работ по поддержанию работоспособности компьютеров, подключению и настройке оборудования, организации внутренней сети, общего доступа в Интернет и многое другое. Абонентское обслуживание позволяет избежать финансовых и материальных потерь, связанных с утратой данных, выходом оборудования их строя, непредусмотренными перерывами в работе сотрудников при внезапной поломке из компьютера или оргтехники.</p>
<p>Большой опыт работы и наличие постоянных клиентов позволяет нам эффективно использовать рабочее время наших сотрудников и, как следствие, удерживать цены на достаточно низком уровне.</p>
<p>Наличие мастеров практически во всех районах Москвы значительно сокращает время между получением заявки на обслуживание и непосредственно выездом.</p>
<p>Абонентское обслуживание компьютеров включает <b>плановые</b> и <b>экстренные</b> выезды мастера к вам в офис.</p>
<h2>Плановый выезд</h2>
<p>Плановые выезды направлены на мониторинг состояния компьютеров и своевременное устранение потенциальных проблем и техническое обслуживание компьютеров. Плановый осмотр, при договоренности, может производиться в нерабочее время, чтобы не отвлекать сотрудников от их основных обязанностей.</p>

<h2>Экстренный выезд</h2>
<p>Экстренный выезд мастера осуществляется в случае аварийных ситуаций в работе программ или аппаратной части, требующих немедленного технического обслуживания компьютера. Выезд мастера происходит в течение 24 часов с момента обращения.</p>
<p>При любом выезде время нахождения специалиста в вашем офисе не ограничено. Он будет находиться у вас до тех пор, пока не выполнит все необходимые действия.</p>
<h2>Удаленная поддержка</h2>
<p>Многие проблемы с компьютерной техникой можно решать на расстоянии с помощью программы удаленного администрирования, без непосредственного выезда мастера к вам в офис. Это позволяет получать помощь практически мгновенно.</p>
<p>Принцип заключается в том, что на всех ПК устанавливается программа, которая дает возможность удаленно подключаться к компьютеру так, словно специалист находится у вас в офисе. Подключение может быть произведено только по вашей инициативе, без которой специалист не имеет технической возможности этого сделать. Это гарантирует полную конфиденциальность.</p>
<p>Удаленное абонентское обслуживание компьютеров доступно только в тарифном плане «<a href="http://www.akvi.ru/price/abonent.html">Расширенный</a>».</p>
<p class="h1">Цены на техническое обслуживание компьютеров</p>
<p>Стоимость услуг абонентского обслуживания компьютеров вы можете посмотреть в соответствующем разделе <a href="http://www.akvi.ru/price/abonent.html">прайс-листа</a> или позвонив по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
</div>