<div class="txt">

<h1>Подключим безлимитный интернет в офис по цене домашнего канала!</h1>
<h2>Как это возможно?</h2>
<p>Доступ в интернет осуществляется по технологии <b>Mobile WiMAX</b>&nbsp;&#151; нового сервиса, предоставляемого компанией Йота на территории Москвы с июня 2009 года. Беспроводная технология WiMAX во многом аналогична Wi-Fi, но ее отличает гораздо более широкий радиус действия&nbsp;&#151; до нескольких километров. Благодаря этому стало возможным уверенное покрытие сигналом большинства районов Москвы.</p>
<p>Компания Йота предоставляет доступ в интернет по технологии WiMAX на следующих условиях:</p>
<ul>
<li>Реальная скорость доступа в Интернет колеблется в пределах 1,5&#151;5 Мбит/сек в зависимости от расположения офиса</li>
<li>Стоимость услуги&nbsp;&#151; <b>900 рублей в месяц</b>, если оформлять контракт на физическое лицо и  <b>1400 рублей в месяц</b>, если на юридическое (разница только в возможности безналичной оплаты)</li>
</ul>
<p>Если в вашем офисе интернет на данный момент оплачивается по трафику (гигабайтам), то, даже если вы еще не готовы полностью переключить всю офисную сеть на нового провайдера, WiMAX-подключение можно использовать для загрузки больших объемов данных или в качестве резервного канала.</p>
<div class="guru g2"><p>Даже если вы еще не решились полностью перевести весь свой офис на использование WiMAX-интернета, мы все равно рекомендуем иметь такой канал в качестве резервного. Посчитайте сами&nbsp;&#151; один час простоя небольшой фирмы из 5 человек обходится ей дороже месячной стоимости резервного подключения!</p></div>
<h2>Что мы предлагаем?</h2>
<ol>
<li>Мы установим в вашем офисе все необходимое оборудование</li>
<li>Подключим офисную сеть к интернету</li>
<li>Поможем заключить контракт с компанией Йота</li>
</ol>
<h2>Как это происходит?</h2>
<ol>
<li>Мы проверяем наличие сигнала и реальную скорость доступа в интернет в вашем офисе.</li>
<li>Если скорость вас устраивает, мы устанавливаем WiMAX-оборудование и перенастраиваем параметры подключения компьютеров вашей офисной сети.</li>
<li>Помогаем заключить контракт на предоставление услуг доступа в интернет непосредственно между вами и компанией Йота. Все дальнейшие взаиморасчеты с провайдером происходят без нашего участия.</li>
</ol>

<p class="promo">Стоимость подключения офиса к безлимитному интернету&nbsp;&#151; <span class="green">9&nbsp;990&nbsp;рублей</span>!</p>
<p class="promo">Первый месяц подключения&nbsp;&#151; бесплатно!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Роутер D-LINK DIR-320, настроенный для работы с WiMAX оборудованием</td><td class="p">6000&nbsp;руб.</td></tr>
<tr><td>WiMAX-модем Samsung U200</td><td class="p">1990&nbsp;руб.</td></tr>
<tr><td>Установка и настройка WiMAX-оборудования</td><td class="p">2000&nbsp;руб.</td></tr>
<tr><td>Переподключение офисной сети к Интернету через WiMAX оборудование</td><td class="p"><span class="green">бесплатно</span> <a href="#star1">*</a></td></tr>
<tr><td>Первый месяц доступа в Интернет</td><td class="p"><del>900&nbsp;руб.</del><br/><span class="green">бесплатно</span></td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><span class="green">9&nbsp;990&nbsp;руб.</span></td></tr>
</table></div>
</div>
<p><b>Примечание:</b></p>
<ol>
<li id="star1">Если для подключения офисных компьютеров требуется прокладка кабеля или установка дополнительных устройств, то стоимость подключения может увеличиться. В остальных случаях подключение офисной сети к интернету входит в стоимость услуги.</li>
</ol>
<p>Процедура установки WiMAX-роутера и подключения офисной сети занимает не более 1-2 часов.</p>

<h2>Гарантии</h2>
<p>Мы даем 30 дневную гарантию на работоспособность WiMAX оборудования и 14 дней на возврат оборудования с полной денежной компенсацией его стоимости в случае, если вы останетесь недовольны качеством его работы.</p>

<h2>Почему мы вам нужны?</h2>
<p>Действительно, у вас наверняка уже возник этот справедливый вопрос:</p>
<p>&#151; «<b>А почему я сам не могу заключить контракт с Йотой и самостоятельно все подключить и настроить</b>?»</p>
<p>Действительно, на сайте компании Йота можно увидеть роутер для подключения офиса, установить который не так уж сложно. Тогда для чего же вам нужны мы? Попробуем дать ответ на этот вопрос:</p>
<ol>
<li>Стоимость роутера составляет 9500 рублей, что дороже, чем у нас</li>
<li>По факту этот роутер нельзя купить – он вроде как есть, но вот уже третий месяц при попытке заказать его, вам сообщают, что его нет в наличии</li>
<li>Стоимость подключения через такой роутер будет составлять 2700 рублей в месяц. В нашем оборудовании в качестве WiMAX приемника используется WiMAX модем, стоимость подключения которого – 900 рублей в месяц, причем по скорости доступа оба варианта ничем не отличаются. Тогда зачем платить больше?</li>
<li>Вам не нужно самостоятельно вникать во все тонкости настройки WiMAX оборудования и вашей существующей локальной сети - мы все сделаем за вас!</li>
</ol>
<div class="guru g1"><p>Сравните <b>стоимость первого года обслуживания</b> при подключении напрямую через Yota и с помощью специалистов компании AKVI. Это только денежные затраты, не говоря о временных, которые вы потратите на самостоятельное подключение.</p></div>
<p>Сравнение стоимости первого года обслуживания:</p>
<div style="margin: 20px 0pt; text-align: center;"><img src="http://static.akvi.ru/i/akviyota.png" alt=""/></div>

<p>Если у вас остались какие-либо сомнения или вопросы по поводу подключения вашего офиса на WiMAX интернет, вы можете задать их нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>

</div>