AddDefaultCharset utf-8
DefaultLanguage ru
FileETag None

#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^otdelkalux\.ru
#RewriteRule ^(.*)$ http://www.otdelkalux.ru/$1 [R=permanent,L]

<ifModule mod_headers.c>
	Header unset ETag
	Header unset Last-Modified
	Header set Cache-Control "public, max-age=592200"
</ifModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 4 hours"
	ExpiresByType application/javascript A592200
	ExpiresByType application/x-javascript A592200
	ExpiresByType text/html A592200
</IfModule>

AddType image/svg+xml svg svgz
AddType application/json json

AddEncoding gzip svgz