AddDefaultCharset utf-8
DefaultLanguage ru
FileETag None

RewriteEngine On
RewriteCond %{HTTP:PORT} !^443$
RewriteRule ^(.*)$ https://www.otdelkalux.ru/$1 [L,R=301]

<ifModule mod_headers.c>
	Header unset ETag
	BrowserMatch MSIE ie
	Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
</ifModule>