<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка интернета</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p><b>Краткое руководство по настройке и диагностике интернета на компьютере, где интернет ранее уже работал.</b></p>
<p>Если вам необходимо настроить интернет на компьютере, который ранее не подключался к Сети, прочитайте <a href="/wifi/nastroika/windows/">эту статью</a>.</p>
</div>

<p>Если у вас не работает или постоянно отключается Интернет на компьютере, то самое первое, что вы должны сделать: </p>
<ol>
<li><b>Проверьте баланс лицевого счета.</b> Как ни банально это звучит, но это наиболее частая причина, по которой у людей не работает интернет.</li>
<li><b>Перезагрузите роутер (или модем) и компьютер.</b> Часто проблема кроется в накоплении статического электричества на устройстве доступа. Нужно выключить компьютер, отключить от электрической сети компьютер и устройство, через которое осуществляется доступ в интернет (роутер, модем и т.п.). Подождать 1-2 минуты, затем включить все устройства обратно в розетку и включить компьютер. Проверьте, заработал ли интернет?</li>
<li><b>Позвоните провайдеру.</b> Если интернет все равно не работает, стоит позвонить провайдеру. Большинство проблем с подключением эффективно решает служба технической поддержки.</li>
</ol>
<!--Помогли советы? Дайте нам знать! Оставьте лайки!-->

<p>Если приведенные выше советы не дали результата, то проблема может быть в следующем:</p>
<ol>
<li><b>На компьютере вирус</b>. Обычно вирусы блокируют доступ к отдельным сайтам (чаще всего это сайты поисковых систем, социальных сетей, производителей антивирусов и сайт Microsoft.com), но встречаются разновидности вирусов, которые блокируют доступ в интернет полностью. В этом случае вам потребуется <u>антивирусная профилактика</u>.</li>
<li><b>В системе Windows не прописаны сетевые настройки</b>, необходимые для работы с вашим провайдером. Настройки можно получить в службе технической поддержки <a href="/wifi/nastroika/computer/">вашего провайдера</a>.</li>
</ol>

<p>Вариантов может быть масса, все их обсуждать не имеет смысла. Если провайдер не может помочь вам настроить интернет, то обращайтесь к нам! Мы поможем грамотно решить практически любую проблему с настройкой интернета на компьютере, ноутбуке или роутере. Оставить заказ или получить бесплатную консультацию, вы можете по телефону 646-01-26.</p>
<!--***  врезка про МГУ***-->

<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Настроим интернет на компьютере или ноутбуке.</b> Независимо от типа подключения Интернета, будь то локальная сеть, или WiFi, мы настроим.</li>
<li><b>Проведем антивирусную профилактику</b>, если интернет не работает по причине вредоносных действий вирусов.</li>
<li><b>Установим драйвер</b> сетевой карты или WiFi-адаптера, если текущий поврежден или отсутствует в системе.</li>
<li><b>Найдем решение любой проблемы с работой Интернета!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>





<h2>Диагностика подключения к Интернету</h2>
<p>Если вы чувствуете себя уверенным пользователем Windows, то можно попробовать самостоятельно провести диагностику подключения к Интернету. Пробовать эти шаги нужно только в том случае, если а) раньше вы уже выходили в интернет с этого компьютера; б) пробовали перезагружать роутер, и это не помогло; в) вы убедились, что на счету есть деньги и интернет не находится в состоянии блокировки.</p>
<ol>
<li><b>Запустите командную строку</b>. Пуск -> Все программы -> Стандартные -> Командная строка.</li>
<li>В ней наберите <code>ipconfig</code> и найдите в списке IP-адрес основного шлюза, который используется для подключения к интернету.<br/>
<img src="http://static.akvi.ru/i/wifi/ipconfig.png" alt=""/>
</li>
<li><b>Проверьте доступ к шлюзу.</b> Для этого нужно набрать в адресной строке команду ping <ip_адрес_шлюза>. В нашем случае, нужно ввести команду <code>ping 192.168.0.1</code>. Если ответы приходят, значит, есть соединение с роутером или модемом. Это уже хорошо.</li>
<li><b>Проверьте статус шлюза (роутера или модема).</b> Если связь с роутером есть, а интернет не работает, то проблема, скорее всего, на стороне провайдера. Сведения, которые сильно помогут технической поддержке провайдера локализовать проблему можно получить на странице статистики роутера.<br/><br/>Как правило, к шлюзу можно обратиться, набрав в адресной строке браузера http://<code>ip_адрес _шлюза</code>, в нашем случае <a href="http://192.168.0.1">http://192.168.0.1</a>. Обычно в ответ от роутера приходит страница с требованием ввести пароль. Зная пароль, можно посмотреть статус подключения устройства. Если пароль вам не известен, посмотрите <a href="/wifi/router/parol/">стандартные пароли к роутерам</a>.</li>
<li><b>Проверьте работу DNS-сервера.</b> В командной строке нужно набрать <b>nslookup yandex.ru</b>. Если в ответ приходят IP-адрес сайта, то служба работает нормально. Если нет, об этом нужно сообщить провайдеру.<br/>
<img src="http://static.akvi.ru/i/wifi/nslookup.png" alt=""/></li>
<li><b>Проверьте соединение с сайтами.</b> Например, можно проверить возможность отправлять запросы к сайту yandex.ru (<code>ping yandex.ru</code>)<br/>
<img src="http://static.akvi.ru/i/wifi/ping.png" alt=""/></li>
</ol>
<p>Если все команды успешно отрабатывают, а интернет не работает или постоянно отключается, значит с настройками интернета все в порядке, и проблему нужно искать в вирусах или настройках браузера.</p>
<!--Полезный совет? ЛАЙК!-->

<h2>Как настроить интернет на компьютере или ноутбуке?</h2>
<p>Настройка интернета на компьютере или ноутбуке очень сильно зависит от <a href="/wifi/nastroika/computer/">провайдера</a>, к которому вы подключены. Наиболее распространены следующие типы подключений:</p>
<ol>
<li><b>DHCP</b>. Самый простой вариант настройки интернета – вы просто вставляете сетевой кабель или подключаетесь к сети  Wi-Fi, а компьютер сам получает IP-адрес для работы. Настройка интернета в этом случае происходит автоматически. Такой тип подключения используют Акадо, NetByNet и QWERTY.</li>
<li><b>PPPoE</b>. Более сложный вариант соединения. В этом случае для доступа в интернет используются логин и пароль, которые выдает провайдер. Для правильной настройки всех параметров вам обязательно потребуются договор и все бумаги, которые оставили вам, когда подключали интернет. По такому принципу работают Стрим (МТС) и МГТС.</li>
<li><b>VPN</b>. Такой тип подключения используется провайдером «Билайн». В этом случае для настройки интернета вам тоже потребуются данные из договора.</li>
</ol>

<div class="guru g1">
<p>Если вы подключены к Стрим (МТС), МГТС или Билайн, то каждый раз после включения может потребоваться вводить логин, пароль и нажимать «Подключаться», чтобы получить выйти в Интернет. Эту надоедающую процедуру можно успешно миновать в случае, если настроить роутер на подключение по VPN или PPPoE. Наши специалисты могут помочь с этой задачей – звоните по телефону 646-01-26!</p>
</div>

<p>Настройка интернета на компьютере в каждом конкретном случае зависит от версии <a href="/wifi/nastroika/windows/">Windows</a> (последовательность нажатия кнопок) и от провайдера (см. <a href="/wifi/nastroika/computer/">настройки интернета для основных провайдеров Москвы</a>). Если у вас не получается самостоятельно настроить подключение к интернету на своем компьютере, вы можете получить бесплатную консультацию у нашего специалиста, а также оставить заявку на выезд мастера по телефону 646-01-26.</p>
<!--*** прайс: настройка интернета на компьютере ***-->

<h2>Настройка интернета на роутере</h2>
<p>Правильно настроенный роутер не только позволяет использовать ваш интернет канал нескольким устройствам одновременно, но и постоянно держит соединение, что избавляет от необходимости каждый раз подключаться вручную при включении компьютера.</p>

<div class="guru g2">
<p>Часто провайдеры лукавят, утверждая, что в их сети будет работать только «специальный» роутер, который продается у них за круглую сумму, или требуют доплаты за подключение дополнительных компьютеров. Это не что иное, как попытка заработать на клиенте еще чуть-чуть.</p>
<p>Практически всегда на любом современном роутере можно настроить интернет даже без установки специальных прошивок и прочих ухищрений, причем провайдер даже не будет знать, что вы это сделали!</p>
</div>

<p>Услугами какого провайдера вы бы не пользовались, в нашем штате всегда найдутся специалисты, имеющие опыт настройки роутеров именно в вашей сети. Если вам нужна консультация, позвоните нам по телефону 646-01-26 и задайте любой, даже самый специфический, вопрос по настройке интернета на роутере. Скорее всего, у нас будет ответ!</p>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>

<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>

</table>
</div>


		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>