<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Что делать, если тормозит интернет через роутер</h1>
<p>Если роутер режет скорость интернета по сравнению с прямым подключением компьютера в Сеть, то это может быть связано с его недостаточной производительностью.</p>

<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Проведем диагностику работы роутера.</b></li>
<li><b>Поможем подобрать модель роутера, который будет работать быстрее</b></li>
<li>Купим, привезем, установим и настроим этот роутер, а также покажем, как увеличилась скорость работы!</li>
<li><b>Решим любую другую задачу!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<h2>Почему роутер ограничивает скорость интернета?</h2>
<p>К нам часто обращаются с такими проблемами:</p>
<ol>
<li>низкая скорость интернета через роутер;</li>
<li>тормозит интернет через роутер;</li>
<li>медленный интернет через роутер;</li>
</ol>

<p>Если при прямом подключении компьютера к кабелю провайдера скорость выше, и вы уверены, что соседи не могут качать торренты через ваш Wi-Fi, то, почти наверняка, проблема кроется в самом роутере (точнее, в его характеристиках).</p>
<p>Единственное, что можно попробовать сделать – это обновить прошивку роутера до последней версии, которая есть на официальном сайте разработчика роутера. В некоторых случаях провайдеры (Билайн или Йота, например), предлагают свои собственные фирменные прошивки для роутеров D-Link или ASUS. Их тоже стоит попробовать в качестве попытки, однако такие действия не всегда дают результат.</p>
<p>Причина почти всегда кроется в характеристиках производительности роутера, которые не указывают на коробке с изделием и в спецификациях продукта на официальных сайтах. Многие воспринимают роутер, как некий черный ящик, из которого «идет интернет» и о его внутреннем устройстве и о характеристиках его начинки редко кто спрашивает.</p>
<p>Тем не менее, если на коробке написано, что роутер совместим со стандартом Ethernet 100Mbit/s, это еще не значит, что вы сможете выходить в интернет через него на такой скорости. Так, например, роутер D-Link DIR-100 при подключении через L2TP (Билайн) не сможет выдавать больше 8 Mbit/s, даже если ваш тарифный план рассчитан на большую скорость.</p>
 

<p><img src="http://static.akvi.ru/i/wifi/dir.png" alt=""/>
<br/>Скриншот страницы официального сайта D-Link.</p>
<p>Важно понимать, что в приведенной таблице измерения проводились  в тестовой сети. В реальности эти цифры могут быть еще ниже. Глядя на эту таблицу понимаешь, что роутеры с маркировкой 1Гбит/с – это вообще насмешка над потребителем и в реальности вы вряд ли сможете добиться от него такой скорости.</p>
<p>Решением проблемы в такой ситуации может быть следующее: настройка вашего текущего роутера в режиме бриджа (bridge) или покупка более дорогой модели роутера с более быстрой начинкой.</p>

<div class="guru g1">
<p>В режиме бриджа (bridge) роутер работает просто как повторитель сигнала, и его внутренние вычислительные мощности используются для работы со сложным протоколом (например L2TP, Билайн). При подключении в режиме bridge, роутер становится «прозрачным» устройством, и вычислительная нагрузка по работе с сигналом ложится на процессор компьютера, а производительность роутера перестает играть роль. К сожалению, в таком режиме вы сможете одновременно выходить в интернет только с одного компьютера. Многие другие функции роутера будут вам также недоступны.</p>
</div>
<p>Если ваш роутер ограничивает скорость интернета, рекомендуем вам обратить внимание на более дорогие модели роутеров, такие как Linksys E4200. У них, помимо прочих достоинств, гораздо более мощная аппаратная начинка. Их стоимость, как правило, составляет 5000-8000 рублей, но стабильность и скорость работы таких роутеров очень вас порадует.</p>
<p><p><img src="http://static.akvi.ru/i/wifi/e4200.jpg" alt="" style="width: 400px; height: 216px;"/></p>
 
<p>Если ваш роутер ограничивает скорость интернета (она более низкая, чем при прямом подключении компьютера в Сеть), и для вас это создает реальную проблему, стоит задуматься о выборе нового роутера. У нас вы можете получить бесплатную консультацию по выбору роутера, или заказать комплексную услугу по настройке домашней сети, включающую покупку и доставку роутера, подходящего вам по всем характеристикам. Все это можно сделать, оставив заявку на сайте, или позвонив по телефону 6460126.</p>
<!--Если статья оказалась для вас полезной, дайте нам знать! +1-->



		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>