<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка интернета на роутере</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Краткое руководство по настройке интернета через роутер. Бесплатные консультации и ответы на часто задаваемые вопросы.</p>
</div>
<p>Если вам требуется настроить интернет на роутере или организовать домашнюю сеть, вы можете воспользоваться услугами наших специалистов, оставив заявку на сайте, или позвонив по телефону 646-01-26.</p>


<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Настроим роутер на работу с любым провайдером.</b></li>
<li><b>Настроим Wi-Fi сеть и установим на нее пароль.</b> Ваши соседи не смогут бесплатно пользоваться вашим интернетом.</li>
<li><b>Сбросим пароль от роутера,</b> если вы его забыли.</li>
<li><b>Решим любую другую задачу!</b></li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<h2>Как настроить интернет через роутер?</h2>
<p>Чтобы приступить к настройке интернета на роутере, вам потребуется иметь под рукой три вещи:</p>
<ol>
<li>Данные для доступа к роутеру (IP-адрес роутера, логин и пароль);</li>
<li>Договор с провайдером, в котором указаны данные, необходимые для подключения;</li>
<li>Инструкцию по настройке интернета на роутере от вашего провайдера (желательно);</li>
</ol>

<p><b>Доступ к роутеру.</b> Чтобы начать настройку интернета на роутере, вам потребуется к нему доступ (логин и пароль). Если вы не знаете пароль от своего роутера, то посмотрите <a href="/wifi/router/parol/">список стандартных паролей</a> для различных моделей.</p>
<p><b>Договор с провайдером.</b> Для настройки интернета на роутере, равно как и на компьютере, вам потребуются данные для подключения, которые, как правило, находятся в этом договоре. Если вы не можете найти договор, или в нем нет этих данных, попробуйте уточнить их по телефону в технической поддержке вашего провайдера (см. <a href="/wifi/router/provider.html">телефоны техподдержки</a> основных провайдеров Москвы).</p>
<p><b>Инструкция от провайдера.</b> Инструкцию по подключению роутера к интернету, как правило, можно найти на сайте технической поддержки вашего провайдера. К сожалению, там не всегда есть инструкция именно для вашей модели роутера, а порой провайдер вообще не публикует никакой информации по настройкам роутеров. Мы сделали <a href="/wifi/router/provider.html">подборку ссылок</a> на страницы основных московских провайдеров, у которых есть инструкции по настройкам самых распространенных моделей роутеров. </p>
<p>Если таковой инструкции не нашлось – ничего страшного, можно настроить интернет на роутере и без нее. Для этого вам потребуется пройти примерно такую процедуру:</p>
<ol>
<li><b>Убедиться, что компьютер подключен к роутеру</b>, а роутер включен в электрическую сеть, и к нему подключен кабель провайдера.</li>
<li><b>Зайти на роутер через браузер</b>. В строке ввода адресов сайтов браузера нужно ввести адрес устройства. Как правило, это <a href="http://192.168.0.1">http://192.168.0.1</a> (D-Link и др.) или <a href="http://192.168.1.1">http://192.168.1.1</a> (ASUS и др.). Если устройство находится по этому адресу, то вы увидите окно с требованием ввести логин и пароль от устройства.</li>
</ol>


<div class="guru g2">
<p>В таблице приведены стандартные данные для доступа в панель настройки роутеров некоторых производителей. Если вашего устройства нет в списке, вам необходимо посмотреть инструкцию. Если эти данные не подходят, возможно, роутер был перенастроен. Тогда есть два варианта: найти пароль, или сбросить роутер к заводским настройкам.</p>
</div>

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Маршрутизатор</td><td>Адрес</td><td>Имя пользователя</td><td>Пароль</td></tr>
<tr><td>3Com</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Asus</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Zyxel</td><td>http://192.168.1.1</td><td>admin</td><td>1234</td></tr>
<tr><td>D-Link</td><td>http://192.168.0.1</td><td>admin</td><td>admin или пустой пароль</td></tr>
<tr><td>Linksys</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>
<tr><td>Trendnet</td><td colspan="3"><a href="http://trendnet.ru/support/information/ip-address.php">http://trendnet.ru/support/information/ip-address.php</a></td></tr>
<tr><td>Netgear</td><td>http://192.168.0.1</td><td>admin</td><td>password</td></tr>
<tr><td>TP Link</td><td>http://192.168.1.1</td><td>admin</td><td>admin</td></tr>

</table>
</div>

<p><b>Ввод настроек</b>. Если вы успешно зашли на роутер, то далее нужно либо воспользоваться инструкцией провайдера по настройке интернета, либо продолжить действия самостоятельно. В панели администрирования роутером вам потребуется найти раздел «Настройка интернета». Как правило, предлагается два варианта: режим мастера и ручной режим. Какой бы из методов вы не выбрали, вам потребуется ввести настройки из договора.</p>
<p>Все московские провайдеры работают по одному из трех принципов подключения: DHCP, PPPoE и VPN (L2TP). Если устройство поддерживает тип подключения вашего провайдера, то его нужно соответствующим образом сконфигурировать, после чего интернет должен заработать.</p>
<p>Если этого не происходит, можно попробовать позвонить провайдеру. К сожалению, провайдеры редко идут на встречу и консультируют по настройке оборудования, купленного не у них. В таком случае можем предложить наши услуги по настройке интернета на роутере. Заказать выезд специалиста вы можете на сайте, или по телефону 646-01-26. Кстати, по этому же телефону вы можете получить бесплатную консультацию – просто позвоните и спросите: «Как настроить интернет через роутер?».</p>



<h2>Роутер не подключается к интернету или постоянно отключается</h2>
<p>Люди часто обращаются к нам с такими проблемами:</p>
<ul>
<li>роутер не видит интернет;</li>
<li>роутер не подключается к интернету;</li>
<li>роутер не выходит в интернет;</li>
<li>пропадает интернет через роутер;</li>
<li>не работает интернет через роутер;</li>
</ul>
<p>Проблема может крыться в одном из трех звеньев цепи:</p>
<ol>
<li>Роутер (или модем) плохо держит соединение с провайдером или не соединяется;</li>
<li>Роутер (или модем) плохо держит соединение с компьютером (обычно касается Wi-Fi) или Wi-Fi сеть неправильно настроена;</li>
<li>Сетевой адаптер на компьютере работает нестабильно и связь с роутером обрывается, или он вообще неправильно настроен;</li>
</ol>
<p>Выявить звено, на котором возникает проблема можно следующим образом:</p>
<ul>
<li>Если компьютер нормально выходит в интернет через эту же сетевую карту (Wi-Fi адаптер) в других местах, то проблема, скорее всего не в компьютере. Другим вариантом может быть слабый сигнал Wi-Fi сети.</li>
<li>Если в работоспособности сетевого адаптера на компьютере сомнений нет, стоит проверить роутер (модем). Попробуйте подключить другое устройство к нему и посмотреть, присутствует ли проблема. Если Wi-Fi постоянно отключается на обоих устройствах, то проблема кроется в Wi-Fi антенне роутера (модема). Если вы уверены, что проблема кроется именно в роутере, то рекомендуем не пытаться его отремонтировать (особенно если он не гарантийный), а просто поменять его. </li>
<li>Если Wi-Fi соединение между компьютером и роутером держится стабильно (связь с панелью администрирования роутера стабильна), но интернет все равно отваливается, то проблема в звене роутер-провайдер. Нужно зайти в панель администрирования роутера и смотреть статус соединения в момент, когда интернет работает, и когда он не работает. Если статус и IP-адреса меняются, то стоит обсудить это с провайдером. Если провайдер утверждает, что на его стороне все в порядке, и при прямом подключении компьютера (без роутера) все работает стабильно, то стоит задуматься о замене роутера.</li>
</ul>
<!--Помогло решить проблему? ЛАЙК-->
<p>Наши сертифицированные специалисты настроят любой роутер на работу в Интернете, независимо от того, услугами какого провайдера вы пользуетесь, а также помогут подобрать новый, если старый перестал работать должным образом. Вызвать специалиста на дом или получить бесплатную консультацию по настройке интернета на роутере вы можете по телефону 6460126</p>
		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>