<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Настройка интернета на компьютере</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Какие шаги обычно требуется выполнить, чтобы настроить интернет вашего провайдера для работы  на компьютере. Руководство по настройкам для основных провайдеров и ссылки на страницы техподдержки с детальным описанием процедуры настройки.</p>
</div>


<p class="h2">Чем мы можем помочь?</p>
<p>Мы оказываем профессиональные услуги по настройке интернета любого из московских провайдеров. По вашему желанию, мы можем не только настроить интернет на компьютере, но и организовать домашнюю сеть, к которой вы сможете подключить все ваши устройства!</p>
<ol>
<li>Установим драйвер сетевого адаптера;</li>
<li>Настроим интернет, независимо от того, к какому провайдеру вы подключены.</li>
<li>Организуем домашнюю сеть, через которую вы сможете выходить в интернет с любого устройства.</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>590</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<p>Если у вас интернет внезапно перестал работать, то рекомендуем сначала:</p>
<ol>
<li>Проверить, есть ли на лицевом счету средства;
<li>Перезагрузить модем или роутер;
<li>Уточнить у провайдера, не ведутся ли какие-либо работы на линии.
</ol>
	


<p>Мы всегда рекомендуем нашим клиентам перед вызовом специалиста, сначала обратиться к провайдеру – служба технической поддержки вашего провайдера каждый день обслуживает тысячи заявок и может быстро помочь вам в решении проблемы. Однако бывают ситуации, когда поддержка не может посоветовать ничего конкретного, говоря, что на линии поломок нет, и что проблема кроется в вашем компьютере (вирусы, сбитые настройки операционной системы, файерволл и т.п.).</p>
<p>Если это ваш случай, то рекомендуем обратиться к нашим специалистам. Получить бесплатную консультацию или оставить заявку вы можете на сайте, или позвонив по телефону 6460126. </p>
 

<h2>Настройка интернета Билайн (Корбина)</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/beeline.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Настройка на компьютере: <a href="http://help.internet.beeline.ru/internet/install">http://help.internet.beeline.ru/internet/install</a></p>
<li>Настройки роутеров: <a href="http://help.internet.beeline.ru/internet/equipment">http://help.internet.beeline.ru/internet/equipment</a></p>
<li>Телефон техподдержки: +7 800 700-8000</p>
</ul>
<p><b>Общие настройки:</b></p>
<p>Настройка домашнего интернета в сети Билайн на компьютере осуществляется по технологии VPN. Технически это один из наиболее трудных способов подключения, зато он обеспечивает наилучшую защиту данных абонента от перехвата.</p>
<ul>
<li>IP адрес, DNS сервер выдается автоматически (по DHCP)</li>
<li>Тип VPN – <code>L2TP</code></li>
<li>Адрес VPN сервера – <code>tp.internet.beeline.ru</code></li>
<li>Login: <code>Ваш логин</code></li>
<li>Password: <code>Ваш пароль</code></li>
</ul>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета Билайн (Корбина) – обращайтесь по телефону 6460126.</p>

<!--Помог совет – лайк!
*** прайс***
-->

<h2>Настройка интернета Стрим (МТС)</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/mts.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 800 333 0890</li>
<li>Настройка оборудования: <a href="http://www.mts.ru/help/settings/settings_internet/settings_equipment/modem_setup/">http://www.mts.ru/help/settings/settings_internet/settings_equipment/modem_setup/</a></li>
<li>Настройка Windows: <a href="http://www.mts.ru/help/settings/settings_internet/settings_os/pppoe/">http://www.mts.ru/help/settings/settings_internet/settings_os/pppoe/</a></li>
</ul>
<p><b>Общие настройки:</b></p>
<p>В 2011 году компания Стрим прекратила свое существование, а абонентскую базу стал обслуживать МТС. Несмотря на смену названия, настройки интернета остались прежними.</p>
<p>В Стрим используется технология подключения ADSL и для доступа в интернет требуется специальный ADSL-модем. </p>
<p><img src="http://static.akvi.ru/i/wifi/provider/adsl.jpg" alt=""/><br/>Рисунок 1: Схема подключения по ADSL</p>

<p>Модем может быть настроен двумя способами: в режиме роутера и в режиме бриджа.</p>
<p><b>В режиме бриджа</b>, модем представляем собой, по сути, переходник между телефонным кабелем и компьютером. В этом режиме компьютер сам должен проходить процедуру подключения к интернету (ввод логина и пароля для подключения).</p>
<p><i>Плюсы</i>: 1) интернет может работать чуть более быстро, чем в режиме роутера; 2) внешний IP присваивается именно компьютеру, а не модему (сам модем становится «невидимым» устройством с точки зрения сетевого взаимодействия).</p>
<p><i>Минусы</i>: нужно каждый раз подключаться к интернету вручную.</p>
<p><b>В режиме роутера</b>, модем сам держит подключение к интернету, и подключаться каждый раз нет необходимости.</p>
<p>В зависимости от типа устройства, оно может подключаться к компьютеру по сетевому кабелю Ethernet или по USB. Во втором случае может потребоваться установка драйвера.</p>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета МТС (Стрим) – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета МГТС</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/mgts.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 495 636-0-636</li>
<li>Настройка модемов и роутеров: <a href="http://mgts.ru/home/internet/modems/">http://mgts.ru/home/internet/modems/</a></li>
<li>Настройка Windows: <a href="http://mgts.ru/home/internet/modems/setup/">http://mgts.ru/home/internet/modems/setup/</a></li>
</ul>

<p>Технически интернет от МГТС и Стрим работают по одному и тому же принципу, никаких специфических различий в настройке интернета между этими провайдерами нет.</p>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета МГТС – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета Акадо</h2>
 <p><img src="http://static.akvi.ru/i/wifi/provider/akado.gif" alt=""/></p>
<p><b>Официальная информация:</b></p>
<p>Телефон техподдержки: +7495 231-4444</p>
<p>Для подключения к сети Акадо в разных районах Москвы используются разные технологии, поэтому приводить общие рекомендации не имеет смысла. Тем не менее, есть одна особенность, которую важно знать при настройке Интернета на компьютере: Акадо привязывает ваш договор к mac-адресу устройства, которое было подключено изначально. На практике это означает, что если вы решите настроить интернет на любом другом компьютере или роутере, то вам потребуется либо звонить в техническую поддержку и объяснять ситуацию, либо самостоятельно подменять mac-адрес на этом компьютере (чтобы Акадо думало, что это все то же устройство подключается).</p>
<div class="guru g1">
<p>По статистике Роскомнадзора, «Акадо» лидирует с большим отрывом по числу жалоб граждан среди всех операторов связи.</p>
</div>

<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета Акадо – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета QWERTY</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/qwerty.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Настройка оборудования: <a href="http://www.qwerty.ru/support/settings/index.php?SECTION_ID=28&ELEMENT_ID=6099">http://www.qwerty.ru/support/settings/index.php?SECTION_ID=28&ELEMENT_ID=6099</a></li>
<li>Настройка Windows: <a href="http://www.qwerty.ru/support/settings/index.php?SECTION_ID=26">http://www.qwerty.ru/support/settings/index.php?SECTION_ID=26</a></li>
<li>Телефон техподдержки: +7 495 500-0045</li>
</ul>
<p>Настроить интернет для работы с QWERTY очень просто. Достаточно подключить сетевой кабель к компьютеру и все само заработает. Сетевые настройки компьютер получает по DHCP, и если этого не происходит, то все что нужно сделать – включить в настройках TCP/IP автоматическое получение адреса.</p>
<p>Настройка оборудования зависит от района, в котором вы находитесь. Если вам нужна помощь или консультация нашего специалиста по настройке интернета QWERTY – обращайтесь по телефону 6460126. </p>
<!--Помог совет – лайк!
*** прайс***-->

<h2>Настройка интернета NetByNet (МегаФон)</h2>
<p><img src="http://static.akvi.ru/i/wifi/provider/netbynet.png" alt=""/></p>
<p><b>Официальная информация:</b></p>
<ul>
<li>Телефон техподдержки: +7 495 980 2400</li>
<li>Настройка интернета: <a href="http://help.netbynet.ru/">http://help.netbynet.ru/</a></li>
</ul>

<p>В 2011 году МегаФон приобрел 100% акций компании NetByNet, так что в скором времени, скорее всего, провайдер будет называться Домашний интернет от МегаФон, или как-то похоже.</p>
<p>Для настройки интернета NetByNet используется подключение PPPoE или VPN в зависимости от района, в котором вы проживаете. Детальное описание процесса настройки можно посмотреть на странице провайдера.</p>
<p>Если вам нужна помощь или консультация нашего специалиста по настройке интернета NetByNet – обращайтесь по телефону 6460126.</p>
<!--Помог совет – лайк!
*** прайс***-->

<!--
КУПОН на скидку
Блок: Ссылки на другие статьи (автоматом?)
Блок: Несколько вопросов из FAQ
комментирование
-->

		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>