<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Как настроить Wi-Fi</h1>

<div class="hl" style="margin-right: 300px"><img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/><img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Вам необходимо настроить Wi-Fi сеть у себя дома? Здесь вы найдете не только советы по настройке домашней Wi-Fi сети и подключению устройств, но и сможете получить бесплатную консультацию наших специалистов!</p>
</div>

<p class="h2">Чем мы можем помочь?</p>
<ul>
<li><b>Настройка домашней сети «под ключ».</b> Комплексное решение задачи по организации доступа в Интернет у вас дома.</li>
<li><b>Настройка Wi-Fi на компьютере.</b> Настроим беспроводное подключение на ноутбуке или компьютере к роутеру.</li>
<li><b>Соединение двух компьютеров.</b> Настроим соединение между компьютерами напрямую (по Wi-Fi или Ethernet-кабель), или через роутер.</li>
<li><b>Сброс пароля от роутера.</b> Забыли пароль от роутера и не можете поменять настройки? Мы знаем, что делать!</li>
<li><b>Установка пароля на Wi-Fi.</b> Не хотите, чтобы соседи пользовались вашим доступом в Интернет? Это именно то, что вам нужно!</li>
<li><b>Решим любые другие задачи.</b> Требуется что-то специфическое? Обращайтесь к нам по телефону 646-01-26 и получите бесплатную консультацию!</li>
</ul>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на роутере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

 

<h2>Настройка Wi-Fi?</h2>
<p>Для начала стоит определиться с терминами и понять, что же такое настройка Wi-Fi сети.</p>
<p><img src="http://static.akvi.ru/i/wifi/wifi/wifi.jpg" alt=""/></p>
<p>Как бы ни была организована ваша W-Fi сеть, и какие бы устройства в ней не были использованы, каждое из них играет в сети одну из двух ролей: клиент и хост, к которому подключаются другие устройства. Причем в роли хоста не обязательно должна быть точка доступа (роутер) – это может быть компьютер или даже iPhone в режиме раздачи интернета через Wi-Fi. Тем не менее, в качестве хоста чаще всего используются именно роутеры.</p>

<p><b>Шаг 1. Настройка роутера</b></p>
<p>Собственно, чтобы настроить Wi-Fi сеть, вам потребуется <a href="/wifi/wifi/sozdanie-wifi-router.html">создать Wi-Fi сеть на роутере</a> (хост) и подключить к этой сети все клиентские устройства (компьютеры, ноутбуки, мобильные телефоны и др.). </p>
<p>Настройка Wi-Fi на роутере сводится к указанию следующих параметров:</p>
<ul>
<li>имя сети (SSID)</li>
<li>тип шифрования (или оставить сеть открытой)</li>
<li>пароль</li>
<li>видимость сети</li>
</ul>
<p>О том, как грамотно настроить шифрование сети и обезопасить ее от взлома или несанкционированного подключения, подробно написано в <a href="/wifi/wifi/security.html">этой статье</a>.</p>
<p>Далее, вам потребуется настроить <a href="/wifi/router/">интернет на роутере</a>, чтобы он мог работать с вашим провайдером. Для внесения этих настроек в роутер, вам потребуется от него пароль. Если вы его не знаете, вам поможет <a href="/wifi/router/parol.html">список стандартных паролей</a> или инструкция по <u>сбросу пароля на роутере</u>.</p>
	
	
	

<p><b>Шаг 2. Подключение устройств к роутеру</b></p>
<p>Все что требуется сделать – выбрать из списка доступных беспроводных сетей ту, к которой вы собираетесь подключиться, ввести пароль и нажать кнопку соединения. В некоторых случаях может не потребоваться вводить пароль, а иногда – нужно ввести имя сети Wi-Fi (если она скрытая).</p>
<p>Подробно процедура подключения к беспроводной сети Wi-Fi  для различных операционных систем описана в статьях:</p>
<ul>
<li><a href="/wifi/wifi/xp.html">настройка Wi-Fi на Windows XP</a></li>
<li><a href="/wifi/wifi/vista.html">настройка Wi-Fi на Windows Vista</a></li>
<li><a href="/wifi/wifi/7.html">настройка Wi-Fi на Windows 7</a></li>
<li><a href="/wifi/wifi/8.html">настройка Wi-Fi на Windows 8</a></li>
</ul>
<p>Бывают ситуации, когда вы знаете все параметры подключения, но устройство упорно не желает видеть сеть или подключаться к ней.</p>
<ol>
<li>Если вы используете Windows XP SP2 и ниже, то ваш компьютер не может видеть сети с шифрованием WPA2. Вам потребуется установить Service Pack 3, или более новую версию Windows.</li>
<li>Если сеть видна, но компьютер упорно к ней не подключается (не получается установить Wi-Fi соединение), то можно попробовать перезапустить службу DHCP в Windows. Для этого потребуется запустить оснастку управления сервисами (services.msc), найти там “DHCP-клиент” и в контекстном меню выбрать «Перезапустить». После этого можно еще раз попробовать подключиться к Wi-Fi сети.</li>
</ol>
<!--Помогли советы? ЛАЙК!

прайс, вызов! -->
	

<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>