#calc .selector 	{ background-image: url('/i/icos.png'); }
#calc_hint	{ background-image: url('/i/hint.png'); }
#contact .call	{ background-image: url('/i/phone.png'); }
#contact .phone	{ background-image: url('/i/phone_button.png'); }