#whatwedo .stage li	{ background-image: url('/i/icons-2x.png')!important; background-size: 60px 480px; }
#calc .selector 	{ background-image: url('/i/icos-2x.png')!important; background-size: 406px 190px; }
#contact .call	{ background-image: url('/i/phone.svg')!important; background-size: 44px 60px; }
#contact .phone	{ background-image:url('/i/phone_button-2x.png')!important; background-size: 37px 50px; }
#footer .social	{ background-image: url('/i/social-2x.png')!important; background-size: 16px 64px; }