<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>
<h1>Настройка WiFi</h1>
<p>Наши специалисты произведут профессиональную настройку домашней беспроводной сети и надежно защитят ее от взлома и несанкционированного подключения.</p>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Поможем с выбором оборудования;</li>
<li>Настроим шифрование по новейшему алгоритму WPA2;</li>
<li>Подключим к сети компьютеры, принтеры и мобильные устройства;</li>
<li>Настроим доступ в Интернет;</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Покупка и доставка оборудования клиенту</td><td>390</td></tr>
<tr><td>Настройка безопасности Wi-Fi (стандарт WPA2)</td><td>890</td></tr>
<tr><td>Настройка доступа в Интернет на ПК</td><td>590</td></tr>
<tr class="b"><td>Итого</td><td>1870</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>




<p class="h1">Настройка безопасности Wi-Fi</p>
<p><img src="http://static.akvi.ru/i/brands/wifi.png" alt="" style="float: left; padding: 10px 20px 10px 0;"/>WiFi - это технология для беспроводного обмена данными, относится к группе стандартов IEEE 802.11. В настоящее время технология Wi-Fi получила достаточно широкое распространение по всему миру. Если включить ноутбук и посмотреть на количество Wi-Fi сетей в каком-нибудь районе Москвы, то их там будет даже не две и не три, а гораздо больше.</p>
<p>К сожалению, такое распространение приводит к тому, что многие люди, ставят у себя беспроводное WiFi оборудование, толком даже не разобравшись в настройках. А следствием неграмотной настройки может стать возможность получения несанкционированного доступа к беспроводной сети с целью подключению к Интернету за чужой счет или, того хуже, перехват личной информации.</p>
<p>К счастью, существует множество способов настроить доступ к домашней беспроводной сети WiFi для посторонних лиц. Защита беспроводных сетей WiFi сводится к двум основным задачам:</p>
<ol>
<li>защита WiFi от несанкционированного доступа посторонних лиц</li>
<li>защита от перехвата и подмены информации</li>
</ol>
<p>В первом случае злоумышленник имеет цель использовать чужую сеть Wi-Fi для получения доступа в Интернет за чужой счет или совершения хакерских действий от чужого имени, чтобы не «светить» свой IP-адрес. Во втором случае целью злоумышленника является кража конфиденциальной информации пользователя.</p>
<p>Рассмотрим способы защиты от каждой из этих опасностей.</p>

<div style="padding: 10px 30px 30px 30px; margin: 20px 0; background-color: #ecf1f8;">
<p><b>На правах рекламы</b></p>
<p>Артель Сергея Петунина осуществляет <a href="http://www.otdelkalux.ru/">ремонт коттеджей</a> в элитных посёлках по новорижскому направлению (Миллениум Парк, Мэлисон Парк, Агаларов Эстейт). Наш профиль:установка электрики и сантехники,  внутренняя отделка загородных домов, ландшафтные работы. Работаем с 1998 года. Сайт: www.otdelkalux.ru.</p>
</div>

<h1>Настройка ограничений доступа к сети WiFi</h1>
<p style="margin-bottom: 30px;">Если ваша цель – не дать соседям возможность пользоваться вашим интернет-каналом за ваш счет, то для этого вы можете настроить в сети WiFi следующие ограничения:</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<h2>Разрешайте доступ только для фиксированного перечня mac-адресов</h2>
<p>Тем самым вы даёте возможность подключиться к вашему Wi-Fi роутеру только с  тех устройств, которым вы самостоятельно прописали разрешение на доступ.</p>
<p>В этой ситуации, даже если злоумышленник будет видеть вашу Wi-Fi сеть, он не сможет к ней подключиться, поскольку его устройства нет в списке.</p>
<p>Все было бы хорошо, но при некоторой сноровке mac-адрес беспроводной сетевой карты можно подменить. Таким образом, для вторжения в вашу беспроводную сеть злоумышленнику потребуется поймать момент, когда вы  появитесь в сети и «подслушать» сетевой адрес вашего компьютера, а потом подменить его и получить доступ.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<h2>Отключите DHCP</h2>
<p>В самом деле, если злоумышленник решил воспользоваться вашей сетью, зачем сразу на блюдечке предоставлять ему IP-адрес? Пусть помучается – сеть просто не будет для него работать и ему потребуется время, чтобы сообразить, в чем кроется проблема. Неплохое дополнительное препятствие для взломщика.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<h2>Замените стандартное имя WiFi сети и сделайте ее невидимой</h2>
<p>Если скрыть беспроводную сеть, то она не будет обнаруживаться при стандартной процедуре поиска сети. Единственное, нужно не забыть изменить имя вашей сети, так как в большинстве случаев при покупке Wi-Fi роутера ему присваивается имя по умолчанию (default, linksys и т.п. ). Злоумышленник может  наугад попробовать одно из этих имен и успешно подключиться.</p>
<p>Чтобы избавиться от такого рода неприятностей, всегда переименовывайте WiFi сеть.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="4" style="background-position: 0 -270px"/></div>
<div class="best">
<h2>Замените пароль точки доступа</h2>
<p>Ни в коем случае нельзя оставлять заводской пароль роутера! Стандартные пароли –admin или пустой пароль – знакомы любому начинающему хакеру. Это первое, что пробуют при попытке взлома.</p>
<div class="guru g1"><p>Если злоумышленник получит доступ к WiFi сети, то это еще пол беды. А вот если он получит доступ к вашей точке доступа, воспользовавшись таким паролем, то он может делать в ней все, что ему заблагорассудится, вплоть до того, что он может запретить доступ в Интернет для вас и оставить только для себя.</p></div>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="5" style="background-position: 0 -360px"/></div>
<div class="best">
<h2>Открутите антенну</h2>
<p>Чтобы уменьшить радиус действия WiFi-роутера можно попытаться открутить антенну роутера (если это возможно). Действительно, это может показаться странным, но, открутив WiFi антенну на роутере, вы осложните задачу злоумышленнику сильнее, чем может показаться. Если описанные выше методы являются программными и, как следствие, могут быть перепрограммированы, то роутер без антенны – это физическое ограничение. Если в пределах вашей квартиры или офиса он вполне сможет обеспечивать приемлемый  уровень сигнала, то ваши соседи просто не смогут присоединиться к сети из-за низкого уровня сигнала и его отсутствия. Тем самым отсутствует объект атаки, а значит, нет риска угрозы!</p>
</div>

<h1>Шифрование сети WiFi</h1>
<p>Описанные выше методы позволяют сделать вашу сеть WiFi защищенной от не слишком искушенных взломщиков. То есть, если у кого-то нет цели взломать вашу сеть и воспользоваться ею, то, скорее всего, этих настроек хватит. Если же вы хотите сделать вашу беспроводную сеть WiFi еще более защищенной, или важным условием является «видимость» сети для пользователей, то вам потребуется использовать шифрование.</p>
<p>Самым совершенным и рекомендованным на сегодняшний день стандартом безопасных беспроводных сетей является WPA2-PSK. WPA-PSK AES является достойной альтернативой, если использование WPA2 не поддерживается оборудованием.</p>
<div class="guru g2">
<p>Пользователи Windows XP имеют возможность пользоваться алгоритмом шифрования WPA-AES только, если у них в системе установлен <a href="http://www.akvi.ru/windows/sp.html">пакет обновлений SP2</a>. WPA2 доступен только для пользователей Windows XP SP3 или SP2, после дополнительной установки обновления KB893357. Windows Vista и 7 имеют встроенную поддержку этих стандартов.</p>
<p>Настоятельно рекомендуем вам <a href="http://www.akvi.ru/windows/obnovlenie.html">обновить Windows XP</a> для возможности использования новейших алгоритмов шифрования данных, передаваемых по беспроводному каналу.</p>
<p>Современные WiFi роутеры и другое беспроводное сетевое оборудование, как правило, имеет поддержку WPA2. Если этот функционал отсутствует, то, как правило, его можно добавить путем обновления программного обеспечения устройства (перепрошивкой).</p>
</div>
<p>Важно знать, что просто настроить WIFi на работу по новейшему алгоритму шифрования недостаточно, чтобы полностью обезопасить свою сеть от вторжения. Криптостойкость алгоритма существенно зависит от ключа, на основе которого происходит шифрованная передача данных. Для алгоритма WPA2 ключом является хешированная комбинация SSID+PSK (имя WiFi сети + пароль для доступа к ней).</p>
<div class="guru g1">
<p>Группа американских энтузиастов выложила в открытый доступ вычисленные хэши для 1000 самых распространенных названий беспроводных сетей по 1 000 000 распространенных паролей для каждого названия. </p>
<p>Криптостойкость WPA2 основана на трудоемкости вычисления хэша, и она совершенно бессильна простив перебора предварительно вычисленных хэшей. То есть если имя вашей сети попало в этот список, а пароль не слишком сложен и тоже попал в список просчитанных паролей, то взлом сети сводится к банальному перебору хэшей. Время этого перебора на порядки ниже, чем подбор ключа путем последовательного вычисления хэшей для различных паролей к SSID.</p>
<p>Всегда используйте стойкие пароли и переименовывайте вашу беспроводную сеть, чтобы полностью защитить ее от взлома!</p>
</div>
<p>На практике это означает, что если вы выберите простой пароль и оставите стандартное имя сети, то шанс взлома WiFi весьма велик. Пароль, состоящий не менее чем из 13 символов, произвольно выбранных 95 допустимых, можно считать надежным против атак «грубой силой». Примером хорошего пароля можно считать, к примеру, такой: <code>crueL2_d@DDY</code></p>

<h1>Итоги</h1>
<p>Ни один из методов защиты в отдельности не является панацеей от несанкционированного доступа в сеть WiFi. Только грамотное и обдуманное использование совокупности всех методов может обеспечить по-настоящему защищенную передачу данных по беспроводной сети.  Начнем с того, что нужно делать всегда:</p>
<ol>
<li>Изменить стандартное название SSID, присвоенное роутеру на заводе</li>
<li>Изменить стандартный пароль администратора</li>
<li>Включить режим шифрования WPA2-PSK</li>
</ol>
<p>Приведем примеры настройки дополнительных ограничений, которые имеет смысл использовать в различных ситуациях:</p>
<h2>Офис, сеть для внутреннего пользования сотрудниками компании</h2>
<ul>
<li>Сделайте сеть невидимой – сотрудники компании могут узнать SSID, остальным его знать не обязательно</li>
<li>Установите сложный пароль сети, чтобы обезопасить себя от взлома «грубой силой»</li>
</ul>
<h2>Домашняя беспроводная сеть WiFi</h2>
<ul>
<li>Установите ограниченный перечень mac-адресов, которым разрешен доступ в интернет</li>
<li>Отключите DHCP и настройте статическую адресацию</li>
<li>Сеть можно скрыть от посторонних глаз</li>
<li>Можно попробовать открутить антенну у роутера, если после этого радиус останется приемлемым для работы в пределах квартиры</li>
</ul>
<p>Настройка WiFi является задачей, требующей индивидуального подхода в каждой конкретной ситуации. Если вы сомневаетесь в том, какие методы ограничения доступа выбрать в вашем случае, или просто не знаете, что и как делается – позвоните нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> и получите бесплатную консультацию прямо сейчас!</p>

</div>