<div class="txt">

<a href="http://www.akvi.ru/price/wifi.html"><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/></a>
<h1>Установка WiFi</h1>


</div>