<div class="txt">
<img src="http://static.akvi.ru/i/superman.jpg" alt="" style="float: right; width: 263px; height: 254px;" class="noprint"/>
<h1>Компьютерная помощь на дому с гарантией</h1>
<p><b>Профессиональные услуги по ремонту и настройке компьютеров на дому.</b></p>

<p>Вы можете получить бесплатную консультацию, или оформить вызов специалиста по телефону (495) 646-01-26. Наш специалист приедет к вам в течение двух часов и решит любую проблему, после чего оставит договор и годовую гарантию на работы.</p>
<h2>Чем мы можем помочь?</h2>
<ul>
<li>Установим и <a href="http://www.akvi.ru/windows/">настроим Windows</a></li>
<li><a href="http://www.akvi.ru/virus/">Удалим вирусы</a> и баннеры-вымогатели</li>
<li><a href="http://www.akvi.ru/virus/antivirus.html">Установим антивирус</a></li>
<li><a href="http://www.akvi.ru/ustanovka/printer.html">Настроим принтер</a> или сканер</li>
<li><a href="http://www.akvi.ru/programs/">Установим программы</a></li>
<li>Настроим интернет на компьютере</li>
<li>Настроим домашнюю сеть через <a href="http://www.akvi.ru/wifi/">Wi-Fi</a></li>
</ul>
<img src="http://static.akvi.ru/i/msk.png" alt="" style="float: right" class="noprint"/>
<p>Мы работаем на всей территории Москвы, круглосуточно и без выходных. Мы даем гарантию 1 год на все наши услуги, подразумевающую бесплатный повторный выезд мастера, в случае выявления недостатков при выполнении ремонта.</p>

<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>
<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Предъявите мастеру распечатанный <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5%. Скидка распространяется только на услуги компьютерной помощи.</p></div><div style="clear: left"></div></div>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд мастера в пределах МКАД</td><td><span>бесплатно</span></td></tr>
<tr><td>Диагностика при проведении работ</td><td><span>бесплатно</span></td></tr>
<tr><td>Удаление компьютерных вирусов</td><td>450 руб.</td></tr>
<tr><td>Установка Windows XP / Vista / 7</td><td>400 руб.</td></tr>
<tr><td>Установка Office 2010 (1 компонент)</td><td>380 руб.</td></tr>
<tr><td>Настройка сканера или принтера</td><td>420 руб.</td></tr>
<tr><td>Настройка доступа к подключению Интернет через локальную сеть</td><td>550 руб.</td></tr>
</table>
</div>
<br/>
<p>Полный перечень цен на услуги вы можете посмотреть в нашем открытом <a href="http://www.akvi.ru/price/">прайс-листе</a>.</p>
<p>Если у вас есть вопросы, или желание оставить заявку, вы можете сделать это, позвонив по телефону (495) 646-01-26. <b>Мы работаем круглосуточно и без выходных!</b></p>

<h2>Контактная информация</h2>
<p>Работаем круглосуточно и без выходных. Выезд на дом за 2 часа, гарантия – 1 год!</p>
<p><b>АКВИ</b></p>
<p>115280, Россия, Москва, Савеловский проезд, дом 10, стр.16</p>
<p>Телефон: (495) 646-01-26</p>
<p>E-mail: <a href="mailto:info@akvi.ru">info@akvi.ru</a></p>
<p><a href="/contacts.html">Схема проезда в офис</a></p>
</div>
<div class="pad"><ul><li class="m1"><a href="http://www.akvi.ru/wifi/">Настройка Wi-Fi</a></li><li class="m2"><a href="http://www.akvi.ru/abonentskoe/">Абоненсткое обслуживание</a></li><li class="m3"><a href="http://www.akvi.ru/vosstanovlenie/">Восстановление данных</a></li><li class="m4"><a href="http://www.akvi.ru/virus/">Удаление вирусов</a></li><li class="m5"><a href="http://www.akvi.ru/programs/">Установка программ</a></li><li class="m6"><a href="http://www.akvi.ru/windows/">Установка Windows</a></li><li class="m7"><a href="http://www.akvi.ru/sborka/">Сборка компьютера</a></li></ul></div>
