<div class="txt">

<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка антивируса</h1>
<p>Предлагаем профессиональные услуги по установке антивирусов!</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Мы устанавливаем только лицензионные продукты, что гарантирует стабильную работу вашего компьютера.</p>
</div>

<p class="h2">Дополнительно наши специалисты могут:</p>
<ol>
<li>Удалить информеры и СМС-вымогатели;</li>
<li>Провести полное сканирование системы и удалить вирусы;</li>
<li>Рассказать, как в будущем не попадаться на удочки распространителей вирусов;</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Avast!</td><td>Kaspersky 2011</td><td>NOD32 Smart Security</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td><td><span>бесплатно</span></td><td><span>бесплатно</span></td></tr>
<tr><td>Покупка и доставка антивируса</td><td>0</td><td>390</td><td>390</td></tr>
<tr><td>Установка антивируса</td><td>1290</td><td>590</td><td>590</td></tr>
<tr><td>Лицензия на использование, 1 год</td><td>0</td><td>1200</td><td>1080</td></tr>
<tr class="b"><td>Итого</td><td>1290</td><td>2180</td><td>2060</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<p class="h1">Как установить антивирус</p>

<p>Из года в год число компьютерных вирусов неуклонно растет. В последнее время в этой черной индустрии наблюдается настоящий бум, связанный с тем, что из взлома компьютеров научились извлекать коммерческую выгоду.</p>
<p>Если раньше вирусы могли «всего лишь» подвесить компьютер, открывать дверцу CD-ROM и прочими способами издеваться над пользователями, то сейчас средства и методы стали куда более изощренными, а объекты атаки более ценными. Целью современных вирусов и троянских программ является уже не баловство, а кража личной информации (в том числе электронных денег), показ нежелательной рекламы, использование зараженного компьютера в качестве платформы для DoS-атаки других компьютеров и многое другое.</p>
<p>Если раньше распространение вирусов было во многом пропорционально энтузиазму автора, то сейчас оно пропорционально сумме, которую можно заработать от распространения вируса.</p>
<p>В такой ситуации использование компьютера без установленных средств <a href="http://www.akvi.ru/virus/zashita.html">антивирусной защиты</a> является, по меньшей мере, необдуманным.</p>
<p>Установить антивирус не так сложно, свежие версии антивирусных программ доступны на сайтах компаний-разработчиков. После установки антивируса его, как правило, можно использовать бесплатно на протяжении некоторого периода, после чего вам будет предложено его купить.</p>
<p>Если у вас нет желания тратить деньги, вы всегда имеете возможность установить антивирус бесплатно. Например, в приложение Я.Онлайн встроен антивирус Касперского, который вы можете бесплатно использовать, автоматически продлевая лицензию просто пользуясь программой Я.Онлайн. Если нет желания пользоваться Я.Онлайн и вам просто нужно установить антивирус бесплатно, вы можете воспользоваться avast! Home Edition, она совершенно бесплатна при условии использовании дома на компьютере не предназначенном для коммерческих целей.</p>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/eset.jpg" alt="ESET" /></div>


<h2>Как установить антивирус?</h2>
<p>Процедура установки антивируса ничем не отличается от установки любой другой программы, с той лишь разницей, что после установки вам будет предложено перезагрузить компьютер, настроить параметры антивирусной защиты и провести полное сканирование системы.</p>
<p>Единственным значимым отличием от обычной процедуры установки программы является то, что антивирус нельзя установить вместе с другим на одну операционную систему. Это не удвоит антивирусную защиту компьютера, а, напротив, приведет к возникновению конфликтов и неустойчивой работе обоих антивирусов и компьютера в целом. Поэтому перед установкой нового антивируса настоятельно рекомендуется удалить все установленные антивирусные программы, чтобы избежать таких проблем. Исключением является обновление антивируса – если вы хотите установить более новую версию антивируса Касперского, скажем, 2010 обновить до 2011, то вы можете сразу приступать к установке, программа сама разберется, как поступить с уже установленным антивирусом.</p>
<p>В целом процедура установки антивируса довольно проста и вполне осуществима даже для пользователей с начальным уровнем компьютерных знаний. Гораздо более актуальной проблемой является правильный  выбор и покупка той версии антивируса, которая нужна именно вам.</p>
<p>Важно знать, что установка антивируса сама по себе не является всем, что нужно, чтобы обеспечить полную антивирусную защиту компьютера. Время от времени вам нужно будет проводить полное сканирование системы, следить за своевременным обновлением антивирусных баз и внимательно читать сообщения, которые показывает программа.</p>

<h2>Установка антивируса Касперского</h2>
<div style="float: right; padding: 0 0 0 40px;"><img src="http://static.akvi.ru/i/kis2011.jpg" alt="Антивирус Касперского Internet Security"/></div>
<p>Для многих будет неожиданностью узнать, что в большой красивой коробке антивируса Касперского, содержащей столько красивых инструкций, диск и много чего еще, единственной ценной вещью является серийный номер. От момента изготовления диска с антивирусной программой до момента его продажи и установки проходит значительное время, и она успевает устареть. Поэтому для установки антивируса Касперского рекомендуется не ставить его с прилагаемого диска, а скачать с официального сайта в разделе «дистрибутивы». Так у вас будет уверенность, что вы ставите самое последнее антивирусное ядро.</p>
<div style="clear: right"></div>
<div class="guru g2"><p>Немногие знают, что любая антивирусная программа состоит из двух разных компонент, которые требуется обновлять независимо: антивирусные базы и антивирусное ядро. Антивирусные базы обновляются для пополнения информации о недавно найденных вирусах и способах их лечения, а версии ядра зависит скорость проверки и лечения системы. Всегда следует устанавливать последнюю версию антивирусного ядра.</p></div>
<div style="float: left; padding: 0 0 0 40px;"><img src="http://static.akvi.ru/i/kav2011.jpg" alt="Антивирус Касперского"/></div>
<p>Итак, после того как вы скачали и установили антивирус Касперского, требуется пройти процедуру активации. Если у вас уже есть ключ, введите его. Если вы хотите бесплатно попробовать продукт в течении 30 дней, вам следует выбрать соответствующую опцию в меню.</p>
<p>Далее последует перезагрузка компьютера и после этого антивирус предложит вам провести обновление баз и полное сканирование системы. Обязательно выполните эти шаги, так как безопасность вашего компьютера не может быть гарантирована, пока это не будет сделано. После выполнения этих шагов красный мигающий индикатор защиты сменится на зеленый, и только тогда процедуру установки антивируса Касперского можно считать завершенной.</p>
<div style="clear: left"></div>
<h2>Бесплатная установка антивируса</h2>
<p>Если вы не готовы тратить деньги на антивирусную защиту, всегда можно воспользоваться бесплатными антивирусными программами.</p>
<p>К сожалению, партнерская программа Яндекса и Лаборатории Касперского закончилась и теперь уже не получится установить антивирус Касперского бесплатно вместе с приложением Я.Онлайн. Но тем не менее существуют и другие программы антивирусной защиты, которые можно скачать и установить совершенно бесплатно. Например, avast! Home Edition, который предназначен для домашних пользователей, не занимающихся  коммерческой деятельностью на своих домашних компьютерах.</p>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/avast.jpg" alt="Avast!" /></div>
</div>