<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<img src="http://static.akvi.ru/i/winlock.png" alt="" style="float: right; padding-left: 30px"/>
<h1>Удаление вирусов</h1>
<p><b>Не отправляйте СМС!</b> Отправка СМС не удалит сам информер, а в лучшем случае уберет его с экрана. Информеры и СМС-вымогатели&nbsp;&mdash; это такие же вирусы и их нужно удалять из системы, в противном случае они так и останутся на месте, подвергая угрозе ваши данные и работоспособность компьютера.</p>
<p>Наш мастер не только гарантированно удалит информер с экрана, но и проведет полное сканирование системы для выявления других вирусов и программных уязвимостей, удалит их, а также установит лицензионный антивирус и расскажет о мерах предосторожности в Интернете.</p>
<p><b>ПОМНИТЕ:</b> отправка СМС может убрать окно с экрана, но вирус так и останется в вашей системе, и нет гарантии, что он снова не заблокирует ваш компьютер. Для полного устранения заражения необходимо провести антивирусную профилактику!</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Нам поступает не менее пяти заявок в день с просьбами удалить информер или СМС-вымогатель, поэтому наши мастера уже научились бороться с любыми их разновидностей быстро и эффективно!</p>
</div>
<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Удалим информеры и СМС-вымогатели;</li>
<li>Проведем полное сканирование системы и удалим другие вирусы;</li>
<li>Расскажем, как в будущем не попадаться на удочки распространителей вирусов;</li>
<li>Установим лицензионный антивирус со свежими базами (по желанию клиента);</li>
</ol>
<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td><span>бесплатно</span></td></tr>
<tr><td>Антивирусная профилактика</td><td>900 руб.</td></tr>
<tr><td>Использование Live CD для сканирования системы (если требуется)</td><td>500 руб.</td></tr>
<tr class="b"><td>Итого</td><td>900 руб.</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>



<p class="h1">Как удалить вирусы</p>

<p>С проблемой необходимости удаления компьютерных вирусов рано или поздно сталкивалось большинство пользователей. На ошибках учатся, и сегодня люди предпочитают устанавливать антивирус заблаговременно, вместо того, чтобы бороться с последствиями заражения компьютера. Предотвратить заражение, безусловно, проще, чем удалять вирус и устранять последствия его деятельности, но что делать, если вирус уже попал к вам в компьютер?</p>
<p>Первое и главное правило — не поддаваться панике и не совершать необдуманных действий. Многие вирусы можно удалить даже без использования антивирусных программ (например, autorun.inf на флешке). Мы рассмотрим самые частые виды заражений компьютера и узнаем, как удалить вирус в каждом конкретном случае.</p>
<p>Удаление компьютерных вирусов чаще всего сводится к установке на зараженный компьютер программы для удаления вирусов (или антивирусной программы), полного сканирования системы и процедуре лечения компьютерных вирусов.</p>

<h2>Удаление вируса autorun.inf с флешки</h2>
<p>Как правило, таким способом происходит заражение компьютера со съемных носителей, таких как флешка, DVD или CD. Сам по себе файл autorun.inf не является вирусом и не может заразить ваш компьютер. Все что он делает — дает инструкции операционной системе предложить пользователю запустить программу Autorun.exe. То есть, если вы откажетесь от этого предложения, вирус к вам никак «сам по себе» не попадет. Другое дело, что вирус может маскироваться и поставить в виде своей иконки изображение папки и ввести тем самым пользователя в заблуждение, заставив его думать, что нажав на иконку, он просто откроет папку.</p>
<p>Удалить вирус autorun.inf с флешки можно даже вручную — необходимо скопировать с нее нужные файлы (именно файлы, а не папки, так как в папках могут быть невидимые файлы, которые тоже будут скопированы), а затем просто отформатировать флешку!</p>
<p>Если вирус autorun все-таки попал в ваш компьютер, он обычно многократно клонирует себя и заражает все флешки, которые вы вставляете в зараженный компьютер после этого. Если заражение произошло, то удалить вирус можно лишь с помощью антивирусных программ.</p>
<p>Неприятной особенностью вируса autorun является то, что лечить нужно не только флешку, на которой был обнаружен вирус, но и все компьютеры, в которые эта флешка вставлялась, иначе останется вероятность повторного заражения. Чтобы вирус autorun не стал ночным кошмаром, рекомендуем воспользоваться услугой по удалению вирусов. Наш мастер поможет вам удалить вирус autorun с флешки, проведет диагностику компьютеров и, при необходимости, установит на них последние версии <a href="http://www.akvi.ru/virus/antivirus.html">антивирусных программ</a>. Подробности вы можете узнать по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>

<h2>Как удалить троян?</h2>
<p>Троянская программа не является вирусом в обычном понимании, она не может самостоятельно проникнуть в ваш компьютер или распространить себя на другие компьютеры. Тем не менее, вред, наносимый ею, может быть куда более значительным, чем от обычного вируса. Если вы подозреваете, что на вашем компьютере находится троян, а именно самопроизвольно возникают и удаляются файлы, компьютер часто зависает или у вас есть подозрение, что ваши пароли перестали быть только вашими, рекомендуем не откладывать проблему в долгий ящик. Удалять троян нужно сразу, как только вы узнали о его существовании — любое промедление может быть чревато частичной потерей, или даже полной утратой личных данных.</p>
<p>Удалить троян не так уж сложно — для этого необходимо <a href="http://www.akvi.ru/virus/antivirus.html">установить антивирус</a> или специальную программу для удаления троянов на зараженный компьютер и провести полное сканирование системы. Антивирусная программа просканирует ваш компьютер и предложит варианты по удалению троянского вируса из системы. Чтобы в будущем избежать подобных проблем, рекомендуем заранее озаботиться <a href="http://www.akvi.ru/virus/zashita.html">защитой своего компьютера</a> и <a href="http://www.akvi.ru/virus/antivirus.html">установить антивирус</a> непосредственно после <a href="http://www.akvi.ru/windows/">установки операционной системы</a>.</p>
<div class="guru g2"><p>Узнать, что у вас троян достаточно просто. Зараженный компьютер ведет себя непредсказуемо или зависает, вирус удаляет файлы или происходят какие-либо еще действия, которые вы сами не инициировали. В этом случае вам немедленно стоит самостоятельно удалить троян или позвонить в нашу службу поддержки по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> и доверить дело профессионалам.</p></div>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/eset.jpg" alt="ESET" /></div>
<h2>Лечение компьютерных вирусов</h2>
<p>Лечение вирусов требуется, когда вирус нельзя просто удалить. Например, вирус интегрировался в программу, которой вы пользуетесь, и удаление вируса сводится, по сути, к удалению самой программы. К счастью не все так плохо и современные антивирусные программы умеют не только эффективно находить зараженные файлы, но и «исправлять» их, если это возможно. Антивирус анализирует код зараженного файла, находит в нем вирусный участок и удаляет его, оставляя программу в таком состоянии, в котором она была до появления вируса.</p>
<p>Однако лечение вирусов компьютера не всегда возможно, и антивирусная программа в некоторых случаях может предложить вам удалить зараженный файл. Будьте внимательны, иначе с удалением вируса вы можете потерять нужные вам файлы.</p>
<p>Для лечения вирусов компьютера можно воспользоваться любой современной программой антивирусной защиты, установить которую вам помогут наши специалисты, если вы не решаетесь сделать это самостоятельно. Все вопросы о лечении вирусов вы можете задать нашему специалисту по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>

<h2>Что делать после удаления вирусов?</h2>
<p>К сожалению, присутствие вирусов на компьютере редко проходит без последствий, и, даже после удаления вируса, порой приходится восстанавливать систему. Иногда требуется просто удалить файлы, созданные вирусами (они могут быть внушительных размеров), поменять пароли (если вы подозреваете, что вирус был программой-шпионом) или просто почистить переполненную папку отправленных вирусом сообщений. К счастью, не всегда это требуется делать вручную. Большинство современных антивирусных программ умеют не только удалять вирусы, но и знают, какие последствия они могли вызвать и как с ними бороться.</p>
<p>Самый простой и эффективный совет по устранению последствий вирусной активности — не допускать появления вирусов на вашем компьютере и всегда устанавливать антивирусное ПО сразу после <a href="http://www.akvi.ru/windows/">установки Windows</a>. Это избавит вас от множества проблем и сэкономит не только деньги, но и время.</p>
<p>Если после удаления вирусов ваш компьютер работает медленно или нестабильно, скорее всего, вирус сбил системные настройки или нанес какой-либо другой ущерб. В этой ситуации советуем вам позвонить нашим специалистам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>, чтобы получить бесплатную консультацию по дальнейшим действиям. Даже если по телефону нам не удастся разрешить проблему, вы сможете вызвать мастера на дом для решения проблемы.</p>

<h2>Как удалить вирус, если система не загружается</h2>
<p>Если компьютер не загружается и у вас есть подозрение, что проблема была вызвана вирусной активностью, то требуется решить две задачи.</p>
<ol>
<li>Удалить вирусы с жесткого диска</li>
<li>Заставить систему работать</li>
</ol>
<p>Увы, второй пункт не всегда возможен без <a href="http://www.akvi.ru/windows/pereustanovka.html">полной переустановки Windows</a>. Последствия деятельности вирусов могут быть крайне негативными и, даже если удастся удалить сами вирусы из системы, не факт, что после этого она будет работать корректно.</p>
<p>Чтобы удалить вирусы с жесткого диска, если компьютер не загружается, используют Live CD. Компьютер загружается с оптического диска и запускается программа сканирования файлов на жестком диске. После лечения вирусов требуется выполнить резервное копирование данных с жесткого диска на внешний носитель. После этого жесткий диск полностью форматируется, устанавливается чистая копия Windows и восстанавливаются сохраненные данные.</p>
<p>Процедура достаточно трудоемкая, но только она дает полную гарантию работоспособности системы после лечения от вирусов. К счастью, в будущем столь печальных последствий можно легко избежать. Для этого требуется просто установить антивирусную программу сразу после установки системы.</p>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/avast.jpg" alt="Avast!" /></div>
</div>