
<div class="txt">

<h1>Защита компьютера</h1>
<h2>Антивирусная защита компьютера</h2>
<p>Защита от вирусов на данный момент является едва ли не самой актуальной задачей в компьютерной индустрии. Ущерб от компьютерных вирусов может быть весьма значительным, и, чтобы не пришлось считать убытки, лучшим решением будет заблаговременно <a href="http://www.akvi.ru/virus/antivirus.html">установить антивирус</a> для комплексной защиты компьютера.</p>
<p><b>Антивирусная защита компьютера</b>, как правило, включает в себя целый набор средств для предотвращения вредоносных действий различного характера. На рынке существует множество программ антивирусной защиты, которые различаются ценой, скоростью работы, качеством антивирусных баз и другими параметрами. Среди них можно выделить следующие:</p>
<ol>
<li>Kaspersky Internet Security</li>
<li>ESET NOD32</li>
<li>Norton Antivirus</li>
<li>Dr. Web</li>
<li>Avast</li>
</ol>
<p>Если вас интересует бесплатная антивирусная защита, к вашим услугам персональная версия программы Avast. Несмотря на то, что по сравнению с коммерческими версиями этот антивирус имеет некоторые ограничения, он обеспечивают достаточный уровень антивирусной защиты компьютера и его можно смело рекомендовать к использованию, если нет желания платить деньги за коммерческую версию.</p>
<p>Если вы решили приобрести лицензионную копию антивирусной программы, но еще не сделали свой выбор, мы можем порекомендовать антивирусную защиту Касперского. Она давно хорошо зарекомендовала себя на рынке и на сегодняшний день наиболее востребована нашими клиентами. Стоимость лицензии антивируса Касперского на два компьютера составляет 1600 рублей за первый год и 990 за каждый последующий (версия Internet Security). Если вы не являетесь активным пользователем интернета, то вам подойдет стандартная версия антивируса Касперского, которая стоит дешевле, но обеспечивает хороший уровень защиты от заражения компьютера через внешние носители информации.</p>
<p>Существуют программы антивирусной защиты, не требующие установки. Например, Kaspersky Live CD. Ее можно просто записать на диск и запускать прямо оттуда без какой-либо установки!</p>
<p>При всем многообразии средств антивирусной защиты компьютера все они имеют один существенный недостаток. Антивирусы могут эффективно находить и лечить лишь те объекты заражения, которые есть в их базе. Проблема частично решается тем, что антивирусные базы пополняются и обновляются едва ли не каждый час, но никто не может дать полной гарантии, что тот вирус, который достался именно вам, есть в этой базе.</p>
<p>Поскольку основным источником заражения по-прежнему является Интернет, необходимо помнить основные правила безопасного пребывания в сети. Помните, ничто не защитит ваш компьютер от вирусов лучше, чем следование этим простым принципам:</p>
<div class="guru g1">
<ul>
<li>Не скачивайте и не устанавливайте из Интернета программы, издателю которых у вас нет причин доверять.</li>
<li>Скачивайте программы с сайта компании разработчика (а не просто откуда-то из Яндекса) — так у вас будет уверенность, что никто не менял код программы и не встроил в нее шпионские модули. <b>Никогда не скачивайте <a href="http://www.akvi.ru/ustanovka/driver.html">драйверы устройств</a> с неофициальных сайтов.</b></li>
<li>Не открывайте подозрительные файлы, присланные вам по почте, даже если в поле «отправитель» указано имя хорошо известного вам человека — его компьютер мог быть заражен.</li>
<li>Не используйте Internet Explorer 6 и более старые версии. В качестве альтернативы можно предложить Firefox, Opera или Internet Explorer 8.</li>
<li>Любой файл, скачанный из интернета, не представляет <strong>никакой угрозы</strong>, если он не является программой или скриптом. Более того, файл, зараженный вирусом, совершенно безопасен, если он просто находится на жестком диске. Заражение компьютера происходит в момент, когда возникают условия для запуска вредоносного кода в этом файле.</li>
<li>Помните, что в основе любого взлома чаще всего лежит обман или введение пользователя в заблуждение, и <strong>ничто</strong> само собой в компьютере не происходит. В Интернете практически невозможно «подцепить» вирус, просто переходя по ссылкам (при условии использования современного браузера). Вирусы попадают в ваш компьютер, когда вы устанавливаете различные программы или тулбары, которые <strong>якобы</strong> необходимы для работы с сайтом.</li>
</ul>
</div>
<p>Соблюдение этих простых правил позволит вам избежать большинства проблем защиты компьютера от вирусов, распространяемых через Интернет. Но если вы не уверены в том, что можете самостоятельно видеть потенциальную угрозу или не имеете возможности контролировать людей, которые пользуются вашим компьютером (например, дети или сотрудники, если это офисный компьютер), то без средств антивирусной защиты компьютера вам не обойтись. Получить квалифицированную консультацию по современным средствам антивирусной защиты, подобрать антивирус с учетом стоимости и надежности защиты, вы сможете, проконсультировавшись у наших специалистов, позвонив по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
<h2>Защита от спама</h2>
<p>В последнее время все острее стала вставать задача защиты от спама — анонимной массовой почтовой рассылки рекламного характера. Сейчас на одно целевое письмо приходится в среднем от 8 до 10 спам-писем. Нежелательная почта дает значительную нагрузку на почтовые сервера, а для людей она увеличивает риск не заметить целевое письмо среди множества спаммерских. К счастью, для защиты компьютера от спама существует решение: установка спам-фильтров на почтовом сервере или клиенте (или оба фильтра сразу).</p>
<p>Эти меры не дают стопроцентной гарантии защиты компьютера от спама, но позволяют с большей или меньшей точностью сортировать целевые письма и спам по разным папкам. Хотя эти программы достаточно хорошо справляются со своей задачей, они не обладают интеллектом, а значит, их тоже можно обойти. Ни один спам-фильтр, вопреки рекламным заявлениям разработчиков, не сможет дать полной гарантии защиты от спама.</p>
<p>Спам-фильтр считается хорошим, если он узнает спам с вероятностью 98-99%. Причем ошибки могут быть допущены как в сторону пометки нужного письма, как спама, так и наоборот — неузнавания спама.</p>
<p>Тем не менее, если на ваш ящик ежедневно сваливается больше сотни писем, то без средств защиты от спама вам не обойтись. На рынке существует довольно много решений спам-защиты, как платных, так и бесплатных. Мы рекомендуем для начала прибегать к бесплатным программам, и, если они оказываются бессильными в борьбе со спамерами и не могут обеспечить должный уровень защиты, предлагаем попробовать платные решения, такие как, например, Kaspersky® Anti-Spam.</p>
<p><b>Лучшая защита компьютера от спама — не создавать условия для его появления в вашем почтовом ящике.</b></p>
<div class="guru g2">
<ul>
<li>Заведите себе два отдельных электронных почтовых ящика — один для <span class="red">спама</span>, другой для <span class="green">личного</span> пользования</li>
<li>Никогда не используйте <span class="green">личный</span> почтовый ящик при регистрации на сайтах, кроме тех, которым вы полностью доверяете. Для остальных используйте <span class="red">спам-ящик</span></li>
<li>Никогда не публикуйте свой <span class="green">личный</span> почтовый ящик на каких бы то ни было сайтах в Интернет. При регистрации на форумах всегда ставьте галочку «Не показывать мой email» и не публикуйте го в социальных сетях, если на вашу страницу могут заходить не только ваши друзья. </li>
<li>Никогда не отвечайте на спам — для человека, который его рассылал, это будет означать, что ящик регулярно проверяется и, более того, адресат <strong>читает спам</strong>! После такого ответа на вас может обрушиться целый шквал писем рекламного содержания.</li>
</ul>
</div>
<p>Если на ваш почтовый адрес приходит много нежелательной почты, и вам необходима комплексная защита от спама, наши специалисты помогут вам <a href="http://www.akvi.ru/programs/ustanovka.html">установить и настроить почтовую программу</a>, снабженную спам-фильтром или установить Kaspersky Anti-Spam, который будет удалять спам из почтовой программы, которой вы уже пользуетесь. Бесплатную консультацию по вопросам защиты от спама вы можете получить у нашего специалиста по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
<h2>Защита компьютера от взлома</h2>
<p>Защита компьютера от взлома и несанкционированного доступа нужна для того, чтобы злоумышленник не смог при помощи хакерских программ получить контроль над вашим компьютером и использовать его в своих целых. Операционная система Windows не является идеальной. В ней, как и в любой другой программе, есть свои слабые места и уязвимости. Они и используются хакерами для совершения злонамеренных действий.</p>
<p>Защита компьютера от взлома заключается в том, чтобы укреплять слабые места в системе. С этой целью Microsoft ежемесячно выпускает <a href="http://www.akvi.ru/windows/obnovlenie.html">обновления</a> для своей операционной системы. Они, безусловно, делают систему более защищенной, но не дают полной гарантии <b>защиты компьютера от взлома</b>.</p>
<p>Если у вас есть подозрение, что ваш компьютер является объектом атаки или на нем находятся конфиденциальные данные, которые вы хотите защитить в случае несанкционированного доступа, вам потребуются дополнительные средства защиты компьютера от взлома, такие как антивирус Касперского (версия Internet Security).</p>
<p>Чтобы защитить конфиденциальную информацию от кражи и не стать объектом внешней атаки из Интернета, мы рекомендуем установить на ваш компьютер программу для защиты от взлома. Чтобы получить консультацию нашего специалиста по подбору программы защиты с учетом стоимости решения и характера угрозы, от которой вы хотите защититься, позвоните нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span>.</p>
</div>