<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>


<h1>Как напрямую соединить два компьютера с Windows 8?</h1>
<p>Сделать это можно двумя способами: по Wi-Fi или через сетевой кабель.</p>

<p class="h2">Чем мы можем помочь?</p>
<p>Если вам нужна консультация о том, как правильно настроить сеть компьютер-компьютер на Windows 8, обращайтесь к нам по телефону 6460126.</p>
<ol>
<li>Настроим прямое соединение между двумя компьютерами с Windows 8 (проводное или Wi-Fi);</li>
<li>Настроим общий доступ в интернет;</li>
<li>Решим любую другую задачу по настройке сети</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Wi-Fi)</td><td>590</td></tr>
<tr><td>Настройка прямого соединения компьютер-компьютер (Ethernet)</td><td>590</td></tr>
<tr><td>Организация общего доступа в интернет через компьютер средствами Windows</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

 
<h2>Соединение компьютер-компьютер через сетевой кабель</h2>
<p>В соответствии со стандартом, для прямого соединения двух компьютеров нужно использовать сетевой кабель, обжатый перекрестным способом (кроссовер), в то время как для соединения компьютера с роутером или другим сетевым оборудованием требуется прямой кабель (патч корд). В некоторых случаях сеть между компьютерами с Windows 8 может заработать и через прямой кабель, но не стоит на это полагаться. Если вы идете покупать кабель, то лучше сразу сказать продавцу, что вам нужен именно кроссовер для прямого соединения двух компьютеров.</p>
<p><img src="http://static.akvi.ru/i/wifi/crossover.png"></p>
<p>После того, как вы подключите кабель к обоим компьютерам, вам потребуется настроить сетевые параметры так, чтобы компьютеры могли видеть друг друга.</p>

<ul>
<li>Если вам требуется просто обмениваться локальной информацией между компьютерами (играть в игры, создавать общие папки и т.п.), то уместно будет настроить статическую адресацию на обоих компьютерах. Для этого потребуется вписать следующие настройки для сетевых адаптеров, которые будут участвовать в подключении:
<ul>
<li>Компьютер 1. IP-адрес: 192.168.0.1, маска подсети: 255.255.255.0 (остальные поля пустые);</li>
<li>Компьютер 2. IP-адрес: 192.168.0.2, маска подсети: 255.255.255.0 (остальные поля пустые);</li>
</ul>
</li>
<!--ВИДЕО «Как настроить статическую IP-адресацию на Windows 8».-->
<li>Если вы собираетесь использовать общий доступ в интернет (выходить в интернет с одного компьютера через подключение другого), то прописывать адреса вручную нет необходимости. Достаточно включить на компьютере, подключенном к интернету, службу Общего доступа в интернет, которая запустит службу DHCP и IP-адреса будут автоматически присвоены обоим компьютерам.</li>
</ul>
	

<p>Как настроить общий доступ в Интернет (на компьютере, имеющем прямое подключение):</p>
<ol>
<li>Зайдите в сетевые подключения.</li>
<li>Щелкните правой кнопкой мыши на подключение, которое должно использоваться для выхода в Интернет, далее – на кнопку Свойства.</li>
<li>Откройте вкладку Дополнительно.</li>
<li>В разделе Общий доступ к подключению Интернета установите флажок Разрешить другим пользователям сети использовать подключение к Интернету данного компьютера.</li>
</ol>

<!--ВИДЕО Настройка общего доступа в интернет на Windows 8.
помогли советы лайк!-->

<h2>Соединение двух компьютеров с Windows 8 через Wi-Fi</h2>
<p>Беспроводное соединение по Wi-Fi идеально подходит для ситуации, когда нужно быстро настроить сеть ноутбук-ноутбук. Есть два способа соединить два ноутбука с Windows 8 через Wi-Fi:</p>
<ol>
<li>Штатными средствами Windows 8 создать сеть Ad-hoc (более сложно и не всегда проходит гладко);</li>
<li>С помощью программы Connectify (очень просто, но необходимо купить программу);</li>
</ol>
<p>Создание беспроводной Ad-hoc сети штатными средствами Windows 8.</p>
<!--видео: Создание беспроводной сети на Windows 8-->
<ol>
<li>Щелкните Пуск > Панель управления.</li>
<li>Дважды щелкните Сетевые подключения. </li>
<li>Щелкните правой кнопкой мыши беспроводная сеть соединение и выберите Свойства.</li>
<li>В беспроводная сеть соединение откроется окно "Свойства". Выберите беспроводной вкладку "Сети" (Networks и Нажмите Add (Добавить). </li>
<li>Введите сеть имя (SSID).</li>
<li>Выберите данных шифрование тип. Если выбран протокол WEP, в сеть ключа, следует в сеть ключ сети) и Confirm сеть key (Подтверждение ввода ключа сети) необходимо ввести ключ сети. </li>
<li>Примечание	Многие сеть (их отличают друг от друга по именам безопасность включена. подключения к таким сетям пользователь должен знать правильный сеть ключ или WEP-ключ.</li>
<li>Отметьте поле This is a компьютер-компьютер (ad hoc) сеть; беспроводной точки доступа не используются Штучная упаковка. </li>
<li>Примечание	Все остальные пользователи желающим присоединиться к сети ad hoc сеть настроить свои компьютеры таким же образом.</li>
<li>Нажмите OK.</li>
<li>Сеть ad hoc сеть готова к использованию. Вы сможете совместно использовать файлы или Интернет соединение совместного использования ПО.</li>
<li>Если вы теперь вернетесь к беспроводная сеть соединение Properties (Свойства беспроводного сетевого подключения), в нем будет отображаться новая специализированная сеть включена в список. </li>
</ol>
<!--ВИДЕО
Помогли советы: ЛАЙК!-->

<p>После этого, компьютеры должны видеть друг друга. Чтобы проверить успешность подключения, посмотрите <a href="/wifi/2-computera/lan.html">эти рекомендации</a>.</p>
<p>Если вам требуется выходить в интернет с компьютера через другой компьютер, то на том, что имеет прямое подключение, нужно включить службу общего доступа к интернету.</p>
<!--ВИДЕО-->
<h2>Создание беспроводной сети через программу Connectify</h2>
<p>Бесплатная версия программы позволяет создавать беспроводные сети только на Windows 7. Чтобы сделать это на Windows 8, вам потребуется приобрести программу  на сайте <a href="http://www.connectify.me/">http://www.connectify.me/</a>  (стоимость составляет около 900 рублей). С помощью этой программы создание работающей сети будет очень простой задачей, потому что она не только создаст сеть Wi-Fi, но и настроит разрешения в сетевом экране (Firewall), чтобы трафик между компьютерами не блокировался. Более того, в один клик можно будет настроить раздачу интернета на этом компьютере так, что другие смогут выходить в сеть через него.</p>



<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>
