<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div>
<img src="http://static.akvi.ru/i/svin/svin3.jpg" alt="" style="float: right"/>
<h1>Пакет услуг «Сборка нового ПК»</h1>
<p>Пакет услуг «Сборка Нового ПК» включает в себя подбор, покупку, сборку комплектующих и доставку системного блока клиенту, а также <b>установку и настройку Windows</b> (пакет услуг «Минимальный»).</p>
<!--<p>Технически процесс происходит следующим образом:</p>
<ol>
<li>Наш менеджер уточняет ваши пожелания по телефону или электронной почте;</li>
<li>Далее мы подбираем оптимальный вариант нового компьютера и высылаем вам калькуляцию себестоимости оборудования;</li>
<li>После утверждения перечня устройств мы заказываем доставку <b>собранного компьютера</b> у нашего партнера «<b>Джаст Компьютерс</b>» по оптовой колонке прайс-листа;</li>
<li>В течение двух дней курьер из «<b>Джаст Компьютерс</b>» доставляет Вам собранный компьютер с чеками и гарантией;</li>
<li>После этого с Вами связывается наш менеджер и договаривается о времени приезда специалиста для установки Windows на новый компьютер;</li>
<li>Наш специалист приезжает к Вам домой и устанавливает Windows. Оплата производится по факту выполнения работы, никакой предоплаты не требуется!</li>
</ol>-->
<p>При оформлении заказа обязательно сообщите оператору, что вы заказываете пакет услуг «Сборка нового ПК».</p>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>

<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">от 7980&nbsp;руб.</span></p>
<p class="promo">&#151; При наличии купона <span class="green">2793&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Консультация клиента по выбору нового компьютера, подбор и покупка комплектующих</td><td class="p">790&nbsp;руб.</td></tr>
<tr><td>Полная сборка компьютера</td><td class="p">1800&nbsp;руб.</td></tr>
<tr><td>Доставка</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Установка и подключение компьютера</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Пакет «Минимальная установка Windows»</td><td class="p">4500&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>от 7980&nbsp;руб.</del><br/><span class="green">2793&nbsp;руб.</span></td></tr>
</table></div>
</div>
<!--
<p>Спецпредложение действительно только при одновременном заказе пакета услуг по <a href="http://www.akvi.ru/price/windows.html">полной установке Windows</a>.</p>
<p class="promo">— При заказе пакетов услуг «<b>Сборка&nbsp;нового&nbsp;ПК</b>»&nbsp;и «<b><a href="windows.html">Полная&nbsp;установка&nbsp;Windows</a></b>», вы получаете скидку <span class="green">10%</span> и общая стоимость составит <span class="green">4200&nbsp;руб.</span></p>
<h2>Примечания</h2>
<ol>
<li>Установка операционной системы, программ и драйверов в стоимость пакета не входит.</li>
<li>Гарантия на собранный компьютер предоставляется компанией «<b>Джаст Компьютерс</b>» и составляет 1 год.</li>
</ol>
-->
</div>