<div class="txt"><img src="http://static.akvi.ru/i/svin/svin1.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Цены на ремонт компьютеров</h1>
<p>Цены на услуги компьютерной помощи, указанные в этом прайс-листе, полностью соответствуют действительности. Скачать печатную версию вы можете <a href="http://www.akvi.ru/files/price.docx">здесь</a>.</p>
<p>Прайс-лист от <b>30 ноября 2011</b>.</p>
<p class="h1">Прайс-лист</p>
<ul>
<li><a href="#main">Основные услуги</a></li>
<li><a href="#p1">Общие условия </a></li>
<li><a href="#p2">Профилактические работы для программного и аппаратного обеспечения</a></li>
<li><a href="#p3">Подготовка ПК к установке операционной системы</a></li>
<li><a href="#p4">Помощь в установке операционных систем</a></li>
<li><a href="#p5">Первичная настройка операционной системы</a></li>
<li><a href="#p6">Оптимизация производительности операционной системы и программного обеспечения</a></li>
<li><a href="#p7">Помощь в установке программного обеспечения</a></li>
<li><a href="#p8">Работа с данными</a></li>
<li><a href="#p9">Настройка и монтаж локальных сетей и доступа подключения к интернет</a></li>
<li><a href="#p10">Тестирование оборудования</a></li>
<li><a href="#p11">Установка, профилактика, ремонт, замена комплектующих компьютера</a></li>
<li><a href="#p12">Настройка аппаратного и программного обеспечения компьютера и периферии</a></li>
<li><a href="#p13">Работы, связанные с BIOS</a></li>
<li><a href="#p14">Работы с СУБД</a></li>
<li><a href="#p15">Работы со специализированнными ос</a></li>
<li><a href="#p16">Дополнительные услуги</a></li>
</ul>
<ul>
<li><a href="#information">Примечания</a></li>
</ul>

<div style="clear: right"></div>
<h2 id="p1">Общие условия</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Выезд специалиста за МКАД до 10 км (от 10 км + 200р за 5км)</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Диагностика: технический осмотр оборудования стационарного компьютера и программного обеспечения с продолжением работ / без продолжения работ</td><td class="p">бесплатно / 400&nbsp;руб.</td></tr>
<tr><td>Технический осмотр ноутбука (нетбука, субноутбука, моноблока) и его программного обеспечения с продолжением работ / без продолжения работ</td><td class="p">бесплатно / 600&nbsp;руб.</td></tr>
<tr class="b"><td>Работа сервисного инженера в случае гарантийных обязательств</td><td class="p">бесплатно&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p2">Профилактические работы для программного и аппаратного обеспечения</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Нанесение термопасты, профилактика системы охлаждения процессора</td><td class="p">700&nbsp;руб.</td></tr>
<tr><td>Чистка контактов системного блока от окиси</td><td class="p">620&nbsp;руб.</td></tr>
<tr><td>Чистка корпуса системного блока от пыли</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Чистка блока питания от пыли</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Чистка и профилактика теплозащиты графической системы</td><td class="p">350/750&nbsp;руб.</td></tr>
<tr><td>Чистка периферийного оборудования Чистка периферийного оборудования от загрязнений.</td><td class="p">300&nbsp;руб.</td></tr>
<tr><td>Проверка поверхности жесткого диска и устранение сбойных секторов</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Дефрагментация жесткого диска</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Устранение ошибок в системном реестре</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Исправление логических ошибок на жестком диске</td><td class="p">1900&nbsp;руб.</td></tr>
<tr><td>Очистка диска и операционной системы от ненужных и временных файлов</td><td class="p">800&nbsp;руб.</td></tr>
<tr><td>Настройка программного обеспечения</td><td class="p">от 690&nbsp;руб.</td></tr>
<tr><td>Поиск вредоносного программного обеспечения (вирусов, "программ-шпионов", потенциально опасного ПО)</td><td class="p">600&nbsp;руб.</td></tr>
<tr class="b"><td>Загрузка виртуальной ОС</td><td class="p">410&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p3">Подготовка пк к установке операционной системы</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Перенос, сохранение данных</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Создание логического раздела на жестком диске</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Создание скрытого логического раздела на жестком диске</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Форматирование раздела жесткого диска</td><td class="p">490&nbsp;руб.</td></tr>
<tr class="b"><td>Изменение размера раздела без потери информации</td><td class="p">1550&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p4">Помощь в установке операционных систем</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Пред.установка операционной системы Windows 3X/95/98/Millennium</td><td class="p">1200&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows NT Workstation</td><td class="p">780&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows 2000/XP (Home/ Professional)</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows 2000/XP 64 bit (Home/ Professional)</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows Vista</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows Vista 64 bit</td><td class="p">920&nbsp;руб.</td></tr>
<tr class="b"><td>Пред.установка операционной системы Windows 7</td><td class="p">400&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p5">Первичная настройка операционной системы</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Первичная настройка параметров и переменных сред операционной системы Windows 3X/95/98/Millennium</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Первичная настройка параметров и переменных сред операционной системы Windows NT Workstation</td><td class="p">770&nbsp;руб.</td></tr>
<tr><td>Первичная настройка параметров и переменных сред операционной системы Windows 2000/XP (Ноmе/ Professional)</td><td class="p">990&nbsp;руб.</td></tr>
<tr class="b"><td>Первичная настройка параметров и переменных сред операционной системы Windows Vista/Windows 7</td><td class="p">1200&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p6">Оптимизация производительности операционной системы и программного обеспечения</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Изменение файловой системы</td><td class="p">890&nbsp;руб.</td></tr>
<tr><td>Настройка реестра</td><td class="p">950&nbsp;руб.</td></tr>
<tr><td>Оптимизация настроек стандартного программного обеспечения</td><td class="p">от 650&nbsp;руб.</td></tr>
<tr><td>Оптимизация настроек профессионального программного обеспечения</td><td class="p">от 850&nbsp;руб.</td></tr>
<tr><td>Оптимизация настроек специализированного программного обеспечения</td><td class="p">от 1290&nbsp;руб.</td></tr>
<tr><td>Оптимизация настроек программного обеспечения безопасности</td><td class="p">от 580&nbsp;руб.</td></tr>
<tr><td>Установка пакетов обновлений</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Установка языковых пакетов на программное обеспечение</td><td class="p">580&nbsp;руб.</td></tr>
<tr><td>Установка языковых пакетов MUI на операционную систему</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Настройка локальных служб</td><td class="p">1200&nbsp;руб.</td></tr>
<tr class="b"><td>Настройка автозапуска Windows</td><td class="p">900&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p7">Помощь в установке программного обеспечения</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Microsoft Office XP (указана стоимость одного компонента Office XP)</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Microsoft Office 2003 (указана стоимость одного компонента Office 2003)</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Microsoft Office 2007, 2010 (указана стоимость одного компонента Office 2007 или Office 2010)</td><td class="p">380&nbsp;руб.</td></tr>
<tr><td>OpenOffice.org</td><td class="p">660&nbsp;руб.</td></tr>
<tr><td>Электронные словари</td><td class="p">от 350&nbsp;руб.</td></tr>
<tr><td>Архиваторы (программы сжатия файлов)</td><td class="p">от 400&nbsp;руб.</td></tr>
<tr><td>Утилиты</td><td class="p">от 250&nbsp;руб.</td></tr>
<tr><td>Установка и настройка драйвера устройства с дистрибутива заказчика</td><td class="p">340&nbsp;руб.</td></tr>
<tr><td>Установка и настройка драйвера устройства при отсутствующем дистрибутиве и необходимости поиска нужного</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Переводчики</td><td class="p">от 350&nbsp;руб.</td></tr>
<tr><td>Антивирусы</td><td class="p">от 400&nbsp;руб.</td></tr>
<tr><td>Тесты и диагностика</td><td class="p">от 250&nbsp;руб.</td></tr>
<tr><td>Защита и безопасность</td><td class="p">от 800&nbsp;руб.</td></tr>
<tr><td>Оболочки</td><td class="p">от 250&nbsp;руб.</td></tr>
<tr><td>Интернет – программы</td><td class="p">от 250&nbsp;руб.</td></tr>
<tr><td>Мультимедийное программное обеспечение (проигрыватели)</td><td class="p">от 350&nbsp;руб.</td></tr>
<tr><td>Игровые программы</td><td class="p">от 400&nbsp;руб.</td></tr>
<tr><td>Программы записи CD/DVD</td><td class="p">от 550&nbsp;руб.</td></tr>
<tr><td>Установка файловых менеджеров</td><td class="p">от 250&nbsp;руб.</td></tr>
<tr><td>Программное обеспечение для редактирования фотографий</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Графическое Программное обеспечение</td><td class="p">1090&nbsp;руб.</td></tr>
<tr><td>Установка профессионального программного обеспечения</td><td class="p">от 960&nbsp;руб.</td></tr>
<tr><td>Установка специализированного программного обеспечения</td><td class="p">от 1100&nbsp;руб.</td></tr>
<tr><td>Программное обеспечение для сканирования и распознавания текста</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Установка шрифтов (100шт)</td><td class="p">820&nbsp;руб.</td></tr>
<tr><td>Удаление единицы программного обеспечения</td><td class="p">190&nbsp;руб.</td></tr>
<tr class="b"><td>Активация ПО</td><td class="p">450&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p8">Работа с данными</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Перенос, сохранение данных</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Проверка и очистка компьютера от "программ-шпионов"</td><td class="p">800&nbsp;руб.</td></tr>
<tr><td>Удаление компьютерных вирусов</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Комплексное удаление вредоносного ПО, включающее удаление вирусов, "программ-шпионов" и потенциально опасного ПО.</td><td class="p">1600&nbsp;руб.</td></tr>
<tr><td>Удаление RootKit</td><td class="p">от 900&nbsp;руб.</td></tr>
<tr><td>Запись информации на компакт диск</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Восстановление работоспособности программного обеспечения</td><td class="p">от 2000&nbsp;руб.</td></tr>
<tr><td>Восстановление работоспособности ОС</td><td class="p">от 2500&nbsp;руб.</td></tr>
<tr><td>Восстановление информации с жесткого диска</td><td class="p">от 2500&nbsp;руб.</td></tr>
<tr><td>Восстановление информации с USB-носителя, карты памяти.</td><td class="p">от 1500&nbsp;руб.</td></tr>
<tr><td>Открытие ящика электронной почты (e-mail)</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Принудительное обновление антивирусных баз или баз данных программ-антишпионов</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Поиск информации в Интернете</td><td class="p">750&nbsp;руб.</td></tr>
<tr><td>Копирование информации через Интернет</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Активация интернет-карты (пополнение баланса Интернет)</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Регистрация личного кабинета у Интернет-провайдера</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Настройка почтового клиента</td><td class="p">от 780&nbsp;руб.</td></tr>
<tr><td>Криптографическая защита информации</td><td class="p">1980&nbsp;руб.</td></tr>
<tr><td>Деактивация пароля на ОС Windows</td><td class="p">1700&nbsp;руб.</td></tr>
<tr><td>Деактивация паролей 64 bit кодирования</td><td class="p">1490&nbsp;руб.</td></tr>
<tr><td>Деактивация паролей 128 bit кодирования</td><td class="p">1990&nbsp;руб.</td></tr>
<tr><td>Деактивация блокировки доступа на физическом устройстве передачи данных</td><td class="p">1290&nbsp;руб.</td></tr>
<tr><td>Создание образа системы</td><td class="p">1500&nbsp;руб.</td></tr>
<tr><td>Создание системы самовосстановления стандартными средствами ОС</td><td class="p">590&nbsp;руб.</td></tr>
<tr class="b"><td>Создание системы самовосстановления с помощью профессионального ПО</td><td class="p">3000&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p9">Настройка и монтаж локальных сетей и доступа подключения к интернет</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Настройка доступа к подключению Интернет через Dial-Up</td><td class="p">650&nbsp;руб.</td></tr>
<tr><td>Настройка доступа к подключению Интернет на ПК через технологию ADSL</td><td class="p">700&nbsp;руб.</td></tr>
<tr><td>Настройка доступа к подключению Интернет через локальную сеть</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Настройка доступа к подключению Интернет через мобильный телефон (GPRS-соединение)</td><td class="p">1200&nbsp;руб.</td></tr>
<tr><td>Создание доступа к Интернет с помощью беспроводного соединения</td><td class="p">1200&nbsp;руб.</td></tr>
<tr><td>Создание подключения к Интернет по беспроводному соединению с использованием технологии Wi-Max</td><td class="p">1600&nbsp;руб.</td></tr>
<tr><td>Монтаж точки доступа Wi-Fi или роутера Wi-Fi</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Настройка сетевой или W-lan карты</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Настройка точки доступа Wi-Fi или роутера Wi-Fi</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Настройка одного рабочего места в локальной сети</td><td class="p">1000&nbsp;руб.</td></tr>
<tr><td>Настройка МФУ или принтера в локальной сети</td><td class="p">710&nbsp;руб.</td></tr>
<tr><td>Настройка доступа подключения к Интернет через Proxy-Server или «Шлюз»</td><td class="p">от 2500&nbsp;руб.</td></tr>
<tr><td>Настройка VPN</td><td class="p">990&nbsp;руб.</td></tr>
<tr><td>Тестирование Wi-Fi соединения, проверка соединения с точкой доступа Wi-Fi и параметров соединения</td><td class="p">350&nbsp;руб.</td></tr>
<tr class="b"><td>Настройка безопасности Wi-Fi</td><td class="p">470&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p10">Тестирование оборудования</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Техническое заключение о неисправности комплектующей</td><td class="p">850&nbsp;руб.</td></tr>
<tr><td>Программное тестирование аппаратного обеспечения стационарного ПК, ноутбука, нетбука, субноутбука, моноблока</td><td class="p">0/1200&nbsp;руб.</td></tr>
<tr><td>Тестирование монитора</td><td class="p">850&nbsp;руб.</td></tr>
<tr><td>Тестирование принтера.</td><td class="p">750&nbsp;руб.</td></tr>
<tr><td>Тестирование сканера</td><td class="p">750&nbsp;руб.</td></tr>
<tr><td>Тестирование модема Dial-UP</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Тестирование модема ADSL</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Тестирование материнской платы</td><td class="p">800&nbsp;руб.</td></tr>
<tr><td>Тестирование CD-ROM</td><td class="p">420&nbsp;руб.</td></tr>
<tr><td>Тестирование сетевой карты</td><td class="p">320&nbsp;руб.</td></tr>
<tr><td>Тестирование ZIP/ FDD, тестирование работы ZIP/FDD</td><td class="p">320&nbsp;руб.</td></tr>
<tr><td>Тестирование видео- или звуковой карты</td><td class="p">650&nbsp;руб.</td></tr>
<tr><td>Тестирование HDD</td><td class="p">560&nbsp;руб.</td></tr>
<tr><td>Тестирование блока питания</td><td class="p">470&nbsp;руб.</td></tr>
<tr><td>Тестирование процессора</td><td class="p">630&nbsp;руб.</td></tr>
<tr><td>Тестирование оперативной памяти</td><td class="p">710&nbsp;руб.</td></tr>
<tr class="b"><td>Выявление плавающей ошибки в аппаратном обеспечении</td><td class="p">1890&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p11">Установка, профилактика, ремонт, замена комплектующих компьютера</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Сборка системного блока</td><td class="p">1800&nbsp;руб.</td></tr>
<tr><td>Конфигурирование системного блока</td><td class="p">1600&nbsp;руб.</td></tr>
<tr><td>Замена корпуса</td><td class="p">1550&nbsp;руб.</td></tr>
<tr><td>Установка материнской платы</td><td class="p">850&nbsp;руб.</td></tr>
<tr><td>Установка блока питания</td><td class="p">520&nbsp;руб.</td></tr>
<tr><td>Установка HDD</td><td class="p">520&nbsp;руб.</td></tr>
<tr><td>Установка процессора</td><td class="p">490&nbsp;руб.</td></tr>
<tr><td>Установка CD-ROM, FDD</td><td class="p">370&nbsp;руб.</td></tr>
<tr><td>Установка внутреннего модема</td><td class="p">480&nbsp;руб.</td></tr>
<tr><td>Подключение внешнего модема</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Установка видео / звуковой / сетевой платы/TV-тюнера</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Установка оперативной памяти</td><td class="p">300&nbsp;руб.</td></tr>
<tr><td>Установка системы охлаждения центрального процессора(cooler)</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Установка картриджа</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Ремонт мониторов (в лаборатории)</td><td class="p">от 1500&nbsp;руб.</td></tr>
<tr><td>Ремонт материнских плат (в лаборатории)</td><td class="p">от 2000&nbsp;руб.</td></tr>
<tr><td>Ремонт видеокарт (в лаборатории)</td><td class="p">от 2000&nbsp;руб.</td></tr>
<tr><td>Ремонт блоков питания (в лаборатории)</td><td class="p">от 1500&nbsp;руб.</td></tr>
<tr><td>Подключение сканера или принтера</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Подключение МФУ</td><td class="p">720&nbsp;руб.</td></tr>
<tr><td>Подключение МФУ через беспроводные интерфейсы</td><td class="p">1100&nbsp;руб.</td></tr>
<tr><td>Подключение видеокамеры</td><td class="p">890&nbsp;руб.</td></tr>
<tr><td>Подключение обычной или оптической мыши по заявке клиента</td><td class="p">290&nbsp;руб.</td></tr>
<tr><td>Подключение обычной или беспроводной клавиатуры по заявке клиента</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Установка джойстика и других игровых устройств</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Ремонт CD-ROM (на месте)</td><td class="p">490&nbsp;руб.</td></tr>
<tr><td>Ремонт сканера (на месте)</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Ремонт принтера (на месте)</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Создание рабочего места</td><td class="p">570&nbsp;руб.</td></tr>
<tr><td>Подключение звуковых колонок и наушников</td><td class="p">250&nbsp;руб.</td></tr>
<tr><td>Подключение звуковых колонок и выше</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Подключение ПК к телефонной розетке</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Прокладка кабеля (1 м)</td><td class="p">от 50&nbsp;руб.</td></tr>
<tr><td>Распутывание и укладка некорректно проложенного кабеля (1м)</td><td class="p">75&nbsp;руб.</td></tr>
<tr><td>Монтаж короба</td><td class="p">50&nbsp;руб.</td></tr>
<tr><td>Подключение монитора</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Подключение микрофона</td><td class="p">250&nbsp;руб.</td></tr>
<tr><td>Обжим коннекторов</td><td class="p">990&nbsp;руб.</td></tr>
<tr class="b"><td>Демонтаж комплектующих</td><td class="p">150&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p12">Настройка аппаратного и программного обеспечения компьютера и периферии</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Настройка модема</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Настройка ADSL модема в режиме мост/роутер (Router)</td><td class="p">0/990&nbsp;руб.</td></tr>
<tr><td>Настройка модема GPRS /CDMA</td><td class="p">750&nbsp;руб.</td></tr>
<tr><td>Настройка Bluetooth</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Синхронизация сотового телефона с ПК</td><td class="p">1500&nbsp;руб.</td></tr>
<tr><td>Настройка видеокарты</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Настройка TV-тюнера</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Настройка монитора</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Настройка микрофона</td><td class="p">720&nbsp;руб.</td></tr>
<tr><td>Настройка сетевой карты</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Настройка звуковой карты</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Настройка сканера или принтера</td><td class="p">420&nbsp;руб.</td></tr>
<tr><td>Настройка HDD (в т.ч. контроллера HDD)</td><td class="p">550&nbsp;руб.</td></tr>
<tr><td>Вывод видеосигнала на телевизор</td><td class="p">700&nbsp;руб.</td></tr>
<tr><td>Настройка Web камеры</td><td class="p">490&nbsp;руб.</td></tr>
<tr><td>Настройка цифровой фото или видео камеры</td><td class="p">1200&nbsp;руб.</td></tr>
<tr><td>Настройка Irda</td><td class="p">890&nbsp;руб.</td></tr>
<tr><td>Настройка контроллера 1394</td><td class="p">510&nbsp;руб.</td></tr>
<tr><td>Настройка мультимедийных устройств ввода-вывода</td><td class="p">1090&nbsp;руб.</td></tr>
<tr class="b"><td>Настройка спец. оборудования</td><td class="p">от 1500&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p13">Работы, связанные с bios</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Настройка BIOS "Материнской платы"</td><td class="p">650&nbsp;руб.</td></tr>
<tr><td>Перепрошивка BIOS От версии bios зависит стабильность работы всей системы. Чем новее bios тем больше функциональных возможностей и выше стабильность работы у аппаратной части ПК.</td><td class="p">от 1500&nbsp;руб.</td></tr>
<tr><td>Сброс настроек BIOS (Обнуление настроек BIOS) При неправильной настройке БАЗОВОЙ СИСТЕМЫ ВВОДА-ВЫВОДА необходимо сбросить настройки bios на заводские. Иначе последующая настройка будет произведена не корректно. Также эта процедура обязательна к выполнению в случаях не включения компьютера.</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Снятие пароля с BIOS Услуга включает в себя деактивацию пароля пользователя на БАЗОВОЙ СИСТЕМЕ ВВОДА-ВЫВОДА.</td><td class="p">1100&nbsp;руб.</td></tr>
<tr class="b"><td>Замена элемента питания BIOS Услуга включает в себя замену резервного источника питания BIOS.</td><td class="p">320&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p14">Работы с СУБД</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Установка Программного Обеспечения для работы с Базами Данных</td><td class="p">от 900&nbsp;руб.</td></tr>
<tr><td>Подключение Баз Данных</td><td class="p">от 350&nbsp;руб.</td></tr>
<tr><td>Настройка Баз Данных</td><td class="p">от 700&nbsp;руб.</td></tr>
<tr><td>Восстановление Баз Данных из резервной копии</td><td class="p">от 700&nbsp;руб.</td></tr>
<tr><td>Восстановление Баз Данных без резервной копии с использованием специального Программного Обеспечения</td><td class="p">от 1800&nbsp;руб.</td></tr>
<tr><td>Создание резервной копии или перенос Баз Данных</td><td class="p">от 600&nbsp;руб.</td></tr>
<tr><td>Создание системы резервирования Баз Данных или самокопирования</td><td class="p">от 1100&nbsp;руб.</td></tr>
<tr><td>Индексация Баз Данных</td><td class="p">от 350&nbsp;руб.</td></tr>
<tr class="b"><td>Настройка физического или программного ключа защиты для Баз Данных</td><td class="p">от 1100&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p15">Работы со специализированнными ос</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Пред.установка операционной системы Windows Server 2000/2003</td><td class="p">1900&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows Server 2000/2003 64 bit</td><td class="p">2200&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows Server 2008</td><td class="p">2200&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Windows Server 2008 64 bit</td><td class="p">2500&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Unix/Linux/FreeBSD/Solaris</td><td class="p">2700&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Unix/Linux/FreeBSD/Solaris 64 bit</td><td class="p">2900&nbsp;руб.</td></tr>
<tr><td>Пред.установка операционной системы Mac OS</td><td class="p">2990&nbsp;руб.</td></tr>
<tr><td>Первичная настройка параметров и переменных сред операционной системы Windows Server 2000/2003/2008</td><td class="p">2500&nbsp;руб.</td></tr>
<tr><td>Первичная настройка параметров и переменных сред операционной системы Unix/Linux/FreeBSD/Solaris/</td><td class="p">3390&nbsp;руб.</td></tr>
<tr class="b"><td>Первичная настройка параметров и переменных сред операционной систем Mac OS</td><td class="p">2690&nbsp;руб.</td></tr>
</table></div>
</div>
<h2 id="p16">Дополнительные услуги</h2>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div>
<table>
<tr><td>Доставка комплектующих в пределах МКАД до 10 км от МКАД (от 10 км + 200р за 5км)</td><td class="p">400&nbsp;руб.</td></tr>
<tr><td>Индивидуальные консультации по подбору комплектующих для компьютера (за 1 час)</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Индивидуальные консультации по установке и настройке программного обеспечения (без продолжения работ)</td><td class="p">1000&nbsp;руб.</td></tr>
<tr><td>Обучение за сеанс (не более 1 часа)</td><td class="p">1800&nbsp;руб.</td></tr>
<tr class="b"><td>Работа сервисного инженера, не подпадающая под пункты прайс-листа (за 1 час)</td><td class="p">900&nbsp;руб.</td></tr>
</table></div>
</div>

<h2 id="information">Примечания</h2>
<ol>
<li>Подробное описание каждой услуги вы можете уточнить по телефону 646-01-26</li>
<li>Наценка за срочность выполнения работ - 30%</li>
<li>Наценка на работы по устранению неисправностей в ночное время (с до 00.00) - 50%</li>
<li>Наценка на работы по устранению неисправностей в ночное время (с до 04.00) - 80%</li>
<li>Наценка на работы по устранению неисправностей в ночное время (с до 09.00) - 130%</li>
<li>Обслуживание компьютеров ниже класса Pentium 4 и AMD Аthlon XP включительно - 15%</li>
<li>Работы по ремонту и обслуживанию ноутбуков - 30%</li>
<li>Работы по ремонту и обслуживанию ноутбуков и моноблоков Macintosh выполняются с наценкой - 45%</li>
<li>Работы по ремонту и обслуживанию нетбуков и субноутбуков - 35%</li>
<li>Работа с программным обеспечением на иностранном языке оплачивается с наценкой - 30%</li>
<li>Ложный вызов мастера (отсутствует необходимость выполнения работ) - 1000 руб.</li>
<li>Гарантия на оборудование предоставляется фирмой производителем;</li>
</ol>

</div>