<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div><img src="http://static.akvi.ru/i/svin/svin2.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Пакет услуг «Установка Windows на Mac»</h1>
<p>В стоимость пакета входит установка Windows на компьютер Mac, установка драйвров Bootcamp, настройка Интернет и установка антивируса.</p>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>

<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">от 6060&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">2121&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Установка или обновление BootCamp</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Создание NTFS раздела под Windows</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Форматирование</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Установка Windows XP/7</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Настройка OC</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Установка драйвера ( звук, видео, интернет)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr><td>Настройка интернет соединения</td><td class="p">490&nbsp;руб.</td></tr>
<tr><td>Установка Антивируса</td><td class="p">900&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>6060&nbsp;руб.</del><br/><span class="green">2121&nbsp;руб.</span></td></tr>
</table></div>
</div>

<h2>Примечания</h2>
<ol>
<li>Для активации программ и Windows используются серийные номера клиента.</li>
<li>Стоимость услуг указана без учета стоимости программного обеспечения.</li>
<li>Гарантия на производимые работы по настройке программного обеспечения составляет <b>1 год</b>.</li>
<li>Повторный вызов бесплатный, если это обусловлено виной мастера.</li>
</ol>

</div>