<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div><img src="http://static.akvi.ru/i/svin/svin4.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Пакет услуг «Комплексный апгрейд компьютера»</h1>
<p>Пакет услуг «<b>Комплексный апгрейд&nbsp;компьютера</b>» включает в себя диагностику вашего компьютера на возможность апгрейда, подбор нового оборудования, покупку, доставку и установку в системный блок, а также настройку компьютера с новым оборудованием и подготовку к работе.</p>
<!--
<p>Процесс происходит следующим образом:</p>
<ol>
<li>Наш менеджер уточняет текущую конфигурацию вашего компьютера по телефону или электронной почте;</li>
<li>Мы подбираем оптимальный вариант апгрейда компьютера с учетом текущей конфигурации и Ваших пожеланий;</li>
<li>После утверждения перечня устройств мы заказываем доставку оборудования у нашего партнера «<b>Джаст Компьютерс</b>» по оптовой колонке;</li>
<li>В течение двух дней курьер из «<b>Джаст Компьютерс</b>» доставляет Вам оборудование с чеками и гарантией;</li>
<li>После этого с Вами связывается наш менеджер и договаривается о времени приезда специалиста;</li>
<li>Наш специалист приезжает к Вам домой и устанавливает оборудование. Оплата производится по факту выполнения работы, никакой предоплаты не требуется!</li>
</ol>
-->
<p>При оформлении заказа обязательно сообщите оператору, что вы заказываете пакет услуг «Комплексный апгрейд компьютера».</p>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>
<p class="promo">&#151; Стоимость услуг по отдельности от <span class="red">3780&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">1323&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><th>Наименование услуги</th><th class="p">Цена</th></tr>
<tr><td>Диагностика компьютера на возможность апгрейда, подбор комплектующих</td><td class="p">790&nbsp;руб.</td></tr>
<tr><td>Доставка комплектующих со склада</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Замена процессора + процессорного вентилятора (кулера)</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Замена видеокарты</td><td class="p">450&nbsp;руб.</td></tr>
<tr><td>Установка/замена оперативной памяти</td><td class="p">300&nbsp;руб.</td></tr>
<tr><td>Замена блока питания</td><td class="p">950&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>3780&nbsp;руб.</del><br/><span class="green">1323&nbsp;руб.</span></td></tr>
</table></div>
</div>
<h2>Примечания</h2>
<ol>
<li>Стоимость услуг указана без учета стоимости оборудования.</li>
<li>При выходе из строя отдельных деталей компьютера ответственность несет фирма-производитель. Гарантия на комплектующие также предоставляется фирмой-производителем.</li>
<li>Гарантия на производимые работы по настройке программного обеспечения составляет <b>1 год</b>.</li>
</ol>

</div>