<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div><img src="http://static.akvi.ru/i/svin/svin5.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Пакет услуг «Удаление вирусов»</h1>
<p>Пакет услуг «<b>Удаление вирусов</b>» включает в себя установку антивируса, диагностику компьютера на наличие вирусов и их нейтрализацию, а также удаление программ-информеров.</p>
<p>В некоторых, особо серьезных случаях вирусного заражения, удалить вирусы невозможно с сохранением работоспособности системы. В этом случае производится полная переустановка системы. С ценами на пакеты услуг по установке Windows вы можете ознакомиться <a href="http://www.akvi.ru/price/windows.html">здесь</a>.</p>
<p>Пакет услуг может быть оказан после бесплатной предварительной диагностики и только в случае, если удаление вирусов не приведет к потере работоспособности системы (на основе анализа степени заражения специальной программой).</p>
<p>При оформлении заказа обязательно сообщите оператору, что вы заказываете пакет услуг «Удаление вирусов».</p>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>

<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">от 3790&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">1327&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Установка антивируса</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Антивирусная профилактика</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Работа с Live CD</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Восстановление Windows XP/Vista/7</td><td class="p">1490&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>3790&nbsp;руб.</del><br/><span class="green">1327&nbsp;руб.</span></td></tr>
</table></div>
</div>
<h2>Примечания</h2>
<ol>
<li>Активация антивирусной программы производится с использованием лицензионного ключа клиента. По вашему желанию мы можем приобрести программу антивирусной защиты «Антивирус Касперского» с лицензией на один год на два компьютера.</li>
<li>При отсутствии лицензионного ключа мы установим бесплатную версию <b>avast! Home Edition</b> или проведем сканирование системы без активации антивируса.</li>
<li>Гарантия на производимые работы составляет <b>1 год</b>.</li>
</ol>

</div>