<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Пакеты услуг по установке Wi-Fi</h1>
<p>Пакет услуг «<b>Установка Wi-Fi сети</b>» включает в себя настройку беспроводного Wi-Fi роутера, организацию беспроводной сети с выходом в Интернет и подключение к Wi-Fi сети до трех устройств.</p>
<p>При оформлении заказа обязательно сообщите оператору, что вы заказываете пакет услуг «Установка Wi-Fi сети».</p>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>

<p class="h1">Пакет услуг «Установка Wi-Fi Home»</p>
<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">3440&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">1204&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Подбор, покупка и доставка роутера и другого необходимого оборудования</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Настройка доступа в Интернет через роутер</td><td class="p">1080&nbsp;руб.</td></tr>
<tr><td>Настройка безопасности Wi-Fi сети</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Подключение устройств к сети (<b>до трех</b>)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>3440&nbsp;руб.</del><br/><span class="green">1204&nbsp;руб.</span></td></tr>
</table></div>
</div>

<p class="h1">Пакет услуг «Установка Wi-Fi Media Home»</p>
<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">4720&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">1652&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Подбор, покупка и доставка роутера и другого необходимого оборудования</td><td class="p">500&nbsp;руб.</td></tr>
<tr><td>Настройка доступа в Интернет через роутер</td><td class="p">1080&nbsp;руб.</td></tr>
<tr><td>Настройка безопасности Wi-Fi сети</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Настройка маршрутизации сети</td><td class="p">690&nbsp;руб.</td></tr>
<tr><td>Подключение и настройка сетевого принтера</td><td class="p">590&nbsp;руб.</td></tr>
<tr><td>Подключение устройств к сети (<b>до трех</b>)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>4720&nbsp;руб.</del><br/><span class="green">1652&nbsp;руб.</span></td></tr>
</table></div>
</div>

<h2>Примечания</h2>
<ol>
<li>Стоимость оборудования не включена в пакет услуг.</li>
<li>Гарантия на производимые работы по настройке программного обеспечения и оборудования составляет <b>1 год</b>.</li>
<li>Гарантия на оборудование предоставляется фирмой-изготовителем.</li>
</ol>
</div>