<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Вернуться к ценам</a></div><img src="http://static.akvi.ru/i/svin/svin2.jpg" alt="Цены на услуги компьютерной помощи" style="float: right"/>
<h1>Пакеты услуг по установке и настройке Windows</h1>
<p>Операционная система Windows, установленная в чистом виде в общем-то бесполезна. Вы не сможете работать с документами, выходить в Интернет и играть в игры. Чтобы компьютер «ожил», потребуется установить драйверы устройств, программы, настроить сетевое подключение и установить антивирус.</p>
<p>Чтобы сэкономить ваши деньги, мы разработали два пакета услуг&nbsp;&#151; «<b>Минимальная</b>» и «<b>Полная</b>» установка Windows.</p>
<ul>
<li>«<b>Минимальная установка Windows</b>» включает в себя перенос небольшого количества пользовательских данных (до 3 ГБ), установку операционной системы, минимально необходимого набора драйверов (звука, видео, чипсет и один сетевой драйвер) и подключение к сети Интернет. Установка программ, в том числе Microsoft Office в этот пакет <b>не входит</b>.</li>
<li>«<b>Полная установка Windows</b>» включает в себя «<b>Минимальную</b>», но помимо этого мы перенесем до 20 ГБ данных, установим антивирус, Microsoft Office и набор необходимых для работы программ.</li>
</ul>
<p><strong>Выбирая пакеты услуг по установке и настройке Windows, вы экономите 65%!</strong>. При оформлении заказа обязательно сообщите нашему оператору, что вы заказываете пакет услуг. В противном случае мастер рассчитывает стоимость работ в соответствии с <a href="http://www.akvi.ru/price/">основным прайс-листом</a>.</p>
<div class="guru g1"><p>Новейшие операционные системы Windows 7 и Vista автоматически загружают и устанавливают драйверы из Интернета. Мы поступаем честно и не берем с клиентов деньги за то, что система делает автоматически без участия мастера.</p><p>В расчетах ниже предполагается установка Windows XP, которая не умеет автоматически находить драйверы, поэтому их установка включена в стоимость.</p></div>
<p>Прайс-лист действителен от <b>1 мая 2011</b>.</p>
<br/><br/>


<p class="h1" id="min">Пакет услуг «Минимальная установка Windows»</p>
<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">от 4500&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">1575&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><td>Перенос данных (до 3 ГБ)</td><td class="p">1150&nbsp;руб.</td></tr>
<tr><td>Настройка BIOS</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Форматирование жесткого диска</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Деление дискового пространства</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Установка Windows XP</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Установка стандартных драйверов (3 шт.)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr><td>Подключение к сети Интернет</td><td class="p">490&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>4500&nbsp;руб.</del><br/><span class="green">1575&nbsp;руб.</span></td></tr>
</table></div>
</div>

<p class="h1" id="full">Пакет услуг «Полная установка Windows»</p>
<p class="promo">&#151; Стоимость услуг по отдельности <span class="red">12090&nbsp;руб.</span></p>
<p class="promo">&#151; Стоимость пакета услуг <b>при наличии купона</b> <span class="green">4232&nbsp;руб.</span>, экономия <span class="green">65%</span>!</p>
<div class="price rel">
<img src="http://static.akvi.ru/i/0.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/0.gif" alt="" class="br"/>
<div><table>
<tr><th>Наименование услуги</th><th class="p">Цена</th></tr>
<tr><td>Настройка BIOS</td><td class="p">600&nbsp;руб.</td></tr>
<tr><td>Перенос данных (до 10 ГБ)</td><td class="p">3900&nbsp;руб.</td></tr>
<tr><td>Форматирование жесткого диска</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Деление дискового пространства (если необходимо)</td><td class="p">350&nbsp;руб.</td></tr>
<tr><td>Установка Windows XP</td><td class="p">390&nbsp;руб.</td></tr>
<tr><td>Настройка Windows XP</td><td class="p">990&nbsp;руб.</td></tr>
<tr><td>Установка стандартных драйверов (3 шт.)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr><td>Установка антивируса<br/>(Касперский, Avast! Home Edition, Dr. Web, NOD32)</td><td class="p">900&nbsp;руб.</td></tr>
<tr><td>Установка Мicrosoft Office</td><td class="p">1290&nbsp;руб.</td></tr>
<tr><td>Установка кодеков для просмотра видео</td><td class="p">490&nbsp;руб.</td></tr>
<tr><td>Установка до трех программ (браузер, архиватор, Acrobat Reader, Skype, ICQ)</td><td class="p">1170&nbsp;руб.</td></tr>
<tr><td>Подключение к сети Интернет</td><td class="p">490&nbsp;руб.</td></tr>
<tr class="sum b"><td>Итого</td><td class="p"><del>12090&nbsp;руб.</del><br/><span class="green">4232&nbsp;руб.</span></td></tr>
</table></div>
</div>


<h2>Примечания</h2>
<ol>
<li>Для активации программ и Windows используются серийные номера клиента.</li>
<li>Стоимость услуг указана без учета стоимости программного обеспечения.</li>
<li>Гарантия на производимые работы по настройке программного обеспечения составляет <b>1 год</b>.</li>
<li>Повторный вызов бесплатный, если это обусловлено виной мастера.</li>
</ol>

</div>