<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div>
<h1>Установка программ</h1>
<p>Специалисты нашего сервиса помогут вам в решении любых вопросов, связанных с  установкой любых программ, как домашних, так и профессиональных.</p>
<p>Для организаций мы оказываем не только не только услуги непосредственно по установке программ, но и консультационную поддержку по приобретению корпоративных лицензий на максимально выгодных условиях.</p>
<div class="hl">
<img src="http://static.akvi.ru/i/tl.gif" alt="" class="tl"/>
<img src="http://static.akvi.ru/i/br.gif" alt="" class="br"/>
<p>Мы устанавливаем программы только с оригинальных носителей и активируем лицензионными ключами. Для большинства программных продуктов мы сами предоставляем лицензии, но такие программы, как Photoshop, AutoCAD и 1С, мы устанавливаем только при наличии лицензионного дистрибутива у клиента.</p>
</div>

<p class="h2">Что мы предлагаем?</p>
<ol>
<li>Установим и настроим любые программы;</li>
<li>Поможем с приобретением лицензий;</li>
</ol>
<p class="h2">Сколько стоят лицензионные программные продукты?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Лицензия</td><td>Стоимость, руб.</td></tr>
<tr style="background: #eef3f9"><td>Windows 7 Home Basic</td><td>3100</td></tr>
<tr style="background: #eef3f9"><td>Windows 7 Home Premium</td><td>4600</td></tr>
<tr style="background: #eef3f9"><td>Windows 7 Professional Russian</td><td>6800</td></tr>
<tr style="background: #eef3f9"><td>Windows 7 Ultimate</td><td>9800</td></tr>
<tr><td>Microsoft Office 2010 Для дома и Учебы</td><td>2900</td></tr>
<tr><td>Microsoft Office 2010 Professional</td><td>16250</td></tr>
<tr style="background: #eef3f9"><td>Антивирус Kaspersky 2010</td><td>1200</td></tr>
<tr style="background: #eef3f9"><td>Антивирус ESET NOD32</td><td>1080</td></tr>
<tr><td>Photoshop CS5</td><td>26 000</td></tr>
<tr><td>Adobe Creative Suite 5 Web Premium</td><td>66 000</td></tr>
<tr><td>AutoCAD 2011</td><td>117 000</td></tr>
</table>
</div>

<br/><p>Стоимость программных продуктов периодически меняется в зависимости от курса доллара и других факторов. Уточняйте стоимость программ перед заказом мастера. Цены верны на 1 августа 2010.?</p><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>

<p class="h1">Установка и удаление программ</p>
<p>Большинство пользователей каждый день сталкиваются с процедурой установки или удаления различных компьютерных программ. Обычно это не вызывает трудностей, но бывают ситуации, когда по тем или иным причинам при установке программ могут возникнуть проблемы. Это может происходить из-за несовместимости программы и операционной системы, внутренних ошибок при инсталляции, действий вирусов, специфических свойств самой программы и по другим причинам.</p>
<p>Удаление программ также не всегда проходит гладко. Из-за неправильно удаленной программы в системе могут происходить сбои и зависания, а также могут возникнуть трудности при попытке повторной установки этой программы. К тому же, неправильно удаленные программы остаются на жестком диске, что ведет к засорению реестра, утечке места и фрагментации.</p>

<h2>Установка программ в различных операционных системах</h2>
<p><b>Установка программ в Windows XP</b></p>
<p>На сегодняшний день Windows XP является самой распространенной операционной системой среди пользователей домашних компьютеров. Если на момент выхода операционной системы были проблемы с установкой старых программ, написанных под Windows 98 и 2000, то сейчас можно смело сказать, что эти трудности уже позади. Все современные программы, выпущенные после 2002 года, уже не имеют серьезных проблем с установкой на Windows XP.</p>
<p>Ситуация несколько изменилась с выходом 64-битной версии Windows XP. Многие разработчики стали создавать программы специально для этой системы, а пользователи, не замечая надписи «x64», скачивали эти программы. Естественно, установка таких программ на обычную Windows XP оказывалась невозможной. Еще сильнее путаница усугубилась тем, что на 64-битной системе обычные 32-разрядные программы устанавливались без каких-либо трудностей.</p>
<p><b>Установка программ в Windows Vista</b></p>
<p>С выходом Windows Vista пользователи обнаружили, что некоторые программы, которые прекрасно работали под Windows XP, совершенно не хотят устанавливаться в Vista. Связано это с новым ядром операционной системы, из которого в целях повышения производительности и надежности выкинули части старого кода, необходимого для поддержки совместимости со старыми приложениями.</p>
<p>Чтобы хоть как-то решить возникшую проблему установки программ, Microsoft выпустила бесплатную утилиту Windows Application Compatibility Toolkit, которую можно скачать с официального сайта компании. Полноценным решением эта утилита, к сожалению, не стала, и, хотя у пользователей по прежнему продолжали возникать проблемы с установкой программ в Windows Vista, определенную долю сложностей она все-таки сняла. В любом случае, если у вас не устанавливается программа в Windows Vista и у вас есть подозрение, что проблема кроется в совместимости с этой операционной системой, вам в первую очередь стоит попробовать установить эту утилиту и с ее помощью попытаться запустить программу.</p>
<p>Если у вас возникли проблемы в ходе установки программы на Windows, и вы не уверены в чем именно кроется проблема, спросите нашего консультанта! Позвоните нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> и задайте ему все интересующие вас вопросы по поводу установки программ.</p>
<div style="margin-top: 30px; text-align: center;"><img src="http://static.akvi.ru/i/win7.jpg" alt="Windows 7" /></div>
<h2>Установка и настройка программ</h2>
<p>Стабильность системы и корректная работа приложений зависит от правильности их установки и настройки. У различных типов программ имеется своя специфика установки. К примеру, существуют программы, которые устанавливаются в течение нескольких секунд, не требуя при этом никаких настроек, а бывают программные пакеты, при установке которых вам будет предложено выбрать нужные вам компоненты.</p>
<p>Большинство программных пакетов, таких как Microsoft Office устанавливают ради одной-двух программ (Word и Excel), а остальные приложения просто занимают место на жестком диске и затормаживают работу компьютера. Чтобы этого не происходило, при установке программных пакетов следует выбирать только те приложения, которыми вы будете в дальнейшем пользоваться.</p>
<p>Отдельно стоит выделить установку и настройку программ антивирусной защиты, так как при некорректной установке и эксплуатации таких программ, в системе могут начаться сбои. Главное перед установкой антивируса убедиться, что на вашем компьютере нет другой антивирусной программы. Если таковая есть, то она должна быть корректно и полностью удалена перед установкой новой во избежание конфликтов.</p>
<p>Перед покупкой и установкой новой игры, следует внимательно прочесть системные требования к ней. Если они выше, чем ресурсы, которыми обладает ваш компьютер, то игра может либо вообще не запуститься, либо тормозить. В такой ситуации стоит задуматься о модернизации или покупке нового компьютера.</p>
<p>При установке почтовых программ главное правильно настроить ее на работу с почтовым сервером.</p>
<p>Установка мультимедиа программ необходима для просмотра видео и прослушивания музыки на вашем компьютере. Следует иметь в виду, что не стоит устанавливать на компьютер большое количества мультимедиа программ, так как они используют разделяемые ресурсы системы и потому могут конфликтовать друг с другом. Как правило, достаточно одной программы для просмотра видео и одной для прослушивания музыки. Ни в коем случае нельзя засорять систему кодеками, устанавливая все подряд какие ни попади. Это прямой путь к нестабильной и медленной работе системы. Своим клиентам мы устанавливаем K-Lite Codecs Pack, который позволяет просматривать фильмы в подавляющем большинстве форматов.</p>
<p>Существуют также программы, не требующие установки. Они особенно полезны, если вы не являетесь администратором компьютера, и у вас не хватает прав для установки тех или иных приложений. В такой ситуации стоит выяснить, есть ли у нужной вам программы версия, не требующая установки.</p>
<p>От правильной установки драйвера зависит будущая успешная работа, как устройства, для которого этот драйвер предназначен, так и компьютера в целом. Драйверы пишутся под определенные версии Windows, и для корректной работы, не рекомендуется устанавливать драйвер от одной версии Windows на другую.</p>
<p>При возникновении проблем при установке какой-либо программы или приложения, звоните по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> или оставляйте заявку на сайте.</p>

<h2>Установка программ на портативные устройства</h2>
<p>Сегодня без портативных устройств, таких как мобильный телефон, КПК или коммуникатор, едва ли можно обойтись. Практически на любое портативное устройство возможно установить приложения или игры. Нужно иметь ввиду, что для портативных устройств необходимо специальное программное обеспечение, и стандартные программы, работающие на обычных компьютерах, на них запускаться не будут.</p>
<p><b>Установка программ на КПК</b></p>
<p>Преимущественно современные КПК работают на базе операционной системы Windows Mobile. Установка программ на КПК с Windows Mobile происходит либо с помощью подключения к компьютеру с использованием Active Sync, либо напрямую, через само устройство.</p>
<p><b>Установка программ на мобильные телефоны и коммуникаторы</b></p>
<p>Практически все мобильные телефоны имеют поддержку Java приложений. Установка на различные модели телефонов немного различается, но в целом не вызывает трудностей, так как большинство современных устройств такого типа поддерживает подключение к компьютеру, и установку Java программ можно произвести с помощью компьютера.</p>
<p>Также сегодня очень популярны смартфоны Nokia с операционной системой Symbian. Эти устройства обладают большим количеством средств для коммуникации (Bluetooth, Wi-Fi, GPS-навигация, GPRS-интернет и т.д.), емкой памятью, и возможностью установить программное обеспечение для решения практически любых задач.</p>
<p><b>Установка программ на iPhone</b></p>
<p>За последние два года большой популярностью стали пользоваться телефоны Apple iPhone, благодаря своему дизайну, эргономике и удобству эксплуатации. Установка программ на iPhone осуществляется при помощи программы iTunes или напрямую с устройства через программу AppStore при наличии программного обеспечения версии 2.0 и выше.</p>
<p>Наши специалисты помогут вам найти и установить любое программное обеспечение на ваше портативное устройство. Цены на услуги вы можете узнать по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> или посмотреть в прайс-листе.</p>

<h2>Удаление программ и приложений</h2>
<p>При работе на компьютере вопрос об удалении программ встает не реже, чем об их установке, но решить его порой бывает сложнее.</p>
<p><b>Полное удаление программ</b></p>
<p>При длительной эксплуатации операционной системы установка и удаление программ происходит десятки раз, реестр Windows при этом засоряется, и вся система начинает работать медленнее и менее стабильно. Чтобы этого не происходило, необходимо полностью удалять программы, используя специальные приложения.</p>
<p><b>Удаление драйверов</b></p>
<p>При обновлении драйверов или инсталляции нового устройства, необходимо сначала удалить старые версии драйверов. Если этого не сделать, при установке драйвера могут возникнуть ошибки, и сама система может работать нестабильно. Подробнее про удаление драйверов.</p>
<p><b>Удаление неудаляемых программ и файлов</b></p>
<p>Многие из нас сталкивались с ситуацией, когда при необходимости удалить какой-либо файл или программу, выскакивает сообщение о невозможности данного действия. Решить такую проблему можно либо с помощью специальных программ, либо стандартными средствами Windows. Подробнее про удаление неудаляемых фалов и приложений.</p>
<p><b>Удаление вредоносных программ</b></p>
<p>Наиболее проблематично удалить вручную различные вредоносные программы или вирусы, так как их создатели намеренно стараются усложнить процесс их удаления с компьютера. В такой ситуации лучше всего установить антивирусную программу, которая произведет удаление вредоносных программ и лечение компьютера от вирусов.</p>

<div class="guru g2">
<p>При установке программ будьте внимательны, так как от этого зависит быстродействие и стабильность работы всей операционной системы. Для увеличения срока эксплуатации ОС рекомендуется периодически чистить реестр и производить полное удаление программ из системы. Также следует иметь установленное антивирусное приложение, для защиты от внешних атак и вредоносных программ, которые зачастую устанавливаются сами без ведома пользователя, используя уязвимости операционной системы.</p>
<p>Вот несколько ценных советов по установке программ:</p>
<ol>
<li>Никогда не устанавливайте программы, если вы не уверены, что они вам нужны. Любая установленная программа не только занимает место на жестком диске, но и прописывает ключи в реестр, которые не всегда потом удаляет. Это ведет к потере места на жестком диске и замедлению работы системы.</li>
<li>Перед установкой любую программу, особенно скачанную из Интернета, следует проверить на наличие вирусов. Это следует делать даже если ее вам посоветовал ваш друг или знакомый&nbsp;— он сам может не знать об опасности.</li>
<li>При установке программ не стоит быстро жать далее-далее-далее-готово. Если внимательно читать, что вам предлагают установить, то можно избавить себя от навязчивых тулбаров и других неприятных «довесков».</li>
</ol>
</div>

<p>Если у вас есть вопросы по установке и удалению программ , вы можете задать их нам по телефону <span style="white-space: nowrap">+7 (495) <b>646-01-26</b></span> или оставив заявку на сайте.</p>
</div>