<div class="txt">
<div class="back"><a href="http://www.akvi.ru/price/">Прайс-лист</a></div><img src="http://static.akvi.ru/i/svin/svin6.jpg" alt="" style="float: right; padding-left: 30px"/>

<h1>Настройка домашней сети</h1>

<p><b>Понятие «домашняя сеть Wi-Fi» несколько шире, чем просто настроенная беспроводная сеть: оно подразумевает грамотно выстроенную сетевую инфраструктуру, через которую все ваши сетевые устройства могут эффективно взаимодействовать друг с другом.</b></p>
<p>Под словом «устройства» мы подразумеваем не только компьютеры, но и другое оборудование: смартфоны, планшеты, принтеры, телевизоры.</p>
<p>При наличии соответствующего оборудования, правильно организованная домашняя сеть позволяет делать такие вещи, как:</p>
<ul>
<li>Печать документов на принтере прямо с мобильного телефона;</li>
<li>Подключение самого обычного принтера к нескольким компьютерам одновременно;</li>
<li>Воспроизведение на телевизоре фильмов, которые находятся на компьютере, без необходимости соединения этих устройств кабелем;</li>
<li>Общий доступ к файлам на внешнем жестком диске, подключенном к роутеру.</li>
</ul>
<p>При правильной и продуманной организации вашей домашней сети Wi-Fi, разрозненные устройства начнут жить в едином пространстве и взаимодействовать друг с другом так, как вы даже себе не могли представить!</p>




<p class="h2">Чем мы можем помочь?</p>
<ol>
<li><b>Настройка домашней сети «под ключ».</b> Комплексное решение задачи по организации доступа в Интернет у вас дома.</li>
<li><b>Настройка Wi-Fi на компьютере.</b> Настроим беспроводное подключение на ноутбуке или компьютере к роутеру.</li>
<li><b>Соединение двух компьютеров.</b> Настроим соединение между компьютерами напрямую (по Wi-Fi или Ethernet-кабель), или через роутер.</li>
<li><b>Установка пароля на Wi-Fi.</b> Не хотите, чтобы соседи пользовались вашим доступом в Интернет? Это именно то, что вам нужно!</li>
<li><b>Решим любые другие задачи.</b> Требуется что-то специфическое? Обращайтесь к нам по телефону 646-01-26 и получите бесплатную консультацию!</li>
</ol>

<p class="h2">Сколько стоят услуги?</p>
<div class="mpholder">
<img src="http://static.akvi.ru/i/stamp.png" alt=""/>
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>
<tr><td>Настройка доступа в интернет на компьютере (DHCP)</td><td>390</td></tr>
<tr><td>Создание Wi-Fi сети</td><td>190</td></tr>
<tr><td>Настройка безопасности Wi-Fi (WPA/WPA2)</td><td>690</td></tr>
</table>
</div>
<br/><br/>
<p class="promo">Выезжаем за 2 часа в любой район Москвы!</p>
<p class="promo">Звоните: <big class="red">(495) 646-01-26</big></p>

<div style="margin: 50px 65px"><a href="http://static.akvi.ru/i/coupon.png" style="float: left; padding-right: 20px;"><img src="http://static.akvi.ru/i/coupon_small.png" alt="Распечатайте купон" style="width: 161px; height: 86px;"/></a><div style="width: 600px; padding-top: 15px;"><p>Распечатайте <a href="http://static.akvi.ru/i/coupon.png">купон</a> и получите скидку 5% на услуги по ремонту персонального компьютера, показав его мастеру.</p></div><div style="clear: left"></div></div>


<h2>Как настроить домашнюю сеть?</h2>
<p>Если вам необходимо настроить домашнюю сеть напрямую между двумя компьютерами (без использования роутера), то вам <a href="/wifi/2-computera/">сюда</a>.</p>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="1"/></div>
<div class="best">
<p><b>Выбор роутера</b></p>
<p>Для организации домашней сети вам потребуется Wi-Fi роутер: именно он является связующим звеном для всех ваших устройств.</p>
<p>Ранее мы уже рассказывали, как <a href="/wifi/router/">выбирать роутер</a>, поэтому сейчас не будем на этом сильно останавливаться, а просто еще раз подчеркнем, что если вы хотите <i>настроить принтер через роутер</i>, то при выборе устройства обратите внимание на наличие USB-порта.</p>
</div>

<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="2" style="background-position: 0 -90px"/></div>
<div class="best">
<p><b>Настройка домашней сети на роутере</b></p>
<p>Итак, роутер выбран. Теперь нужно настроить на нем Wi-Fi сеть. Настройка беспроводной сети на роутере сводится к указанию следующих параметров:</p>
<ul>
<li>имя сети (SSID)</li>
<li>тип шифрования (или оставить сеть открытой)</li>
<li>пароль</li>
<li>видимость сети</li>
</ul>
<p>Подробно процедура настройки Wi-Fi на роутере описана в этой <a href="/wifi/router/">статье</a>.</p>
<p>Далее вам потребуется подключить домашнюю сеть к интернету, чтобы доступ был на всех компьютерах. Процедура настройки интернета сильно зависит от провайдера, к которому вы подключены. Мы собрали инструкции по настройке доступа в интернет на роутерах для основных провайдеров Москвы (Билайн, Стрим, МГТС, Акадо,NetByNet и др.) в <a href="/wifi/router/provider.html">этой статье</a>.</p>
</div>	

<div class="mpholder">
<table class="miniprice">
<tr class="t"><td>Услуга</td><td>Стоимость</td></tr>
<tr><td>Выезд и диагностика</td><td>бесплатно</td></tr>

<tr><td>Настройка доступа в интернет на роутере (DHCP)<br><small>Акадо, QWERTY и другие провайдеры</small></td><td>390</td></tr>
<tr><td>Настройка доступа в интернет на роутере (VPN/L2TP)<br><small>Билайн (Корбина), Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>
<tr><td>Настройка доступа в интернет на роутере (PPPoE/ADSL)<br><small>Стрим (МТС), МГТС, Netbynet (Мегафон) и другие провайдеры</small></td><td>690</td></tr>

</table>
</div>
	
<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="3" style="background-position: 0 -180px"/></div>
<div class="best">
<p><b>Подключение устройств к роутеру</b></p>
<p>Отлично, домашняя сеть Wi-Fi создана и подключена к интернету. Теперь самое время подключить к ней ваши устройства, оборудованные Wi-Fi антенной: компьютеры, ноутбуки, мобильные телефоны, планшеты, принтер и т.п.</p>
<p>Независимо от типа устройства, которое вы собираетесь подключить, процедура сводится к выбору на устройстве только что созданной беспроводной домашней сети из списка доступных, и вводу пароля (ключа безопасности Wi-Fi). Если вы уже настроили подключение к интернету на роутере, то, в качестве проверки работоспособности домашней сети, можете попробовать зайти с любого устройства на какой-нибудь сайт.</p>
<p>Подробнее процессы подключения к домашней сети Wi-Fi различных версий Windows описаны в статьях:</p>
<ul>
<li><a href="/wifi/nastroika-wifi-windows/xp.html">настройка Wi-Fi на Windows XP</a></li>
<li><a href="/wifi/nastroika-wifi-windows/vista.html">настройка Wi-Fi на Windows Vista</a></li>
<li><a href="/wifi/nastroika-wifi-windows/7.html">настройка Wi-Fi на Windows 7</a></li>
<li><a href="/wifi/nastroika-wifi-windows/8.html">настройка Wi-Fi на Windows 8</a></li>
</ul>
</div>
	
<div class="num"><img src="http://static.akvi.ru/i/0.gif" alt="4" style="background-position: 0 -270px"/></div>
<div class="best">
<p><b>Подключение принтера к роутеру</b></p>
<p>Если в домашней сети состоят несколько компьютеров, при этом у вас всего один принтер, возможно, вы захотите настроить совместное использование принтера через роутер (для этого у роутера должен быть разъем USB). Существует два способа сделать это:</p>
<ol>
<li><b>Подключить принтер через роутер</b>. Для подключения этим способом вам потребуется роутер с функцией сетевой печати, например, D-Link DIR-320 NRU. Подробно процедура настройки принтера через роутер изложена <i>здесь</i>.</li>
<li><b>Настроить принтер на работу по сети</b>. Если принтер, который вы собираетесь использовать в вашей домашней сети, изначально имеет функцию печати по сети, или даже имеет Wi-Fi антенну, то процедура его настройки еще проще. Вам потребуется присоединить его к вашей домашней сети через Ethernet-кабель или Wi-Fi (воспользуйтесь инструкцией к принтеру, чтобы сделать это). Далее потребуется с установочным диском подойти к каждому компьютеру и установить драйвер принтера, выбрав при установке пункт «Подключение по сети».</li>
</ol>
</div>



		
<p>		
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div> 
</p>
<p><a href="https://plus.google.com/109725899203331706974?rel=author" rel="publisher" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a></p>

<p><b>Подтвержденная квалификация наших специалистов позволяет нам подбирать оптимальные решения по организации домашней сети индивидуально под каждого клиента. Получить бесплатную консультацию и вызвать мастера вы можете по телефону 646-01-26.</b></p>

</div>